// 3DS default style
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/images";
@import "compass/css3/background-size";

@import "variables";
@import "mixins";
@import "elements";

body{
	background: red;
	color: #333;
	font-family: helvetica;
	font-size: 14px;
	font-weight: lighter;
	height: auto;
	line-height: 100%;
	overflow-y: visible;
	position: relative;
}

iframe{
	width: 100%;

}