body{
	font-family: arial;
}

/* html, body, div, span, object,
form, input, h1, h2, button, label, a, img {
	-moz-user-select: text;
	-webkit-user-select: text;
	-webkit-user-drag: text;
	-ms-user-select: text;
	user-select: text;
}
input[type=text] {
	-moz-user-select: text;
	-webkit-user-select: text;
	user-select: text;
} */
#pages{
	position:relative;
	float: left;
	display: block;
	width: 590px;
	margin: 0;
	margin-left: 0;
	padding: 0;
	transition: all .4s;
	-moz-transition: all .4s; 
	-webkit-transition: all .4s; 
	-o-transition: all .4s; 
}
#pages > li{
	float: left;
	display: inline;
	position: relative;
	width: 590px;
	margin: 0 2px 0 0;
	overflow: hidden;
	padding: 0;
}
.pages-nav{
	margin: 20px 0 30px;
	width: 590px;
	float: left;
	position: relative;
}
.half-field{
	float: left;
	display: block;
	position: relative;
	width: 320px;
	margin: 10px 0 0;
}
.half-field label, .half-field div, .half-field input{
	width: 102px;
	display: inline;
	float: left;
}
.half-field input{
	width: 105px;
}
.half-field div{
	width: 200px;
}
ul.fields{
	float: left;
	display: inline;
	position: relative;
	width: 590px;
	margin: 0;
	padding: 0;
	-webkit-transition: margin-left .5s;
	   -moz-transition: margin-left .5s;
	    -ms-transition: margin-left .5s;
	     -o-transition: margin-left .5s;
	        transition: margin-left .5s;
}
ul.fields > li{
	float: left;
	display: inline;
	position: relative;
	width: 592px;
	margin: 0 0 20px;
	padding: 2px 0;
}
.absolute-z{
	z-index: 9999 !important;
}
#delivery-info{
	overflow: hidden;
}
#card-selector, .field{
	clear: both;
	float: left;
	display: block;
	position: relative;
	width: 548px;
	margin: -1px 0 0;
	padding: 20px 20px 15px;
	border-radius: 4px;
	border: solid 1px #ebebeb;
	border-collapse: collapse;
	z-index: 99;
}
#card-selector{
	border: none;
	margin: 0;
}
.choose-card{
	font-size: 14px;
	text-align: center;
	padding: 110px 0 0;
	background-repeat: no-repeat !important;
	border-radius: 10px;
	height: 40px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 3px 0 #666;
	box-shadow: 0 0 3px 0 #666; 
	cursor: pointer;
	width: 200px;
	text-shadow: 0px 0px 2px #fff;
    /*filter: dropshadow(color=#fff, offx=0, offy=0);*/
}
.field-left, .field-right{
	float: left;
	display: inline;
	position: relative;
	clear: none;
}
.field-left{
	width: 250px;
}
.field-right{
	width: 296px;
}
.terms-field{
	border: 1px solid #EBEBEB;
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: left;
    margin: 10px 0 0;
    padding: 10px 15px;
    position: relative;
    width: 558px;
    min-height: 60px;
}
.terms-field + .terms-field{
	margin: -1px 0 0;
}
.field-detail, .field-error{
	float: left;
	display: inline;
	position: relative;
	clear: both;
	margin: 10px 0 0;
	padding: 0 0 0 2px;
}
.field-detail{
	width: 300px;
	display: block;
}
.terms-field .field-detail, .terms-field .field-error{
	margin: 0 0 5px;
	width: 100%;
}
div#chars, div#chars-lines, div#char-line{
	/*float: left;*/
	display: inline-block;
	position: relative;
	margin: 0 2px 0 0;
}
div.values-wrap{
	float: left;
	display: block;
	position: relative;
	clear: both;
	margin: 5px 0 0;
	width: 100%;
}
label[for=card-message]{
	/*height: 90px*/
}
/*Delivery Info*/
#delivery-type{
	clear: both;
	float: left;
	display: block;
	position: relative;
	margin: 0 0 10px;
}
#delivery-type > li{
	float: left;
	display: inline;
	padding: 9px 15px;
	margin: 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	background: #E8E8E8;
	color: #307DA8;
	text-transform: uppercase;
	font-family: "museo-sans-1","museo-sans-2","Arial","Helvetica",sans-serif;
	font-size: 12px;
}
#delivery-type > li.dt-active{
	border: 1px solid #dadada;
	border-bottom: none;
	color: #333;
	background: #fff;
}
ul#delivery-type.dnumber-1  > li{
	width: 557px;
}
ul#delivery-type.dnumber-2  > li{
	width: 260px;
}
ul#delivery-type.dnumber-3  > li{
	width: 164px;
}
ul#delivery-type.dnumber-4  > li{
	width: 114px;
}
ul#delivery-type.dnumber-5  > li{
	width: 85px;}

#delivery-type > li:hover{
	background-position: 0px -152px;
}
#delivery-type > li.dt-active{
	background-position: top left;
	background-repeat: repeat-x ;
}
#delivery-type > li.dt-active:hover{
	background-position: 0px -52px;
}

.dt-inactive{
	cursor: default !important;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
	content: '';
}
#delivery-type > li.dt-inactive:hover{	
	background-position: 0px -102px;
}
ul#delivery-content{
	float: left;
	display: block;
	position: relative;
	transition: margin-left .4s;
	-moz-transition: margin-left .4s; 
	-webkit-transition: margin-left .4s; 
	-o-transition: margin-left .4s; 
}
ul#delivery-content li{
	float: left;
	display: block;
	position: relative;
	width: 590px;
	margin: 0 2px 0 0;
}
.fields p{
	float: left;
	display: block;
	position: relative;
	margin: 10px 0;
}
input#card_value{
	display: block;
    float: left;
    clear: both;
    padding: 4px 10px 4px 25px;
    position: relative;
    width: 110px;
    margin-top: 0;
}
.lang-fr input#card_value{
    padding: 4px 25px 4px 10px;

}
.dollar-sign {
    font-size: 20px;
    left: 10px;
    position: absolute;
    top: 10px;
}
.lang-fr .dollar-sign {
    left: 125px;
}
ul#cc-type-selector{
	margin: 0 auto 10px;
    overflow: hidden;
    width: 180px;
}
ul#cc-type-selector li{
	background-image: url("../images/cc_flags.png");
	background-position: 0 0;
	float: left;
	height: 32px;
	margin-right: 8px;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	width: 51px;
	border-radius: 3px;
}
ul#cc-type-selector li.visa{
    background-position: 255px 0;
}
ul#cc-type-selector li.mastercard{
    background-position: 204px 0;
}
ul#cc-type-selector li.amex{
    background-position: 0 0;
}

ul#cc-type-selector li.visa.off{
    background-position: 255px 32px;
}
ul#cc-type-selector li.mastercard.off{
    background-position: 204px 32px;
}
ul#cc-type-selector li.amex.off{
    background-position: 0 32px;
}
div.ui-dialog{
	z-index: 9999;
	position: fixed;
	top: 180px !important;
}
div.field-detail .tip {
    font-size: 12px;
    margin: 0 0 0 24px;
}
.terms-field > label strong{
	font-weight: bold;
}
footer {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    line-height: 16px;
}

div.shipping-options *{
	float: left;
}
div.shipping-options input[type=radio]{
	margin: 9px 0 0;
	padding: 0 !important;
	/*background: none;*/
	/*border: none;*/
}
div.shipping-options div.shipping-option{
	float: left;
	display: block;
	position: relative;
	clear: both;
}
.shipping-option input{
	clear: none;
	height: auto;
	margin: 0 5px 0 0 !important;

}
.shipping-option label{
	clear: none;
	width: auto;
	display: inline-block;
	margin: 0 0 10px;
}
.pages-nav > img#verisign {
    height: 72px;
    left: 245px;
    margin: 0;
    position: absolute;
    top: 10px;
    width: 100px;
    cursor: pointer;
}
img#verisign1 {
    cursor: pointer;
    height: 72px;
    margin: 200px 50% 0 0;
    position: absolute;
    right: -50px;
    top: 36px;
    width: 100px;
}
img[name=seal]{
	display: none;
}
.shipping-details > span {
    display: block;
}
.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	height: 35px;
	width: 100%;
	background: -webkit-gradient(linear, 0 100%, 0 0, from(#FFFFFF), to(#F7F7F7)) !important;
	background: -webkit-linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
	background: -moz-linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
	background: -o-linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
	background: linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
	border: 1px solid #D9D8D8 !important;
}
.ui-spinner.ui-widget.ui-widget-content.ui-corner-all input{
	border: none;
}