div#preview-window-bg span#pw-close{
	background-image: url("../images/x-bg.png");
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    padding: 7px 0 0 11px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    cursor: pointer;
}
.button{
/*	border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0 0 2px 0 #dedede;
	box-shadow: 0 1px 3px 0 #dedede;
*/	clear: none;
	float: left;
	display: block;
	margin: 5px 0;
	text-decoration: none;
	text-align: center;
	border: 1px solid #dadada;
	background-position: 0px -102px;
	background-repeat: repeat-x ;
}
.button > span, .button, #delivery-type li{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.half-button{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0 0 2px 0 #dedede;
	box-shadow: 0 1px 3px 0 #dedede;
	clear: none;
	float: left;
	display: inline-block;
	margin: 3px;
	text-decoration: none;
	text-align: center;
	border: 1px solid #dadada;
	background-position: 0px -102px;
	background-repeat: repeat-x ;
}
.cart-button{
	display: block;
    float: right;
    height: 16px;
    margin: 0 5px;
    position: relative;
    width: 16px;
}
.cart-button:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.cart-button.delete{
	background-position: 16px -573px;
}
.cart-button.edit{
	background-position: 16px -613px;
}
.values-wrap .half-button{
	float: none;
}
.button > span{
	padding: 0 15px 0 0;
	height: 22px;
	display: block;
	width: 170px;
}
.main-button{
	background-position: top left;
	background-repeat: repeat-x ;
}
.button:hover, .half-button:hover{
	background-position: 0px -152px;
}
.main-button:hover{
	background-position: 0px -52px;
}

/*Icons*/
.no-icon{
	background-image: none;
}
.checkout > span, .purchase > span, .change_design_bt > span, .preview_bt > span, .button.add-to-cart > span,
 .button.go-to-delivery > span, .button > span, .half-button > span{
	background-repeat: repeat-x;
}
a.checkout, a.new-card{
	display: none;
}

div.pages-nav  .button.add-to-cart, div.pages-nav  .button.continue-button, 
div.pages-nav .main-button.button,  div.pages-nav  .button.update-cart {
    float: right;
}
div.pages-nav  .button.update-cart{
	display: none;
}
div.checkout-nav a{
	clear: none;	
}
div.pages-nav  .button.back-button{
	float: left;
	/*clear: both;*/
}

.half-button > span {
	padding: 0 30px 0 0;
	min-width: 60px;
	float: left;
	text-align: left;
}

.udBox a{
	float: left;
	display: block;
	position: relative;
	clear: both;
	border: 1px solid #dedede;
	border-radius: 4px;
}
.udBox .qUp{
	background-position: right -13px;
}
.udBox .qDown{
	background-position: right -51px;
}
.udBox .qUp:active{
	background-position: right -14px;
}
.udBox .qDown:active{
	background-position: right -50px;
}
ul#delivery-content a.deliver-calendar{
	display: inline-block;
	background-position: right -400px;
	float: left;
	margin: -4px 0 0 5px;
}
ul#delivery-content a.deliver-calendar:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
}
div#cart-embed button.ew-arrow{
	float: left;
	position: relative;
	border-radius: 4px;
	width: 215px;
	height: 20px;
	margin: 0;
	cursor: pointer;
	border: 1px solid transparent;	
	background-repeat: no-repeat;
	background-color: transparent;
	/*background-image: url('../images/icons.png');*/
	display: none;
	border: 1px solid #ddd;
}
div#cart-embed button.ew-arrow:hover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	opacity: 0.7;
}
div#cart-embed button.ew-arrow-up{
	background-position: 75px -10px;
}
div#cart-embed button.ew-arrow-down{
	background-position: 75px -50px;
}
div#cart-embed button.ew-arrow-up:active{
	background-position: 75px -11px;
}
div#cart-embed button.ew-arrow-down:active{
	background-position: 75px -49px;
}

div#exp-widget button.ew-arrow{
	float: left;
	display: block;
	position: relative;
	border-radius: 4px;
	width: 46px;
	height: 20px;
	margin: 0 5px;
	cursor: pointer;
	border: 1px solid transparent;	
	background-repeat: no-repeat;
	background-color: transparent;

	background-image: url('../images/icons.png');
}
button.ew-arrow:hover{
	border: 1px solid #ddd;	
}

div#exp-widget button.ew-arrow-up{
	background-position: -10px -10px;
}
div#exp-widget button.ew-arrow-down{
	background-position: -10px -50px;
}


div#exp-widget button.ew-arrow-up:active{
	background-position: -10px -11px;
}
div#exp-widget button.ew-arrow-down:active{
	background-position: -10px -49px;
}

/* .lang-fr .button.change_design_bt > span{
    font-size: 18px;
    padding-top: 3px;
    height: 20px;
} */
.lang-fr .button.add-to-cart > span {
	font-size: 16px;
    padding-top: 5px;
    height: 17px;
}
.no-icon > span{
	background-image: none !important;
}