.user-nav {
	@include border-box;
    height: 65px;
    margin: 10px 0 0;
    padding: 0;

    .container{
    	height: 65px;
	    background: url("../images/header-bg.jpg") no-repeat scroll center bottom red;
    }

    .logo{
    	float: left;
    	margin: 20px;

    	@media #{$iPhone-landscape}{
    		margin: 0 20px;
    	}

    	@media #{$iPhone-portrait}{
    		margin: 0 20px;
    	}
    }
}

#tool-bar{
	float: right;
	display: block;
	position: relative;
	margin: 30px 30px 0;

	li{
		float: left;
		display: inline-block;
		position: relative;
		font-size: 11px;
		margin: 0 0 0 15px;

		@media #{$iPhone-landscape}{
			font-size: $mobile-font-size - 8;
		}

		@media #{$iPhone-portrait}{
			font-size: $mobile-font-size - 8;
		}

		& + li:before{
			content: "|";
			color: #ccc;
			margin: 0 15px 0 0;
		}
	}

	a{
		color: $top-link-color;
		text-decoration: underline;

		&:hover{
			color: darken($top-link-color, 10%);
		}
	}
}