#wrapper {
    min-width: 100%;
    position: relative;
}

.container{
	@include backface-visibility(hidden);
	margin: auto;
	width: $fixed-width;

	@media #{$iPhone-landscape}{
		@include border-box;
		overflow: hidden;
		padding: 0 5%;
		width: 100%;
	}

	@media #{$iPhone-portrait}{
		@include border-box;
		overflow: hidden;
		padding: 0 5%;
		width: 100%;
	}
}

#content{
	@include backface-visibility(hidden);
	@include fdp;
}

#ecard-wrap{
	@include fdp;
	@include backface-visibility(hidden);
	background: #fff;
	margin: 40px auto 0;
	padding: 40px 20px;

	@media print {
		margin: 0 auto !important;
		padding: 0 !important;
	}
}

#card{
	@include fdp;
	width: 100%;
	margin: 0 0 30px;
	z-index: 1;
}

#text{
	@include fdp;
}

.previewstyle-0{
	
}

.previewstyle-1{

	.card-image{
		height: 280px;
		width:  460px;

		@media #{$iPhone-landscape}{
			width: 400px;
			height: auto;
		}

		@media #{$iPhone-portrait}{
			width: 500px;
			height: auto;
		}
	}

	.amount{

		@media #{$iPhone-landscape}{
			font-size: $mobile-font-size + 10;
		}

		@media #{$iPhone-portrait}{
			font-size: $mobile-font-size + 10;
		}
	}

	.message{
		margin: 0;
		padding: 0 20px;
		position: relative;
		width: 100%;
	}
}