.ui-datepicker{
	z-index: $z4 !important;
}

.ui-spinner{
	@include rounded;

	input{
		@include border-box;
		border: none;
		color: $font-color;
		font-family: $main-font;
		float: left;
		font-size: $fs-medium;
		margin: 0;
		padding: 5px 10px;	
		width: 100px;	
	}
}