html{
	height: auto;
	min-width: $fixed-width;
	@include backface-visibility(hidden);
}
body{
	@include backface-visibility(hidden);
	color: $font-color;
	font-weight: lighter;
	font-size: 14px;
	font-family: $main-font, times;
	line-height: 100%;
	height: auto;
	overflow-y: visible;
	background: $bg-color;
	position: relative;

	@media #{$iPhone-landscape}{
		-webkit-text-size-adjust: 100%;
		font-size: $mobile-font-size;
	}

	@media #{$iPhone-portrait}{
		-webkit-text-size-adjust: 100%;
		font-size: $mobile-font-size;
	}
}

a{
	color: $link-color;
	outline: 0;
	text-decoration: none;

	&:hover{
		color: lighten($link-color, 10%);
	}
}

b{
	font-weight: 700;
}

p{
	@include fdp;
	@include border-box;
	line-height: 100%;
	width: 100%;
	margin: 15px 0;
	padding: 0 20px;
}

header {
	display: block;
	height: 70px;
	margin: auto;
	position: relative;

	@media #{$iPhone-landscape}{
		display: none;
	}

	@media #{$iPhone-portrait}{
		display: none;
	}
}

details{
	display: inline-block;
}

footer{
	@include fdp;
	margin: 20px 0 10px;
	text-align: center;
	width: 100%;
}

h1{
	@include fdp;
	// color: $link-color;
	font-size: 20px;
	font-weight: 100;
	line-height: 100%;
	margin: 0 0 30px;
	text-align: center;
	width: 100%;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size + 14;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size + 14;
	}

}

h2{
	@include border-box;
	color: $link-color;
	float: left;
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size;
		line-height: 100%;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size + 10;
		line-height: 100%;
	}
}

h3{
	font-size: 16px;
	font-weight: lighter;
	margin: 0;
	color: $link-color;
	line-height: 16px;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size + 6;
		line-height: 100%;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size + 6;
		line-height: 100%;
	}

	span{
		@include fdp();
		margin: 0;
	}
}

input{
	@include border-box;
	@include rounded;
	float: left;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 5px 10px;	
	width: 100%;
	height: 32px;

	background: none repeat scroll 0 0 #FCFDFE;
    border: 1px solid #E0E2E4;
    color: #404040;

	&:not(:only-of-type){
		width: 49%;
	}

	& + input{
		margin: 0 0 0 7px;
	}
}

textarea{
	@extend input;
	resize: none;
	font-family: $main-font;
	height: 90px;
	line-height: 20px;
}

.button{
	@include rounded();
	@include txt-shadow;
	// @include border-box;
	float: $bt-float;
	background: $bt-bg;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: 100;
	height: 15px;
	margin: 0;
	min-width: 60px;
	padding: 10px 25px;
	position: relative;
	text-align: center;
	text-decoration: none;

	&:hover{
		background: lighten($bt-bg, 5%);
		color: #fff;
	}

	@media #{$iPhone-landscape}{
		width: 100%;
		@include border-box;
		height: 60px;
		font-size: $mobile-font-size;
		padding: 15px 0 0;
	}

	@media #{$iPhone-portrait}{
		width: 100%;
		@include border-box;
		height: 80px;
		font-size: $mobile-font-size + 10;
		padding: 25px 0 0;
	}

}
.button + .button{
	margin: 0 0 0 10px;

	@media #{$iPhone-landscape}{
		margin: 10px 0 0;
	}

	@media #{$iPhone-portrait}{
		margin: 10px 0 0;
	}
}

label{
	@include fdp;
	width: 100%;
	margin: 0 0 5px;
	padding: 0 0 0 10px;
}