#cart-embed{
	border: $border;

	#cart{

		.ew-arrow{
			display: none;
		}
	}
}

.ew-arrow-up{
	@extend .fa-chevron-up;
}

.ew-arrow-down{
	@extend .fa-chevron-down;
}

#cart-bar{
	@extend .fa;
	@extend .fa-shopping-cart;
	@include border-box;
	@include fdp;
	@include transition(width 0.3s ease-in-out);
	@include width-height(100%, 45px);
	bottom: 0;
	color: #fff;
	font-size: 24px;
	left: 0;
	padding: 10px 15px;
	position: fixed;
	text-align: right;
	z-index: $z5;

}

.cart-slider{

	&.cartslider-on{

		#cart-bar{
			@extend .fa-angle-double-right;
			width: 20%;
		}

		#cart-embed{
			left: 20%;
			margin: 0 -10px !important;

			#cart{
				width: 100% !important;
			}
		}
	}

	#cart-embed{

		@include transition(all 0.3s ease-in-out);
		// @include width-height(100%, 100%);
		border: none !important;
		color: #fff;
		height: 110% !important;
		left: 100%;
		top: -10px !important;
		margin: 0 10px !important;
		width:  90% !important;
		z-index: $z6 !important;
		position: absolute !important;

		*{
			color: #fff !important;
		}

		.button{
			border: 1px solid #fff !important;
		}
	}

	footer{
		margin: 20px 0 50px !important;
	}
}


#cart {
	@include margin-padding;
	display: inline-block;
	list-style: none;

	h2{
		@include border-box;
		font-size: $fs-big;
		font-weight: 100;
		height: 30px;
		margin: 0 0 15px;
		padding: 6px 0 0 0;
		width: 100%;

		&:before{
			@extend .fa;
			@extend .fa-shopping-cart;
			font-size: 24px;
			margin: 0 20px 0 0;
		}
	}

	.ew-arrow {
		// background-color: transparent;
		// background-repeat: no-repeat;
		@extend .fa;
		@include rounded;
		@include border-box;
		@include width-height(100%, 20px);
		// border-radius: 4px;
		// height: 20px;
		// width: 100%;
		background: $bt-bg;
		border: none;
		cursor: pointer;
		display: none;
		float: left;
		margin: 0;
		position: relative;

		&:hover{
			background: lighten($bt-bg, 5%);
		}

	}


	#cards-wrapper {
		display: block;
		float: left;
		margin: 5px 0;
		max-height: 220px;
		overflow: hidden;
		position: relative;
		width: 100%;
	}	

	#summary{
		@include fdp;
		width: 100%;

		& > div{
			@include fdp;
			width: 100%;
		}
	}

	.card-img{
		@include fdp;
		margin: 5px 20px 0 0;


		&.photo{
			@include shadow(0 0 3px 0);
			@include rounded;

			&.bottom{
				padding: 0 0 10px;

				img{
					height: $card-small-height - 12 !important;
				}
			}

			&.top{
				padding: 10px 0 0;

				img{
					height: $card-small-height - 12 !important;
				}
			}

			&.right{
				padding: 0 10px 0 0;

				img{
					width: $card-small-width - 6 !important;
				}
			}

			&.left{
				padding: 0 0 0 10px;

				img{
					width: $card-small-width - 6 !important;
				}
			}

			img{
				@include shadow(none);
				margin: 0;
			}
		}

		img{
			@include fdp;
			@include shadow(0 0 3px 0);
			@include width-height($card-small-width, $card-small-height);
			cursor: pointer;
			margin: 0 0 0 2px;
		}
	}

	.card-info{
		@include fdp;
		font-size: 12px;

		span{
			// font-weight: bold;
			// @include txt-shadow;
			// font-style: italic;
		}
	}

	.card-nav{
		@include fdp;
		width: 100%;
		text-align: right;
		margin: 5px 0 0;
	}

	#cards{
		@include transition(margin-top 0.25s ease 0s);

		li{
			@include fdp;
			@include border-box;
			border-bottom: #{$border};
			// padding: 15px 0;
			width: 100%;
			// margin: 0 0 20px;
			// padding: 0 0 10px;
			@include margin-padding(0 0 20px, 0 0 10px);
		}
	}

	#control{
		@include border-box;
		@include fdp;
		width: 100%;

		.button{
			// @include border-box;
			@include width-height(100%, 18px);
			margin: 10px 0 0;
			text-align: center;
			padding: $bt-padding 0;
			// width: 100%;
		}
	}
}

#page-cart{

	#cards > div > li {
		margin: 0 0 20px;
		padding: 0 0 10px;
		width: 100%;
	}

	div.card-img{
		float: left;
		margin: 0 20px 0 10px;

		img {
			@include shadow;
			@include fdp;
			cursor: pointer;
			height: auto;
			width: 56px;
		}
	}

	.card-info > div {
		float: left;
		width: 200px;
		margin: 0 0 3px;
	}

	.card-nav {
		float: right;
		margin: 25px 0 0;
	}

	#control{
		@include fdp;
		margin: 20px 0 0;
		width: 100%;

		.button{
			float: left;

			&.main-button{
				float: right;
			}
		}

	}
}

.s-total {
	@include fdp;
	font-family: 'oswaldbook';
	font-size: $fs-small + 2;
	margin: 20px 0;
	text-align: left;
	text-transform: uppercase;
	width: 100%;

	span{
		float: right;
		margin: 0;
	}
}

.sb-total{
	@include fdp;
	width: 150px;
	clear: both;
	margin: 5px 0 0;

	span{
		margin: 0 0 0 10px;
	}
}
