.ui-mobile{
	// Elements
	h2{
		margin: 10px 0;
	}

	input[type="checkbox"]{

        @media #{$iPhone-landscape}{
            margin: 6px 0 0;
        }

        @media #{$iPhone-portrait}{
            margin: 4px 0 0;
        }
	}

	// Buttons

	.button{
		@include border-box;
		@include width-height(100%, 46px);
		text-align: center;

		& + .button{
			margin: 10px 0 0;
		}
	}

	#cart #control .button{
		@extend .button;
	}

	// Structure
	#wrapper{
		@include width-height(100%, auto);
		@include border-box;
		padding: $wrapper-padding-mobile;
	}

	// Header
	header{@include width-height(100%, 100px);

		#status-bar{
			margin: 12px 0; 
		}

		.status-page{
			text-align: center;
		}

		.theme-color-bg{
			display: block;
			float: none;
			margin: auto;
		}

		.page-title{
			padding: 6px 0 0;
			text-align: center;
			width: 100%;
			font-size: $fs-small;
		}
	}

	// Content
	#image-wrap{
		
		#ulWrapper{
			@include fdp;
			padding: 0 !important;


			@media #{$iPhone-landscape}{
				max-height: 230px;
			}

			@media #{$iPhone-portrait}{
				max-height: 150px;
			}
		}
	}


	.card-selector{
		padding: 0 0 15px;
	}

	#photo-selector{

		.field-left, .field-right{
			width: 100%;
		} 

		#photo-tools{
			@include border-box;
			padding: 0 20px 0 10px;
			width: 100%;
			display: inline-block;
			text-align: center;

			.photo-bt{
				@include width-height(60, 50);
				display: inline;
			}
		}
	}

	.field-right{
		@include fdp;
		@include border-box;
		height: auto !important;
		width: 100%	!important;
		margin: 0 !important;
	}

	.field-left{
		@include border-box;
		width: 100%;
		margin: 0;

		label{
			padding: 0;
		}
	}

	.double-field{
		@include fdp;
		width: 100%;
		border-bottom: 1px solid #000;

		.half-field{
			@include border-box;
			padding: 0 5px 0 0;
			width: 50%;

			> *{
				width: 100%;
			}

			label{
				border: none;
			}

			input{
				width: 100%;
				@include rounded(0);
			}

			& + .half-field{
				padding: 0 0 0 5px;
			}

		}
	}

	#cc-type-selector{
		margin: 0 auto 10px;
		padding: 20px 0 0;
	}

	// Cart
	#page-cart{

		.card-img{
			margin: 12px 20px 0 10px;
		}

		.card-info{
			width: 200px;

			& > div{
				width: 150px;
			}
		}

		.card-nav{
			margin: 0;
		}
		.cart-button{
			font-size: $fs-medium;
			margin: 0 0 0 15px;
		}
	} 
}