// 				  Big			Medium 			Small
$sizes			: 0				1				2;
$field-margin	: 20px			5px 			0;

$button-padding : 20px			18px 			12px;


#{$gcp-content}{

	@for $i from 1 through length($sizes) {

		&.size-#{nth($sizes, $i)} {


		}
	}
}