html{
    height:100%;
}
body{
    min-height:100%;
}
noscript div, #loading-receipt{
    display: block;
    height: 250px;
    left: 50%;
    margin: -250px 0 0 -250px;
    padding: 250px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 500px;
}
noscript p, #loading-receipt p{
    margin: 20px auto;
    line-height: 18px;
}
a{
    text-decoration: none;
    outline: 0;
}
div.field a:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
h2{
    float: left;
}
input, textarea, select{
	resize: none;
	float: left;
    outline: none;
}
input[type=radio]{
    width: 20px;
}
input[placeholder], [placeholder], *[placeholder]{
    /*color:#999;*/
}
label{
    display: block;
}
select{
	/*width: 300px;
	padding: 4px 5px 4px 10px;*/
}
textarea{
	/*height: 80px;*/
}
div#preview-window-bg {
    background-color: rgba(0, 0, 0, 0.5);
    background: url("../images/obg.png");
    cursor: pointer;
    display: block;
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99999;
    display: none;
}

#confirmation-window-bg {
  display: none;
  float: left;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99999;
}
div#preview-window-bg div#preview-window{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 443px;
    width: 590px;
    left: 50%;
    position: fixed;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:  0px 0px 3px 1px #666;
    box-shadow:  0px 0px 3px 1px #999;
    padding: 10px;
    margin: 50px 0 0 -305px;
    top: 0;

}
div#preview-window-bg div#preview-window img#preview-image{	
    height: 443px;
    width: 590px;
    cursor: default;
}
div#preview-window-bg div#preview-window span#pw-message {
    color: #1F0B03;
    cursor: default;
    font-family: arial;
    font-size: 22px;
    height: auto;
    left: 12px;
    line-height: 22px;
    max-height: 140px;
    padding: 0 15px;
    position: absolute;
    top: 310px;
    width: 560px;
    word-wrap:break-word;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div#preview-window-bg div#preview-window span#pw-value {
    color: #1F0B03;
    cursor: default;
    font-family: arial;
    font-size: 30px;
    position: absolute;
    right: 60px;
    top: 40px;
    width: 80px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#buyatabContent{
	position: absolute;
	display: block;
	float: left;
	margin: 0;
	width: 100%;
    /*min-height: 100%;*/
}
#content{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	width: 100%;
}
#wrapper{
	width: 592px;
	position: relative;
	padding: 40px;
	margin: 0 auto;
	/*border: 1px solid #dedede;*/
	overflow: hidden;
}
#pages-wrapper{
	width: 592px;
	overflow: hidden;
    float: left;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}
#wrapper.with-cart{
	width: 880px;
}
.ajax-loader{
    background: url("../images/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 20px;
    margin: 0;
    padding: 7px 0 0 30px;
}
table#veri-seal{
    margin: 15px 0 0;
    position: absolute;
}
.hide-me{
    visibility: hidden;
}
.clickable{
    cursor: pointer;
}
.bold {
    font-weight: bold;
}