header{
	position: relative;
	float: left;
    display: block;
	margin: 0 0 15px 0;
	border-radius: 2px;
	border: 1px solid #ebebeb;
	width: 590px;
    /*height: 60px;*/
}
header ul#status-bar{
	position: relative;
	display: block;
	margin: 12px 22px;
	float: left;
}
header ul#status-bar > li.status-page{
    display: inline;
    float: left;
    position: relative;
}
header ul#status-bar.titles-2 > li.status-page{
    width: 270px;
    height: 34px;
}
header ul#status-bar.titles-3 > li.status-page{
    width: 180px;
    height: 34px;
}
header ul#status-bar.titles-4 > li.status-page{
    width: 135px;
}
header ul#status-bar.titles-5 > li.status-page{
    width: 105px;
}
header ul#status-bar.titles-6 > li.status-page{
    width: 90px;
}
header ul#status-bar.titles-2 > li.separator{
    display: inline;
    float: left;
    font-size: 1px;
    position: relative;
    width: 20px;
    height: 35px;
    margin: 0 20px 0 0;
    background-repeat: no-repeat;
    background-position: right -443px;
}
header ul#status-bar > li .theme-color-bg{
    display: inline;
    float: left;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 40px;
}
header ul#status-bar > li .theme-color-bg:after {
    border-radius: 40px 40px 40px 40px;
    content: "";
    display: block;
    float: left;
    height: 35px;
    position: absolute;
    width: 35px;
    z-index: -1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}

header ul#status-bar > li.active .theme-color-bg:after{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
header ul#status-bar.titles-4 > li .theme-color-bg{
    margin: 0 50px;
}
header ul#status-bar.titles-5 > li .theme-color-bg{
    margin: 0 0 0 40px;
}
header ul#status-bar.titles-6 > li .theme-color-bg{
    margin: 0 0 0 30px;
}
header ul#status-bar > li.status-page .page-title {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}
header ul#status-bar > li.status-page.active .page-title{
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
header ul#status-bar > li .theme-color-bg > div{
	display: inline;
    float: left;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0 0 10px;
}
.page-title {
    display: block;
    float: left;
    padding: 7px 0 0 5px;
    position: relative;
}
.titles-4 .page-title, .titles-5 .page-title, .titles-6 .page-title{
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.size-2 ul#status-bar.minimized-header{
    margin: 0 22px;
}
.size-2 ul#status-bar.minimized-header > li .theme-color-bg{
    display: none;
}
.size-2 ul#status-bar.minimized-header > li{
    padding: 0;
    height: 28px !important;
}
.size-2 ul#status-bar.minimized-header > li .page-title{
    text-align: center;
    width: 100%;    
}
span#notification-icon{
    float: left;
    display: block;
    position: absolute;
    top:-8px;
    right: -8px;
    height: 13px;
    width: auto;
    padding: 2px 4px 0;
    background: red;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow:  1px 1px 2px 0 #666;
    box-shadow:  1px 1px 2px 0 #666;

    animation: bounce infinite 8s;
    -webkit-animation: bounce infinite 8s;
}
.page-title span#notification-icon{
    font-size: 12px;
    left: 50%;
    margin: -10px 0 0 20px;
    padding: 1px;
    right: auto;
    width: 12px;
}

@keyframes bounce { 
    from, to { -webkit-animation-timing-function: ease-in;              }
    3%       { top: -12px;  -webkit-animation-timing-function: ease-out;} 
    4%       { top: -8px;  -webkit-animation-timing-function: ease-in;  } 
    6%       { top: -10px;  -webkit-animation-timing-function: ease-out;} 
    8%       { top: -8px;  -webkit-animation-timing-function: ease-in;  } 
}
@-webkit-keyframes bounce { 
    from, to { -webkit-animation-timing-function: ease-in;              }
    3%       { top: -12px;  -webkit-animation-timing-function: ease-out;} 
    4%       { top: -8px;  -webkit-animation-timing-function: ease-in;  } 
    6%       { top: -10px;  -webkit-animation-timing-function: ease-out;} 
    8%       { top: -8px;  -webkit-animation-timing-function: ease-in;  }  
}