.previewstyle-4sp{

	.choose-card{
		@include rounded(0);
		@include shadow(none);
		cursor: default;
		height: 65px;
	}

	#delivery-type{
		display: none;
	}

	.delivery-description{
		display: none;
	}

	// cart
	#cart .card-img img{
		@include shadow(none);
		height: auto;
	}
}