.ui-datepicker{
	z-index: $z4 !important;
}

.ui-spinner{
	@include rounded;

	input{
		@include border-box;
		border: none !important;
		float: left;
		font-size: $fs-micro ;
		margin: 0;
		padding: 5px 10px;	
		width: 80px;	
	}
}