 #delivery-type, #custom-type {
	@include border-box;
	@include fdp;
	// @include rounded;
	// overflow: hidden;
	// background: #AAABAD;
	border-bottom: 1px solid $border-color;
	clear: both;
	margin: 0 0 10px;
	padding: 10px 0 0;
	width: 100%;

	& > li{
		@include border-box;
		@include fdp;
		@include shadow(0px -3px 3px #DCDCDC);
		background: $theme-color; 
		border: none;
		color: #fff; 
		cursor: pointer;
		display: inline;
		float: left;
		font-size: $fs-medium;
		font-weight: bold;
		// height: 40px;
		line-height: 100%;
		margin: 0px 12px 0px 0px;
		padding: 10px 15px;
		text-align: center;
		text-decoration: none;
		border-radius: 6px 6px 0 0;

		&[data-dnature="plastic"] {
			width: 100%;
			margin: 0;
			cursor: default;
			// @include opacity: .5;
		}

		&.dt-active{
			@include background-image(linear-gradient(center top , #e3e3e3 0%, rgba(242, 242, 242, 0.99) 27%, rgba(254, 254, 254, 0.99) 50%, #ffffff 100%));
			color: $bt-main-bg;
			top: 1px;
			// background: #fff;
		}

		&:first-of-type{
			// border-radius: $rounded 0 0 $rounded;
		}

		&:last-of-type{
			// border-radius: 0 $rounded $rounded 0;
		}

		& + li{
			border-left: none;
		}
	}

	&.dnumber-2 > li{
		width: 120px;
	}
	&.dnumber-3 > li{
		width: 120px;
	}
}

button{
	@include transition(background 0.2s ease-in-out 0s);
	background: $bt-bg;
	border: #{$border};
	color: $bt-text-color;
	
	&:hover{
		background: darken($bt-bg, 5%);
	}
}

.button{
	@include background-image(linear-gradient(center top , #fefefe 0%, #f8f8f8 18%, #e2e2e2 50%, #d6d6d6 77%, #d6d6d6 82%, #cbcbcb 100%));
	@include rounded();
	@include shadow();
	@include transition(background 0.2s ease-in-out 0s);
	@include txt-shadow;
	border-color: #c7c7c7 #c7c7c7 #5b5b5b;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	color: $bt-text-color;
	float: $bt-float;
	font-size: 14px;
	font-weight: 100;
	font-weight: bold;
	line-height: 100%;
	margin: 0 0 0 10px;
	padding: $bt-padding 25px;
	position: relative;
	text-decoration: none;
	text-transform: capitalize;

	&:hover{
		background: darken($bt-bg, 5%);
	}

	&.main-bt{
		background: $bt-main-bg;
		border: 1px solid $bt-main-bg;
		color: $bt-main-text-color;

		&:hover{
			background: darken($theme-color, 5%);
		}
	}

	&.main-button{
		@extend .button.main-bt;
	}

	&.update-cart{
		display: none;
	}

	&.new-card{
		display: none;
	}
	&.checkout{
		display: none;
	}

	&.back-button{
		float: left;
	}

	&.icon-bt{
		color: #404040 !important;
		height: 12px;
		padding: 4px;
		margin: 0 3px;
		background: none;
		border: none;
	}

	&.search-button{
		@extend .main-bt;
		@extend .fa;
		@extend .fa-search;
		font-size: 18px;
		padding: 5px 25px 9px;
	}
}

.values-wrap{
	@include fdp;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 10px 0 0;
	width: 100%;

	.half-button{
		@extend .button;
		@include margin-padding(0, 8px 2px);
		border: #{$border};
		font-size: $fs-micro;
		font-weight: 100;
		text-align: center;
		width: 35px;
	}
}

.pages-nav {
	@include border-box;
	width: 100%;
	float: left;
	margin: 20px 0 30px;
	position: relative;
}

.cart-button{
	@extend .fa;
	font-size: 14px;
	margin: 0 0 0 5px;

	&.edit{
		@extend .fa-pencil;
	}

	&.delete{
		@extend .fa-trash-o;
	}
}
