// Structure
$wrapper-width 				: 600px !default;
$wrapper-with-cart			: 880px !default;
$wrapper-padding			: 40px !default;
$wrapper-padding-mobile		: 10px !default;
$cart-width 				: 250px !default;
$cart-margin 				: 40px !default;


// Colors
$theme-color 				: #333    !default;
$bg-color 					: #fff    !default;
$font-color 				: #000000 !default;

$bg-transparent 			: rgba(0,0,0,0.5);
$border-color 				: #d1d1d1 !default;

$bt-bg 						: #E5E5E5 !default;
$bt-main-bg 				: $theme-color !default;
$bt-text-color				: #2f446a !default;
$bt-main-text-color			: #fff    !default;

$header-color 				: $theme-color  !default;
$header-text-color 			: $font-color   !default;
$input-color 				: $theme-color  !default;
$label-color 				: $theme-color  !default;
$link-color 				: #00549e		!default;
$title-color				: $font-color   !default;


//Fonts
$main-font 					: Arial, verdana, sans-serif !default;
$header-font 				: $main-font !default;
$input-font 				: $main-font !default;
$label-font 				: $main-font !default;
$title-font 				: 'Bree Serif', 'Palatino linotype', Georgia, serif !default;


// Font sizes
$fs-micro 					: 12px !default;
$fs-small 					: 14px !default;
$fs-medium 					: 16px !default;
$fs-big 					: 20px !default;


// General
$border 					: 1px solid $border-color;
$bt-float 					: right !default;
$bt-padding 				: 12px;
$field-padding				: 20px 20px 15px !default;
$gcp-content 				: '#buyatabContent';
$images-path				: 'img/';
$rounded 					: 4px !default;


// Lightbox size
$lb-width 					: 800px !default;


// Cards (Cineplex size)
$card-small-width 			:  52px !default;
$card-small-height 			:  35px !default;

$card-medium-width 			: 197px !default;
$card-medium-height 		:  39px !default;
$card-medium-padding 		:  84px !default;
$card-medium-radius 		:  10px !default;

$card-photo-width 			: 200px !default;
$card-photo-height 			: 124px !default;

$card-big-width 			: 571px !default;
$card-big-height 			: 360px !default;

// Cards (Standard size)
// $card-small-width 			:  52px !default;
// $card-small-height 			:  42px !default;

// $card-medium-width 			: 200px !default;
// $card-medium-height 			:  40px !default;
// $card-medium-padding 		:  110px !default;
// $card-medium-radius 			:  10px !default;

// $card-photo-width 			: 197px !default;
// $card-photo-height 			: 124px !default;

// $card-big-width 				: 571px !default;
// $card-big-height 			: 428px !default;


// Preview window
$preview-window-width 		: 570px !default;
$preview-window-padding		:  10px !default;

$preview-value-margin 		: 10px 0 !default;
$preview-value-position 	: relative !default;
$preview-value-right 		:  auto !default;
$preview-value-top 			:  auto !default;
$preview-value-width		: 100% !default;

$preview-message-fontsize 	:  18px !default;
$preview-message-top 		: auto !default;
$preview-message-position	: relative !default;
$preview-message-padding 	:  15px !default;


// Z-index
$z-1 						: -1;
$z1 						: 1;
$z2 						: 10;
$z3 						: 100;
$z4 						: 1000;
$z5 						: 10000;
$z6 						: 100000;