 #delivery-type, #custom-type {
	@include border-box;
	@include fdp;
	@include rounded;
	overflow: hidden;
	clear: both;
	margin: 0 0 10px;
	width: 100%;

	& > li{
		@include border-box;
		background: #f5f5f5;
		border: 1px solid #e3e3e3;
		color: #81838b;
		cursor: pointer;
		display: inline;
		float: left;
		font-size: $fs-small;
		font-weight: 600;
		height: 54px;
		margin: 0;
		padding: 20px 15px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&[data-dnature="plastic"] {
			width: 100%;
			margin: 0;
			cursor: default;
			// @include opacity: .5;
		}

		&.dt-active{
			background: #fff; 
			border-color: #fff;
			color: #000; 
		}

		&:first-of-type{
			border-radius: $rounded 0 0 $rounded;
		}

		&:last-of-type{
			border-radius: 0 $rounded $rounded 0;
		}

		& + li{
			border-left: none;
		}
	}

	&.dnumber-2 > li{
		width: 50%;
	}
	&.dnumber-3 > li{
		width: 33.33%;
	}
}

.button{
	// background: #E5E5E5;
	// padding: $bt-padding 25px;
	// border: #{$border};
	
	// height: 18px;
	@include transition(border-color 0s ease 0s, all 0.2s ease 0s, all 0s ease-in-out 0s);
	border-bottom: 1px solid $theme-color;
	color: $font-color;
	float: $bt-float;
	font-size: $fs-small;
	font-weight: 600;
	margin: 0;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;


	span:after{
		content: "\f105";
		@extend .fa;
		// @extend .fa-angle-right !optional;
		font-size: $fs-medium;
		margin: 0 0 0 10px;
	}

	&:hover{
		// background: lighten(#E5E5E5, 5%);
		border-color: $bg-color;
	}

	&.main-bt{
		background: $theme-color;
		border: none;
		color: #fff;
		padding: 20px 120px;

		&:hover{
			background: lighten($theme-color, 10%);
		}
	}

	&.new-card, &.back-button{
		span{

			&:after{
				content: '';
				margin: 0;
			}

			&:before{
				content: "\F104";
				@extend .fa;
				// @extend .fa-angle-right !optional;
				font-size: $fs-medium;
				margin: 0 10px 0 0;				
			}
		}
	}

	&.main-button{
		@extend .button.main-bt;
	}

	&.add-to-cart{
		@extend .button.main-bt;
	}

	&.update-cart{
		display: none;
	}

	&.new-card{
		display: none;
	}
	&.checkout{
		display: none;
	}

	&.back-button{
		float: left;
	}

	&.icon-bt{
		color: #404040 !important;
		height: 12px;
		padding: 4px;
		margin: 0 3px;
		background: none;
		border: none;
	}

	&.search-button{
		@extend .main-bt;
		@extend .fa;
		@extend .fa-search;
		font-size: 18px;
		padding: 5px 25px 9px;
	}
}

.values-wrap{
	@include fdp;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-justify-content: space-between !important;
	justify-content: space-between !important;
	margin: 10px 0 0;
	width: 100%;

	.half-button{
		@extend .button;
		@include margin-padding(0, 8px 0);
		background-color: $theme-color;
		// border: none;
		color: #fff;
		font-size: $fs-small;
		text-align: center;
		width: 50px;
	}
}

.pages-nav {
	@include border-box;
	width: 100%;
	float: left;
	margin: 20px 0 30px;
	position: relative;
}

.cart-button{
	@extend .fa;
	color: $link-color;
	font-size: 14px;
	margin: 0 0 0 5px;
	border: none;

	&.edit{
		@extend .fa-pencil;
	}

	&.delete{
		@extend .fa-trash-o;
	}
}
