@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-regular-webfont.woff") format("woff"), url("fonts/oswald-regular-webfont.ttf") format("truetype"), url("fonts/oswald-regular-webfont.svg#oswaldregular") format("svg");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-bold-webfont.woff") format("woff"), url("fonts/oswald-bold-webfont.ttf") format("truetype"), url("fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 200;
    src: url("fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-light-webfont.woff") format("woff"), url("fonts/oswald-light-webfont.ttf") format("truetype"), url("fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/proximanova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_regular-webfont.woff") format("woff"), url("fonts/proximanova_regular-webfont.ttf") format("truetype"), url("fonts/proximanova_regular-webfont.svg#proxima_nova_rgregular") format("svg");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: 600;
    src: url("fonts/proximanova_semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_semiboldit-webfont.woff") format("woff"), url("fonts/proximanova_semiboldit-webfont.ttf") format("truetype"), url("fonts/proximanova_semiboldit-webfont.svg#proxima_novasemibold_italic") format("svg");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 200;
    src: url("fonts/proximanova_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_regular-webfont.woff") format("woff"), url("fonts/proximanova_regular-webfont.ttf") format("truetype"), url("fonts/proximanova_regular-webfont.svg#proxima_nova_rgregular") format("svg");
}

@font-face {
    font-family: "Proxima Nova Karma";
    font-style: normal;
    font-weight: 200;
    src: url("fonts/proximanova_thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_thin-webfont.woff") format("woff"), url("fonts/proximanova_thin-webfont.ttf") format("truetype"), url("fonts/proximanova_thin-webfont.svg#proxima_novathin") format("svg");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: normal;
    src: url("fonts/proximanova_regularit-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_regularit-webfont.woff") format("woff"), url("fonts/proximanova_regularit-webfont.ttf") format("truetype"), url("fonts/proximanova_regularit-webfont.svg#proxima_novaregular_italic") format("svg");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/proximanova_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_semibold-webfont.woff") format("woff"), url("fonts/proximanova_semibold-webfont.ttf") format("truetype"), url("fonts/proximanova_semibold-webfont.svg#proxima_novasemibold") format("svg");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/proximanova_extrabld-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_extrabld-webfont.woff") format("woff"), url("fonts/proximanova_extrabld-webfont.ttf") format("truetype"), url("fonts/proximanova_extrabld-webfont.svg#proxima_novaextrabold") format("svg");
}

@font-face {
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: 800;
    src: url("fonts/proximanova_extrabldit-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova_extrabldit-webfont.woff") format("woff"), url("fonts/proximanova_extrabldit-webfont.ttf") format("truetype"), url("fonts/proximanova_extrabldit-webfont.svg#proxima_novaextrabold_italic") format("svg");
}