 #delivery-type, #custom-type {
	@include border-box;
	@include fdp;
	@include rounded;
	overflow: hidden;
	clear: both;
	margin: 0 0 10px;
	width: 100%;

	& > li{
		@include border-box;
		background: #fff;
		border: 1px solid $theme-color;
		color: $theme-color;
		cursor: pointer;
		display: inline;
		float: left;
		margin: 0;
		height: 40px;
		padding: 8px 15px;
		text-align: center;
		text-decoration: none;
		font-size: $fs-medium;

		&[data-dnature="plastic"] {
			width: 100%;
			margin: 0;
			cursor: default;
			// @include opacity: .5;
		}

		&.dt-active{
			background: $theme-color; 
			color: #fff; 
		}

		&:first-of-type{
			border-radius: $rounded 0 0 $rounded;
		}

		&:last-of-type{
			border-radius: 0 $rounded $rounded 0;
		}

		& + li{
			border-left: none;
		}
	}

	&.dnumber-2 > li{
		width: 50%;
	}
	&.dnumber-3 > li{
		width: 33.33%;
	}
}

.button{
	border: medium none;
    box-shadow: 0 1px 5px 0 rgba(50, 50, 50, 0.75);
    clear: none;
    color: #a47e49 !important;
    display: block;
    float: left;
    font-family: "knockout_htf50-welterweightRg";
    font-size: $fs-small;
    font-weight: normal;
    margin: 5px 10px 0 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    // transition: margin 0.55s ease 0s, width 0.65s ease-in-out 0s;

	&:hover{
		// background: darken(#E5E5E5, 5%);
	}

	&.main-bt{
	    font-size: 16px;
		// background: $theme-color;
		// border: 1px solid $theme-color;
		// color: #fff;

		&:hover{
			// background: darken($theme-color, 5%);
		}
	}

	&.main-button{
		@extend .button.main-bt;
	}

	&.update-cart{
		display: none;
	}

	&.new-card{
		display: none;
	}
	&.checkout{
		display: none;
	}

	&.back-button{
		float: left;
	}

	&.icon-bt{
		color: #404040 !important;
		height: 12px;
		padding: 4px;
		margin: 0 3px;
		background: none;
		border: none;
	}

	&.search-button{
		@extend .main-bt;
		@extend .fa;
		@extend .fa-search;
		font-size: 18px;
		padding: 5px 25px 9px;
	}
}

.half-button{
	@extend .button;
	@include margin-padding(10px 0 0, 6px);
	border: 2px solid #000;
	box-shadow: none;
	clear: none;
	color: #000 !important;
	display: inline-block;
	float: left;
	font-family: "knockout_htf50-welterweightRg";
	font-size: 12px;
	font-weight: normal;
	min-width: 35px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	& + .half-button{
		margin: 10px 0 0 10px;
	}
}

.pages-nav {
	@include border-box;
	width: 100%;
	float: left;
	margin: 20px 0 30px;
	padding: 0px 0px 0px 5px;
	position: relative;

	.button:not(.back-button){
		float: right;
	}
}

.cart-button{
	@extend .fa;
	font-size: 14px;
	margin: 0 0 0 5px;

	&.edit{
		@extend .fa-pencil;
	}

	&.delete{
		@extend .fa-trash-o;
	}
}
