header{
	@include border-box;
	@include width-height(100%, 60px);
	display: block;
	float: left;
	position: relative;
	// width: 100%;

	#status-bar{
		@include fdp;
		@include border-box;
		margin: -20px 0 12px 0; 
		// margin: 12px 22px;
		width: 100%
	}

	.titles-2 > .status-page{
		height: 34px;
		// width:  310px;
		width:  50%;
	}
	.titles-3 > .status-page{
		height: 34px;
		width:  33%;
	}

	.status-page{
		display: inline;
		float: left;
		position: relative;
		text-align: center;
	}

	.theme-color-bg{
		@include circle(40px);
		border: 1px solid #000;
		background-color: #fff;
		display: block;
		float: none;
		height: 35px;
		position: relative;
		width: 35px;
		margin: auto;

		& > div{
			@include border-box;
			@include circle(40px);
			color: #000;
			display: inline;
			float: left;
			font-size: 18px;
			line-height: 100%;
			height: 100%;
			padding: 9px 0 0;
			position: relative;
			text-align: center;
			width: 100%;
		}
	}

	.active > .theme-color-bg{
		background: $header-color;
		border-color: $header-color;

		& > div{
			color: #fff;
		}
	}		

	.page-title{
		@include fdp;
		font-family: "american_typewriterregular";
		font-size: $fs-small + 2;
		opacity: 0.4;
		padding: 6px 0 0;
		text-align: center;
		text-transform: capitalize;
		width: 100%;
	}

	.active{
		.page-title{
			opacity: 1;
		}
	}

	#notification-icon {
		@include shadow;
		@include circle;
		background: #FF0000;
		border: 2px solid #FFFFFF;
		color: #fff;
		cursor: pointer;
		display: block;
		float: left;
		font-weight: bold;
		height: 13px;
		padding: 0 5px 5px;
		position: absolute;
		right: -8px;
		text-align: center;
		top: -8px;
		width: auto;
	}
}
