<div class="card-img">
	<img src="{{{ CardImg }}}">
</div>

<div class="card-info">


	<div class="quan-deltype-align">
		<span>À: </span> {{{ Delivery.Persons[0].Name }}}
	</div>
    <div class="quan-deltype-align">		
		CAD ${{{ Amount }}}
	</div>	
</div>
<div class="card-nav">
	<a href="javascript:void(0)" class="cart-button delete" title='Effacer'>X</a>
</div>