input[type=checkbox]{
	background: none;
	border: none;
	filter: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #dedede;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dedede;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dedede;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #dedede;
}
textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #dedede;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dedede;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dedede;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

.button > span, .half-button > span, 				/*buttons*/
ul#delivery-content a.deliver-calendar, 			/*calendar*/
#image-wrap .next, #image-wrap .prev, 				/*img selector*/
div#exp-widget button.ew-arrow,						/*expiration date*/ 
#cart h2,											/*cart icon*/
.udBox a, 											/*up-down*/
div#cart-embed button.ew-arrow,
.cart-button{ 
	background-image: url('../../images/icons-3.png'); 
}
header ul#status-bar > li .theme-color-bg > div{ 
	background: url('../../images/header-bevel.png') 0px -2px no-repeat; 
	color: #fff;
}
header ul#status-bar > li .theme-color-bg:after{
	background: #7a7a7a;
}
a, .button, .half-button, 
#delivery-type > li, div#preview-window-bg span#pw-close, 
.terms-field > label strong{
	color: #7a7a7a;
}
#delivery-type > li, .button, .half-button, .main-button{
	background-image: url('../../images/bt-bg-3.png');
}
#delivery-type > li.dt-active, .main-button{
	color: #FFF;
	border: 1px solid #aaa;
}
div#cart-embed.active{
	background: #FFF;
}