@import url("reset.css");
@import url("print.css");
html{

}
body{
	background-color:#f2f2f2;
	color: #301404;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 20px 0;
}
a{
	text-decoration: none;
	color:#a20417;
}
a:hover{
	text-decoration: underline;
}
strong{
	font-weight: bold;
}
#wrapper{
	display: block;
	margin: 0 auto;
	padding: 20px;
	width: 700px;
}
#header{
	color: #777777;
	display: block;
	font-size: 11px;
	margin: 0 auto 10px;
	overflow: hidden;
	padding: 0 20px;
	text-align: right;
	width: 660px;
	background: #9d0514 url(../images/header-bg.jpg);
}
#header a{
	color: #ffffff;
	font-size: 11px;
	margin: 30px 10px;
	text-decoration: underline;
	white-space: nowrap;
}
#header a:hover{
	text-decoration: none;
}
#header .print-button{
	background: url("https://www.buyatab.com/Images/preview/passbook.png") no-repeat scroll left center rgba(0, 0, 0, 0);
	float: left;
	height: 22px;
	padding: 0 0 0 32px;
	margin: 30px 0 0 20px;
}

#content{
	background-color: #fff;
	width: 600px;
	padding: 20px 50px;
	display: block;
	position: relative;	
}
#card{
	display: block;
	position: relative;
	width: 573px;
	margin: 0 auto 10px;
	overflow: hidden;
	height: 375px;
}
#card-image{
	width: 590px;
	height: auto;
}
.photo #card-image{
	border-radius: 20px 20px 0 0;
	height: 279px;
	width: 573px;
}
.photo.bottom #card-image{
	border-radius: 20px 20px 0 0;
	height: 272px;
	width: 573px;
}
.photo.top #card-image{
	border-radius: 20px 20px 0 0;
	height: 272px;
	width: 573px;
}
.photo.left #card-image{
	border-radius: 0 20px 20px 0;
	height: 354px;
	width:  429px;
	float: right;
}
.photo.right #card-image{
	border-radius: 20px 0 0 20px;
	height: 354px;
	width:  429px;
}


#banner, .default #banner{
	display: none;
}
.photo #banner{
	display: block;
	float: left;
	height: 103px;
	position: absolute;
	width: 573px;
}
.photo #banner{
	border-radius: 0 0 20px 20px;
	bottom: 0;
}
.photo.bottom #banner{
	border-radius: 0 0 20px 20px;
	bottom: 0;
}
.photo.top #banner{
	border-radius: 20px 20px 0 0;
	top: 0;
}
.photo.left #banner{
	height: 354px;
	width:  144px;
	border-radius: 20px 0 0 20px;
	top: 0;
	left: 0;
}
.photo.right #banner{
	height: 354px;
	width:  144px;
	border-radius: 0 20px 20px 0;
	top: 0;
	right: 0;
}
#card-info{
	height: 440px;
	left: 0;
	padding: 50px;
	position: absolute;
	top: 0;
	width: 590px;
}
#card-info .value{
	width: 590px;
	font-size: 32px;
	/*position: absolute;
	right: 570px;
	text-align: right;
	top: 85px;
	margin: 0 auto;*/
}
#card-info .message{
	height: 80px;
	left: 70px;
	position: absolute;
	top: 350px;
	width: 560px;
}
#card-info #numbers{
	bottom: 50px;
	font-size: 9px;
	left: 140px;
	line-height: 14px;
	position: absolute;
}
.p1-only{
	display: none;
}

/*************************************************************
***************** Preview Style: 1 ***************************
*************************************************************/

.previewstyle-1 .p1-only{
	display: inline;
}
.previewstyle-1 #card-info{
	display: block;
	height: 220px;
	margin: 0;
	position: relative;
	width: 590px;
	padding: 0;
}
.previewstyle-1 #card-info .value{
	/*border-radius: 5px 5px 5px 5px;
	border: 1px solid #dbd3c9;*/
	background: url(../images/value-bg.jpg) center left no-repeat;
	width: 590px;
	clear: both;
	color: #333333;
	display: block;
	font-size: 36px;
	margin: 10px;
	padding: 14px 10px;
	position: relative;
	text-align: center;

	margin: 20px auto;
	font-family: 'Trebuchet MS', Arial,Helvetica,sans-serif; color: #a20417;
}
.logo {float: left;}
.previewstyle-1 #card-info .message{
	clear: both;
	display: block;
	float: left;
	height: 100px;
	position: relative;
	width: 100%;
	top: auto;
	left: auto;
}
.previewstyle-1 #card-info #numbers{
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #dbd3c9;
	clear: both;
	float: left;
	display: block;
	position: relative;
	width: 100%;
	bottom: auto;
	left: auto;
}
.previewstyle-1 #card-info #numbers div{
	float: left;
	display: block;
	position: relative;
	clear: both;
	width: 100%;
}

/*************************************************************
***************** Preview Style: 2 ***************************
*************************************************************/

.previewstyle-2 .p1-only{
	display: inline;
}
.previewstyle-2 #card-info{
	display: block;
	height: 650px;
	left: 150px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 60px;
	width: 400px;
}
.previewstyle-2 #card{
	width: 400px;
	height: 650px;
	border-radius: 0;
}
.previewstyle-2 #card img{
	width: 400px;
	height: auto;
}
.previewstyle-2 #card-info .value{
	color: #333333;
	display: block;
	float: left;
	font-size: 20px;
	position: absolute;
	right: 20px;
	text-align: right;
	top: 40px;
}
.previewstyle-2 #card-info .message{
	display: block;
	height: 100px;
	left: 25px;
	top: 460px;
	width: 350px;
}
.previewstyle-2 #card-info #numbers{
	
	clear: both;
	display: block;
	left: 30px;
	position: absolute;
	top: 590px;
	width: 350px;
}
.previewstyle-2 #card-info #numbers div{
	float: left;
	display: block;
	position: relative;
	clear: both;
	width: 100%;
}

#corporote-info{
	/*float: left;*/
	display: block;
	position: relative;
}

#numbers span{
	font-weight: bold;
}
nav{
	/*float: left;*/
	display: block;
	position: relative;
	width: 590px;
	margin: 40px 0 0;
	text-align: center;
	height: 30px;
}
nav a{
	/*background: url("../../../Images/preview/bt-bg.png") center;*/
	/*border: 1px solid #D7D7D7;*/
	/*border-radius: 20px 20px 20px 20px;*/
	display: block;
	height: 28px;
	/*padding: 1px;*/
	position: relative;
	margin: 0 auto;
	width: 120px;
}
nav a span{
	background: url("../../../Images/preview/go.png") no-repeat center right;
	display: block;
	height: 22px;
	padding: 5px 30px 0 0;
	position: relative;
	color: #666;
	width: 80px;
	font-size: 16px;
	text-align: center;
	float: right;
}
nav a span:hover{
	color: #000;
}
#footer{
	color: #777;
	font-size: 11px;
	line-height: 12px;
	margin: 10px 0 0;
	padding: 0 20px;
}

#bcTarget{
	margin: 20px auto;
}


/***********************************
iPhone 5 in landscape
************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape){
	
	body{
		/*background: blue;*/
	}
}

/***********************************
iPhone 5 in portrait
************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait){
	/*body{
		background: pink;
		}*/
	}

	/***********************************
	iPhone 2G-4S in landscape
	************************************/
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape){
		/*body{
			background: orange;
			}*/
		}

		/***********************************
		iPhone 2G-4S in portrait
		************************************/
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){
			#wrapper {
				padding: 10px;
				width: 300px;
			}
			#header{
				width: 300px;
				padding: 0;
			}
			#content{
				width: 280px;
				margin: 0;
				padding: 20px 10px;
			}
			#card, #card img {
				width: 280px;
			}
			#card-info{
				width: 300px;
				height: 230px;
				padding: 0;
			}
			#card-info .value{
				top: 32px;
				right: 15px;
				margin: 0;
				font-size: 15px;
			}
			#card-info .message{
				top: 160px;
				left: 15px;
				margin: 0;
				font-size: 10px;
				width: 250px;
			}
			#card-info #numbers{
				bottom: 0;
				left: 50px;
				font-size: 6px;
				line-height: 8px;
			}
			.previewstyle-1 #card-info #numbers{
				width: 260px;
			}
			#corporote-info p{
				width: 300px;
			}
			nav{
				width: 280px;
			}

			#footer{
				width: 280px;
			}
			.previewstyle-1 #card-info #numbers div.tab{
				margin: 10px 0;
			}
			.previewstyle-1 #content p img{
				max-width: 280px;
				height: auto;
			}

			#bcTarget{
				margin: 60px auto 0;
			}

			/***************************************************************
			**********************PreviewStyle-1****************************
			****************************************************************/
			.previewstyle-1 #card-info{
				width: 280px;
			}
			.previewstyle-1 #card-info .value{
				width: 250px;
				background: url(../images/value-bg.jpg) -180px -10px no-repeat;
				padding: 0;
				float: left;
				margin: 30px 30px 50px;
				height: 20px;
				text-align: center;
			}

			/***************************************************************
			**********************PreviewStyle-2****************************
			****************************************************************/
			.previewstyle-2 #card-info{
				width: 280px;
			}
			.previewstyle-2 #card{
				width: 280px;
				height: 450px;		
			}
			.previewstyle-2 #card img {
				width: 280px;
			}
			.previewstyle-2 #card-info{
				width: 300px;
				height: 450px;
				padding: 0;
				top: 0;
				left: 0;
			}
			.previewstyle-2 #card-info .value{
				top: 53px;
				right: 20px;
				margin: 0;
				font-size: 15px;
			}
			.previewstyle-2 #card-info .message{
				top: 345px;
				left: 25px;
				margin: 0;
				font-size: 10px;
				width: 250px;
			}
			.previewstyle-2 #card-info #numbers{
				top: 440px;
				left: 20px;
				font-size: 6px;
				line-height: 8px;
			}
			.previewstyle-2 #corporote-info p{
				width: 300px;
				margin: 60px 0;
			}
		}

		#header .globallinks{
			float: right;
			margin: 29px 0 0 0;
			text-align: right;
			display: block;
		}

		/***********************************
		Samsung Galaxy S4 Landscape
		************************************/
		@media only screen and (min-device-width : 320px) and (max-device-width : 640px) and (orientation : landscape){
			body{
				background: red;
			}
		}

		/***********************************
		Samsung Galaxy S4 Portrait
		************************************/
		@media only screen and (min-device-width : 320px) and (max-device-width : 640px) and (orientation : portrait ){

		}

		/***********************************
		Samsung Galaxy S2 Landscape
		************************************/
		@media only screen and (min-device-width : 320px) and (max-device-width : 534px) and (orientation : landscape){

		}

		/***********************************
		Samsung Galaxy S2 Portrait
		************************************/
		@media only screen and (min-device-width : 320px) and (max-device-width : 534px) and (orientation : portrait ){

		}

		/***********************************
		Samsung Nexus Portrait
		************************************/
		@media only screen and (min-device-width : 480px) and (max-device-width : 800px) and (orientation : portrait ){

		}

		/***********************************
		Samsung Nexus Landscape
		************************************/
		@media only screen and (min-device-width : 480px) and (max-device-width : 800px) and (orientation : landscape ){

		}