
/*
*************************************************************************************
*************************************************************************************
*************************************************************************************
                                    Body
*************************************************************************************
*************************************************************************************
*************************************************************************************
*/

#pages {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  margin: 0;
  margin-left: 0;
  padding: 0;
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  > li {
    float: left;
    display: inline;
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
}

.pages-nav {
  margin: 20px 0 30px;
  width: 100%;
  float: left;
  position: relative;
}

#confirmation-window-bg .pages-nav {
  padding: 0 10px;
  margin: 0 0 30px;
}

.half-field {
  float: left;
  display: block;
  position: relative;
  width: 320px;
  margin: 15px 0 0;
  label, div, input {
    width: 102px;
    display: inline;
    float: left;
  }
  label {
    text-align: left;
  }
  input {
    width: 105px;
  }
  div {
    width: 140px;
  }
}

ul.fields {
  float: left;
  display: inline;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background: none;
  > li {
    float: left;
    display: inline;
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    padding: 5px 0;
  }
}

.absolute-z {
  z-index: 9999 !important;
}

.tab-group > h2 {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin: 25px 0;
}

#delivery-info {
  overflow: hidden;
}

#photo-wrap {
  overflow: hidden;
  background: rgb(254, 254, 254);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(243, 243, 242, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254, 254, 254, 1)), color-stop(100%, rgba(243, 243, 242, 1)));
  background: -webkit-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(243, 243, 242, 1) 100%);
  background: -o-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(243, 243, 242, 1) 100%);
  background: -ms-linear-gradient(top, rgba(254, 254, 254, 1) 0%, rgba(243, 243, 242, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 254, 254, 1) 0%, rgba(243, 243, 242, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f3f3f2',GradientType=0 );
  > span {
    background: none repeat scroll 0 0 #e0e0e0;
    float: left;
    height: 40px;
    margin: 0;
    padding: 10px 0 0;
    width: 200px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-top: solid 1px #cbcbcb;
    top: 100px;
    left: 0;
    position: absolute;
    border-radius: 0 0 10px 10px;
  }
}

#photo-selector {
  float: left;
  position: relative;
  padding: 5px 20px 10px;
  height: 162px;
  .half-field.validation-error {
    background: none;
    border: none;
    margin: 0;
    .field-error {
      margin: 5px 0;
    }
  }
}

#design-selector {
  float: left;
  position: relative;
  > li {
    float: left;
    display: block;
    position: relative;
  }
}

#card-selector,  .field{
  clear: both;
  z-index: 99;
  display: block;
  position: relative;
}

.field {
  float: left;
  width: 613px;
  padding: 15px 75px 25px 12px;
  
  label {
    font-weight: bold;
  }
}

#card-selector {
  float: left;
  width: 613px;
  margin: 0 16px;
  padding: 15px 75px 25px 12px;
}

.choose-card {
  font-size: 14px;
  text-align: center;
  padding: 0;
  background-repeat: no-repeat !important;
  /*border-radius: 10px;*/
  height: 160px;
  /*-webkit-border-radius: 10px;*/
  -webkit-box-shadow: 0 0 3px 0 #666;
  box-shadow: 0 0 3px 0 #666;
  cursor: pointer;
  width: 108px;
  text-shadow: 0px 0px 2px #fff;
  margin: 0 auto;

  span {
    display: none;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
  }
}

#choose-design{
  padding: 0 0 40px;
  margin: 0 0 15px;
  border-bottom: 1px solid #d9d8d8;
}

#photo-wrap {
  font-size: 14px;
  text-align: center;
  padding: 0;
  background-repeat: no-repeat !important;
  /*border-radius: 10px;*/
  height: 160px;
  /*-webkit-border-radius: 10px;*/
  -webkit-box-shadow: 0 0 3px 0 #666;
  box-shadow: 0 0 3px 0 #666;
  cursor: pointer;
  width: 108px;
  text-shadow: 0px 0px 2px #fff;
  margin: 0 auto;
  padding: 0;
  height: 150px;
}


.bad-browser #photo-wrap {
  border: 1px solid #E0E0E0;
}

.field-left, .field-right {
  float: left;
  display: inline;
  position: relative;
  clear: none;
}

.field-left {
  width: 250px;
}

.field-right {
  width: 300px;
}

#photo-selector .field-right {
  width: 300px;
  height: 160px;
}

.terms-field {
  /*border-bottom: 1px solid #dedede;*/
  display: block;
  float: left;
  margin: 10px 0 0;
  padding: 10px 15px;
  position: relative;
  width: 622px;
  min-height: 60px;
  + .terms-field {
    margin: -1px 0 0;
  }

  div {
    margin: 10px 0;
  }
}

.field-detail, .field-error {
  float: left;
  display: inline;
  position: relative;
  clear: both;
  margin: 10px 0 0;
  padding: 0 0 0 2px;
  font-size: 13px;
}

.field-detail-value {
  float: left;
  display: inline;
  position: relative;
  clear: both;
  margin: 10px 0 0;
  padding: 0 0 0 2px;
  margin: 5px 0 0;
}

.field-detail, .field-detail-value {
  width: 300px;
  display: block;
}

.terms-field {
  .field-detail, .field-error {
    margin: 10px 0 5px;
    width: 100%;
  }
}

div {
  &#chars, &#chars-lines, &#char-line {
    display: inline-block;
    position: relative;
    margin: 0 2px 0 0;
  }
  &.values-wrap {
    float: left;
    display: block;
    position: relative;
    clear: both;
    margin: 5px 0 0;
    width: 100%;
  }
}

label[for=card-message]! {}

#delivery-type {
  padding: 0;
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0 0 10px;
  width: 100%;
  box-sizing: border-box;
}

#custom-type {
  padding: 0;
  clear: both;
  float: left;
  display: block;
  position: relative;
  margin: 0 0 10px;
  /* margin: 10px 0; */
}

#delivery-type > li, #custom-type > li {
  width: 164px;
  float: left;
  display: inline;
  padding: 8px 15px;
  margin: 0 1px;
  /*margin: 0 5px;*/
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 100;
}

ul {
  &#delivery-type.dnumber-1 > li, &#custom-type.dnumber-1 > li {
    /*width: 620px;*/
    display: none;
  }
  &#delivery-type.dnumber-2 > li, &#custom-type.dnumber-2 > li {
    width: 318px;
  }
  &#delivery-type.dnumber-3 > li, &#custom-type.dnumber-3 > li {
    width: 201px;
    margin: 0 1px;
  }
  &#delivery-type.dnumber-3! > li + li, &#custom-type.dnumber-3! > li + li {}
  &#delivery-type.dnumber-4 > li, &#custom-type.dnumber-4 > li {
    width: 114px;
  }
  &#delivery-type.dnumber-5 > li, &#custom-type.dnumber-5 > li {
    width: 85px;
  }
}

#custom-type > li:hover {
  background-position: 0px -152px;
}

#delivery-type > li {
  &:hover {
    background-position: 0px -152px;
  }
  &.dt-active {
    background: #525249;
    color: #fff;
    cursor: default;
  }
}

#custom-type > li.dt-active {
  background: #525249;
  color: #fff;
  cursor: default;
}

#delivery-type > li.dt-active:hover, #custom-type > li.dt-active:hover {
  background-position: 0px -52px;
}

.dt-inactive {
  cursor: default !important;
  // -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  // filter: alpha(opacity=40);
  // opacity: 0.4;
  content: '';
}

#delivery-type > li.dt-inactive:hover, #custom-type > li.dt-inactive:hover {
  background-position: 0px -102px;
}

ul#delivery-content {
  float: left;
  display: block;
  position: relative;
  transition: margin-left .4s;
  -moz-transition: margin-left .4s;
  -webkit-transition: margin-left .4s;
  -o-transition: margin-left .4s;
  li {
    float: left;
    display: block;
    position: relative;
    width: 590px;
    margin: 0 2px 0 0;
  }
}

.fields {
  p {
    float: left;
    display: block;
    position: relative;
    margin: 10px 0;
    padding: 8px 12px 17px;
    line-height: 16px;
    font-size: 13px;
  }
  .delivery-description {
    width: 100%;
    clear: both;
    margin: 0 0 10px;
  }
}

input#card_value {
  display: block;
  float: left;
  clear: both;
  padding: 6px 10px 6px 25px;
  position: relative;
  width: 278px;
  margin-top: 0;
}

.lang-fr input#card_value {
  padding: 6px 25px 6px 10px;
}

.dollar-sign {
  font-size: 12px;
  left: 10px;
  position: absolute;
  top: 6px;
  color: #000;
}

.lang-fr .dollar-sign {
  left: 125px;
}

ul#cc-type-selector {
  margin: 0 0 10px 264px;
  overflow: hidden;
  width: 180px;
  li {
    background-image: url("../images/cc_flags.png");
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 0;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    width: 51px;
    border-radius: 3px;
    &.visa {
      background-position: 255px 0;
    }
    &.mastercard {
      background-position: 204px 0;
    }
    &.amex {
      background-position: 0 0;
    }
    &.visa.off {
      background-position: 255px 32px;
    }
    &.mastercard.off {
      background-position: 204px 32px;
    }
    &.amex.off {
      background-position: 0 32px;
    }
  }
}

div {
  &.ui-dialog {
    z-index: 9999;
    position: fixed;
    top: 180px;
  }
  &.field-detail .tip {
    font-size: 12px;
    margin: 0 0 0 24px;
  }
}

.terms-field > label strong {
  font-weight: bold;
}

footer {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  line-height: 16px;
  margin: 12px 0 60px;
  color: #fff;
  // font-family: 'Lucida Sans','Lucida Sans Unicode','Lucida Grande',Arial,Helvetica;
  font-size: 12px;
  nav {
    display: block;
    position: relative;
    margin: 0 auto;
    /*float: none;*/
    width: 380px;
    li {
      /*float: left;*/
      display: inline-block;
      position: relative;
      + li:before {
        content: "|";
        margin: 0 5px;
      }
    }
  }
}

#buyatabContent.reload footer {
  margin: 20px 0 0;
}

div.shipping-options {
  * {
    float: left;
  }
  input[type=radio] {
    margin: 9px 0 0;
    background: none;
    border: none;
  }
  div.shipping-option {
    float: left;
    display: block;
    position: relative;
    clear: both;
  }
}

.pages-nav > img#verisign {
  height: 72px;
  left: 20px;
  margin: 0;
  position: absolute;
  top: 10px;
  width: 100px;
  cursor: pointer;
}

img {
  &#verisign1 {
    cursor: pointer;
    height: 72px;
    margin: 150px 50% 0 0;
    position: absolute;
    right: -50px;
    top: 36px;
    width: 100px;
  }
  &[name=seal] {
    display: none;
  }
}

.shipping-details > span {
  display: block;
}

.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  width: 107px;
  margin: 0;
  // background: -webkit-gradient(linear, 0 100%, 0 0, from(#FFFFFF), to(#F7F7F7)) !important;
  // background: -webkit-linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
  // background: -moz-linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
  // background: -o-linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
  // background: linear-gradient(#FFFFFF 0%, #F7F7F7 100%) !important;
  border: 1px solid #D9D8D8 !important;
  input {
    border: none;
    margin: 0;
    color: #000;
  }
}