/*
*************************************************************************************
*************************************************************************************
*************************************************************************************
                                    Button
*************************************************************************************
*************************************************************************************
*************************************************************************************
*/

.button {
  clear: none;
  float: left;
  display: block;
  margin: 5px 0 1px;
  text-decoration: none;
  text-align: center;
  width: 230px;
  padding: 10px 15px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: margin .55s, width .65s ease-in-out;
  -moz-transition: margin .55s, width .65s ease-in-out;
  -ms-transition: margin .55s, width .65s ease-in-out;
  -o-transition: margin .55s, width .65s ease-in-out;
  transition: margin .55s, width .65s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  > span {
    height: 14px;
    display: block;
    width: 100%;
    font-weight: 300;
  }

  &.main-button {
    /*background-position: top left;*/
    /*background-repeat: repeat-x ;*/
    background: #525249;
    color: #fff;
  }

  &:hover > span {
    /*color: #fefefe;*/
  }

  &.add-to-cart > span, &.go-to-delivery > span, > span {
    background-repeat: no-repeat;
  }

  &.add-to-cart > span {
    background-position: right -1210px;
  }
  &.update-cart > span, &.continue-button > span {
    background-position: right -450px;
  }

  &.add_photo.loading-wrap {
    cursor: default;
    padding: 3px;
    margin: 50px auto;
    width: 290px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
  }
  &.loading-wrap > span {
    background-image: none;
    color: #fff;
    padding: 6px 0 0;
    position: absolute;
    width: 290px;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.65);
    -webkit-transition: width .7s ease-in-out;
    -moz-transition: width .7s ease-in-out;
    -ms-transition: width .7s ease-in-out;
    -o-transition: width .7s ease-in-out;
    transition: width .7s ease-in-out;
  }
}

#delivery-type li, #custom-type li {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-choice {
  display: inline-block;
  float: none;
  margin: 100px 10px;
  text-align: center;
  width: 250px;

  span {
    background: none repeat scroll 0 0 transparent !important;
    height: 18px !important;
    padding: 5px 0 0 !important;
    text-align: center;
    width: 100% !important;
  }
}

.half-button {
  clear: none;
  float: left;
  display: inline-block;
  margin: 3px 8px 3px 0;
  text-decoration: none;
  text-align: center;
  min-width: 35px;
  padding: 6px;
  font-size: 13px;
  font-weight: bold;
}

.cart-button {
  display: block;
  float: right;
  height: 20px;
  margin: 0 5px;
  position: relative;
  width: 20px;

  &:hover {
    // -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    // filter: alpha(opacity=80);
    // opacity: 0.8;
  }

  &.delete {
    background-position: 20px -571px;
  }

  &.edit {
    background-position: 16px -613px;
  }
}

.values-wrap .half-button {
  float: none;
}



.button:hover, .half-button:hover, .main-button:hover {
  opacity: 0.9;
}

.no-icon {
  background-image: none;
}

.checkout > span, .purchase > span, .change_design_bt > span, .preview_bt > span {
  background-repeat: no-repeat;
}

.half-button > span {
  background-repeat: no-repeat;
}


.checkout, .new-card {
  display: none;
}


.reload a.checkout {
  display: block;
}

.checkout > span, .purchase > span {
  background-position: right -450px;
}

.checkout > span:hover, .purchase > span:hover {
 background-position: right -530px;
}

.new-card > span {
  background-position: right -290px;
}

.change_design_bt > span {
  background-position: right -210px;
}

.preview_bt > span {
  background-position: right -90px;
}

.button.add_photo {
  min-width: 130px !important;
  width: 80px;
}

.add_photo > span {
  background-position: right 10px;
  padding: 0;
  width: 130px;
}

#delivery-type li > span {
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  font-size: 12px;
  font-weight: 100;
  background: none !important;
  padding: 2px 0;
  text-transform: uppercase;
}

.preview_bt > span {
  background-position: right -90px;
}


.pages-nav {
  
  .button {
    &.add-to-cart, &.continue-button {
      float: right;
    }
  }
  .main-button.button {
    float: right;
  }
  .button.update-cart {
    float: right;
    display: none;
  }
  .button.back-button {
    float: left;
    > span {
      background-position: -25px -490px;
    }
  }
}
.checkout-nav a {
  clear: none;
}

.half-button {
  &.edit > span {
    background-position: right -172px;
  }
  &.delete > span {
    background-position: right -132px;
  }
  > span {
    padding: 0 30px 0 0;
    min-width: 60px;
    float: left;
    text-align: left;
  }
}

.udBox {
  a {
    float: left;
    display: block;
    position: relative;
    clear: both;
    border: 1px solid #dedede;
    border-radius: 4px;
  }
  .qUp {
    background-position: right -13px;
  }
  .qDown {
    background-position: right -51px;
  }
  .qUp:active {
    background-position: right -14px;
  }
  .qDown:active {
    background-position: right -50px;
  }
}

#buyatabContent .deliver-calendar {
  /*  background-position: right -201px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    position: absolute;
    right: 2px;
    top: 4px;*/
  display: none;
}


#cart-embed button {
  &.ew-arrow {
    float: left;
    position: relative;
    width: 270px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;
    display: none;
    border: none;
    &:hover {
      // -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      // filter: alpha(opacity=70);
      // opacity: 0.7;
   
    }
  }
  &.ew-arrow-up {
    background-position: 100px -10px;
  }
  &.ew-arrow-down {
    background-position: 100px -50px;
  }
  &.ew-arrow-up:active {
    background-position: 100px -11px;
  }
  &.ew-arrow-down:active {
    background-position: 100px -49px;
  }
}

#exp-widget {
  button {
    &.ew-arrow {
      float: left;
      display: block;
      position: relative;
      border-radius: 4px;
      width: 46px;
      height: 20px;
      margin: 0 5px;
      cursor: pointer;
      border: 1px solid transparent;
      background-repeat: no-repeat;
      background-color: transparent;
      background-image: url('../images/icons.png');
    }
    &.ew-arrow-up {
      background-position: -10px -10px;
    }
    &.ew-arrow-down {
      background-position: -10px -50px;
    }
    &.ew-arrow-up:active {
      background-position: -10px -11px;
    }
    &.ew-arrow-down:active {
      background-position: -10px -49px;
    }
  }
}

button.ew-arrow:hover {
  border: 1px solid #ddd;
}

.ui-mobile.lang-fr .button.add-to-cart > span {
  height: 22px;
}

.no-icon > span {
  background-image: none !important;
}


/*Progress bar button*/

.button.loading {
  -webkit-background-size: 40px 40px, 1px 160px;
  -moz-background-size: 40px 40px, 1px 160px;
  -o-background-size: 40px 40px, 1px 160px;
  background-size: 40px 40px, 1px 200px;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.05)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.05)), color-stop(0.75, rgba(0, 0, 0, 0.05)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity = 60);
  opacity: .6;
  cursor: default;
  -webkit-animation: animate-stripes 2s linear infinite;
  -moz-animation: animate-stripes 2s linear infinite;
  animation: animate-stripes 2s linear infinite;
  span {
    color: #333;
    background: none;
  }
}

.progress-bar {
  -webkit-background-size: 40px 40px, 1px 160px;
  -moz-background-size: 40px 40px, 1px 160px;
  -o-background-size: 40px 40px, 1px 160px;
  background-size: 40px 40px, 1px 200px;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(0, 0, 0, 0.05)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.05)), color-stop(0.75, rgba(0, 0, 0, 0.05)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg-3.png");
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg-3.png");
  background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg-3.png");
  background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg-3.png");
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg-3.png");
  cursor: default;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 30px;
  -webkit-animation: animate-stripes2 2s linear infinite;
  -moz-animation: animate-stripes2 2s linear infinite;
  animation: animate-stripes2 2s linear infinite;
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: -ms-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: -o-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent), url("../images/bt-bg.png");
}

@-webkit-keyframes animate-stripes {
  0% {
    background-position: 0 0, 0 -102px;
  }
  100% {
    background-position: 80px 0, 0 -102px;
  }
}


@-moz-keyframes animate-stripes {
  0% {
    background-position: 0 0, 0 -102px;
  }
  100% {
    background-position: 80px 0, 0 -102px;
  }
}


@keyframes animate-stripes {
  0% {
    background-position: 0 0, 0 -102px;
  }
  100% {
    background-position: 80px 0, 0 -102px;
  }
}


@-webkit-keyframes animate-stripes2 {
  0% {
    background-position: 0 0, 0 0px;
  }
  100% {
    background-position: 80px 0, 0 0px;
  }
}


@-moz-keyframes animate-stripes2 {
  0% {
    background-position: 0 0, 0 0px;
  }
  100% {
    background-position: 80px 0, 0 0px;
  }
}


@keyframes animate-stripes2 {
  0% {
    background-position: 0 0, 0 0px;
  }
  100% {
    background-position: 80px 0, 0 0px;
  }
}