#buyatabContent{
	#confirmation-window-bg{
		background: rgba(0, 0, 0, 0.5);
		cursor: default;
		display: none;
		float: left;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 10000;
	}
}

.confirmation{
	#buyatabContent{
		min-height: 600px;

		&.lang-en{
			background: url('img/watermark.png');
		}
		&.lang-fr{
			background: url('img/watermark-fr.png');
		}
	}

	header{
		height: auto;
	}

	#message{
		float: left;
		display: block;
		position: relative;
		line-height: 200%;
	}
}