
/*
*************************************************************************************
*************************************************************************************
*************************************************************************************
                                    Mobile
*************************************************************************************
*************************************************************************************
*************************************************************************************
*/
/*Mobile general style */

.ui-mobile {
  display: block;
  -webkit-text-size-adjust: none;
}

body {
  overflow-y: visible;
}

/*100% width*/

.ui-mobile {
  input {
    &[type=text], &[type=tel], &[type=month], &[type=date], &[type=email] {
      width: 100% !important;
    }
  }
  textarea, li#page-cart div#control a.button > span, #confirmation-window-bg #cw-content {
    width: 100% !important;
  }
  ul {
    &#delivery-type.dnumber-1 > li, &#custom-type.dnumber-1 > li {
      width: 100% !important;
    }
  }
  div.pages-nav .button {
    > span {
      width: 100% !important;
    }
    width: 100% !important;
  }
  #confirmation-window, div#control .button, #delivery-type, #card-selector, .double-field, .input-holder, .field-right, .terms-field, .field-left, .pages-nav, .field, header, select {
    width: 100% !important;
  }
  input {
    &[type=text], &[type=tel], &[type=month], &[type=date], &[type=email] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  textarea, select, li#page-cart div#control a.button > span, #confirmation-window-bg #cw-content, li#page-cart div#control a.button, div.pages-nav .button > span, li#page-cart div#control, ul#delivery-content li, div.pages-nav .button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul {
    &#delivery-type > li, &#custom-type > li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  header ul#status-bar, #confirmation-window, div#control .button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  ul {
    &#delivery-type, &#custom-type, &.fields > li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  .double-field, .input-holder, .terms-field, .half-field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/*Box Sizing > Border box*/

div.pages-nav .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-mobile {
  .fields, .field, select, header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  #pages, .fields, #delivery-content {
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
  }
  #wrapper {
    padding: 5px 10px;
    width: auto;
  }
  #card-selector {
    padding: 0;
  }
  .field {
    border-radius: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 20px 0 15px;
  }
  .double-field {
    float: left;
    display: block;
    position: relative;
  }
  .half-field {
    width: 50%;
    label {
      width: 100%;
    }
    + .half-field {
      padding: 0 0 0 15px;
    }
  }
  .input-holder {
    float: left;
    display: block;
    position: relative;
  }
  header {
    ul#status-bar {
      float: none;
      margin: 10px auto;
      white-space: nowrap;
      width: 270px;
      height: 60px;
      > li {
        .theme-color-bg {
          margin: 0 27px 5px;
        }
        &.status-page {
          display: inline-block;
          height: 60px;
          margin: 0;
          vertical-align: top;
          width: 90px;
        }
      }
    }
    #status-bar > li.status-page .page-title {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 90px;
      text-align: center;
    }
  }
  div.pages-nav .button, li#page-cart div#control a.button {
    margin: 5px 0;
    padding: 9px 15px;
    float: left;
  }
  div.pages-nav .button > span, li#page-cart div#control a.button > span {
    padding: 0 0 0 5px;
    text-align: left;
  }
  div.pages-nav .button.back-button > span {
    background-position: right -490px;
  }
  .deliver-calendar {
    display: none;
  }
  ul {
    &#delivery-type.dnumber-2 > li, &#custom-type.dnumber-2 > li {
      width: 50%;
      margin: 0;
    }
    &#delivery-type.dnumber-3 > li, &#custom-type.dnumber-3 > li {
      width: 33%;
    }
    &#delivery-type.dnumber-4 > li, &#custom-type.dnumber-4 > li {
      width: 25%;
    }
    &#delivery-type.dnumber-5 > li, &#custom-type.dnumber-5 > li {
      width: 20%;
    }
  }
  li#page-cart div#control {
    padding: 0 2px 0 0;
  }
  #delivery-content li {
    padding: 0 2px 0 0;
    margin: 0;
  }
  #pages > li {
    margin: 0;
  }
  .pages-nav > img#verisign {
    display: block;
    float: none;
    left: inherit;
    margin: 150px auto 0;
    position: relative;
    top: inherit;
  }
  .values-wrap {
    text-align: center;
  }
  .deliver-calendar {
    display: none;
  }
  .terms-field label {
    height: auto;
    width: auto;
  }
  #image-wrap {
    margin: 0 auto;
    width: 290px;
    padding: 0;
  }
  .field-error {
    height: 15px;
  }
  .cart-button {
    margin: 0 0 0 30px;
  }
  #confirmation-window-bg {
    background: #FFF;
    top: 90px;
    #cw-content {
      padding: 0 20px;
    }
  }
  #confirmation-window {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #confirmation-window-bg .summary {
    width: 50%;
    margin: 10px 0 0;
    &:nth-child(3) {
      width: 100%;
      > div {
        width: 200px;
      }
    }
  }
}

div.ui-dialog {
  width: 280px;
}

.ui-mobile {
  #delivery-type > li, #custom-type > li {
    padding: 9px 0;
  }
}

/* Open Card */

.open-card {
  .card {
    /* so you get the 3d effect */
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    height: 260px;
    width: 328px;
    position: relative;
    padding: 0 0 0 95px;
    -webkit-transition: all 0.4s ease-in-out 0.4s;
    -moz-transition: all 0.4s ease-in-out 0.4s;
    -ms-transition: all 0.4s ease-in-out 0.4s;
    -o-transition: all 0.4s ease-in-out 0.4s;
    transition: all 0.4s ease-in-out 0.4s;
    background-image: none;
    background-position: 130px 0;
    background-size: 80px 240px;
    background-repeat: no-repeat;
    &.open {
      background-image: url(../images/card-shadow.png);
      background-position: 0 0;
      background-size: 346px 260px;
      padding: 0 0 0 172px;
    }
  }
  .tile {
    height: 260px;
    width: 164px;
    position: absolute;
  }
  .card {
    .front {
      /* otherwise the perspective gets erased, and you lose the 3d */
      -webkit-transition-duration: 1s;
      -webkit-transform-origin: 0 0;
      -webkit-transform-style: preserve-3d;
      -moz-transition-duration: 1s;
      -moz-transform-origin: 0 0;
      -moz-transform-style: preserve-3d;
      z-index: 2;
      /* the front needs to be rendered on top of the back */
      .outside, .inside {
        position: absolute;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        /* makes it so that the elements only have a front side */
      }
      // .outside! {}
      .inside {
        /* flips the top-inside so its back touches the fronts back */
        -webkit-transform: rotatey(180deg);
        -moz-transform: rotatey(180deg);
      }
    }
    .in-right {
      z-index: 1;
    }
    &.open {
      .front {
        /*rotates the entire front (with the in- and outsides in it) if the class 'open' is added to the card */
        -webkit-transform: rotatey(-180deg);
        -moz-transform: rotatey(-180deg);
      }
      // .in-right! {}
    }
  }
}

.open-card-desc {
  clear: both;
  display: block;
  float: left;
  margin: 0 0 10px;
  position: relative;
  text-align: center;
  width: 100%;
}

/***********************************
iPhone 5 in landscape
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/***********************************
iPhone 5 in portrait
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* STYLES GO HERE */
}

/***********************************
iPhone 2G-4S in landscape
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  .ui-mobile #image-wrap {
    width: 346px;
  }
  .flexslider {
    width: 346px;
    height: 260px;
  }
  .previewstyle-1 .flexslider {
    height: 215px;
  }
  div.ui-dialog {
    top: 50px !important;
    left: 87px !important;
  }
  body > img#verisign1 {
    margin: 80px 50% 0 0;
  }
  .ui-mobile header ul#status-bar {
    width: 400px;
    > li.status-page {
      margin: 0 20px;
    }
  }
  /*Receipt*/
  #wrapper.receipt {
    width: 460px;
    padding: 10px;
  }
  .receipt header {
    width: 440px;
  }
  #wrapper.receipt {
    div#sub-title {
      div {
        width: 280px;
      }
      .sub-right {
        width: 150px;
        * {
          width: 150px;
        }
      }
    }
    ul#items-detail > li > div {
      &.second-column, &.third-column {
        margin: 5px 0 0 85px;
      }
    }
    footer div#sub-footer {
      margin: 0 0 20px;
      > div {
        width: 220px;
        margin: 0;
        overflow-x: hidden;
      }
    }
    .pages-nav {
      width: 460px;
      a {
        float: left;
        width: 100%;
        margin: 0;
        text-align: center;
        span {
          width: 100%;
          margin: 0;
          text-align: center;
          padding: 0;
        }
      }
    }
  }
  .flexslider {
    margin: 0 0 40px;
    /*background: #c9c192;*/
  }
}

/***********************************
iPhone 2G-4S in portrait
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  .ui-mobile #image-wrap {
    width: 290px;
  }
  .flexslider {
    width: 290px;
    height: 218px;
  }
  .previewstyle-1 .flexslider {
    height: 180px;
  }
  div.ui-dialog {
    top: 100px !important;
    left: 7px !important;
  }
  body > img#verisign1 {
    margin: 80px 50% 0 0;
  }
  li#page-cart div.card-info {
    width: 180px;
  }
  /*Receipt*/
  #wrapper.receipt {
    width: 300px;
    padding: 10px;
  }
  .receipt header {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  #wrapper.receipt {
    header div, footer div {
      text-align: center;
      width: 300px;
      padding: 0;
      float: left !important;
      span, h2 {
        text-align: center;
        width: 300px;
        padding: 0;
        float: left !important;
      }
    }
    div#sub-title > div {
      margin: 10px 0 0;
    }
    .subtotal, .total {
      width: 220px;
      float: none;
      display: block;
      margin: 0 auto;
    }
    ul#items-detail > li > div {
      &.second-column, &.third-column {
        margin: 5px 0 0 85px;
      }
    }
    footer div#sub-footer > div.sub-right {
      float: left;
      clear: both;
    }
    .pages-nav {
      width: 300px;
      a {
        float: left;
        width: 100%;
        margin: 0;
        text-align: center;
        span {
          width: 100%;
          margin: 0;
          text-align: center;
          padding: 0;
        }
      }
    }
  }
  .ui-mobile #confirmation-window-bg .summary {
    text-align: center;
    width: 100%;
    > div {
      width: 100% !important;
      > {
        div, span {
          width: 120px;
          float: left;
          display: inline-block;
          position: relative;
        }
        div {
          text-align: right;
        }
        span {
          text-align: left;
        }
      }
    }
  }
  .open-card {
    .card.open {
      background-size: 255px 186px;
      background-position: 15px 0;
      padding: 0 0 0 144px;
    }
    .tile {
      height: 180px;
      width: 120px;
    }
    .card {
      background-position: 105px 20px;
      background-size: 40px 150px;
      height: 180px;
      width: 328px;
      padding: 0 0 0 85px;
      margin: 10px 0 0;
    }
  }
  .flexslider {
    margin: 0 0 40px;
    /*background: #2be7cf;*/
  }
}

/***********************************
Samsung Galaxy S4 Landscape
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) {
  .flexslider {
    margin: 0 0 40px;
  }
}

/***********************************
Samsung Galaxy S4 Portrait
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) {
  .open-card {
    .card.open {
      background-size: 255px 186px;
      background-position: 15px 0;
      padding: 0 0 0 144px;
    }
    .tile {
      height: 180px;
      width: 120px;
    }
    .card {
      background-position: 105px 20px;
      background-size: 40px 150px;
      height: 180px;
      width: 328px;
      padding: 0 0 0 85px;
      margin: 10px 0 0;
    }
  }
}

/***********************************
Samsung Galaxy S2 Landscape
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 534px) and (orientation: landscape) {
  .flexslider {
    margin: 0 0 40px;
  }
}

/***********************************
Samsung Galaxy S2 Portrait
************************************/
@media only screen and (min-device-width: 320px) and (max-device-width: 534px) and (orientation: portrait) {
  .open-card {
    .card.open {
      background-size: 255px 186px;
      background-position: 15px 0;
      padding: 0 0 0 144px;
    }
    .tile {
      height: 180px;
      width: 120px;
    }
    .card {
      background-position: 105px 20px;
      background-size: 40px 150px;
      height: 180px;
      width: 328px;
      padding: 0 0 0 85px;
      margin: 10px 0 0;
    }
  }
}

/***********************************
Samsung Nexus Portrait
************************************/
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) and (orientation: portrait) {
  .open-card {
    .card.open {
      background-size: 255px 186px;
      background-position: 15px 0;
      padding: 0 0 0 144px;
    }
    .tile {
      height: 180px;
      width: 120px;
    }
    .card {
      background-position: 105px 20px;
      background-size: 40px 150px;
      height: 180px;
      width: 328px;
      padding: 0 0 0 85px;
      margin: 10px 0 0;
    }
  }
  .flexslider {
    /*background: purple;*/
  }
}

/***********************************
Samsung Nexus Landscape
************************************/
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) and (orientation: landscape) {
  .flexslider {
    margin: 0 0 40px;
    /*background: orange;*/
  }
}