<div class="card-info">
	<div class="card-img">
		<img src="{{{ CardImg }}}">
	</div>

	<div>{{{ Delivery.Persons[0].Name }}}</div>
	<div> USD {{{ getAmount(Amount, null) }}} x {{{ Quantity }}}</div>
</div>
<div class="card-nav">
	<a href="javascript:void(0)" class="delete" title='Delete card'></a>
	<a href="javascript:void(0)" class="edit" title='Edit card'></a>
</div>