<div class="card-info">
	<img src="{{{ CardImg }}}">
	<div>{{{ Delivery.Persons[0].Name }}}</div>
	<div> USD {{{ getAmount(Amount, null) }}} x {{{ Quantity }}}</div>
	<a href="javascript:void(0)" class="delete" title='Delete card'></a>
</div>