.ui-datepicker{
	z-index: $z4 !important;
}

.ui-spinner{
	@include rounded;

	input{
		@include border-box;
		border: none;
		float: left;
		font-family: sans-serif;
		font-size: $fs-micro;
		margin: 0;
		padding: 10px 10px 7px;
		width: 80px;	
	}
}