 #delivery-type, #custom-type {
	@include border-box;
	@include fdp;
	@include rounded;
	overflow: hidden;
	clear: both;
	margin: 0 0 10px;
	width: 100%;

	& > li{
		@include border-box;
		background: #fff;
		border: 1px solid $bt-main-bg;
		color: $bt-main-bg;
		cursor: pointer;
		display: inline;
		float: left;
		font-family: 'halis_grs_book';
		font-size: $fs-medium;
		height: 40px;
		line-height: 100%;
		margin: 0;
		padding: 8px 15px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&[data-dnature="plastic"] {
			width: 100%;
			margin: 0;
			cursor: default;
			// @include opacity: .5;
		}

		&.dt-active{
			background: $theme-color; 
			color: #fff; 
		}

		&:first-of-type{
			border-radius: $rounded 0 0 $rounded;
		}

		&:last-of-type{
			border-radius: 0 $rounded $rounded 0;
		}

		& + li{
			border-left: none;
		}
	}

	&.dnumber-2 > li{
		width: 50%;
	}
	&.dnumber-3 > li{
		width: 33.33%;
	}
}

button{
	@include transition(background 0.2s ease-in-out 0s);
	background: $bt-bg;
	border: none;
	color: $bt-text-color;
	
	&:hover{
		background: darken($bt-bg, 5%);
	}
}

.button{
	@include transition(background 0.2s ease-in-out 0s);
	@include rounded();
	@include txt-shadow;
	background: $bt-bg;
	border: none;
	color: $bt-text-color;
	float: $bt-float;
	font-family: 'halis_grs_book';
	font-size: 14px;
	font-weight: 100;
	// height: 18px;
	line-height: 100%;
	margin: 0 0 0 10px;
	padding: $bt-padding 25px 10px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;

	&:hover{
		background: darken($bt-bg, 5%);
	}

	&.main-bt{
		background: $bt-main-bg;
		border: 1px solid $bt-main-bg;
		color: $bt-main-text-color;

		&:hover{
			background: darken($theme-color, 5%);
		}
	}

	&.main-button{
		@extend .button.main-bt;
	}

	&.update-cart{
		display: none;
	}

	&.new-card{
		display: none;
	}
	&.checkout{
		display: none;
	}

	&.back-button{
		float: left;
	}

	&.icon-bt{
		color: #404040 !important;
		height: 12px;
		padding: 4px;
		margin: 0 3px;
		background: none;
		border: none;
	}

	&.search-button{
		@extend .main-bt;
		@extend .fa;
		@extend .fa-search;
		font-size: 18px;
		padding: 5px 25px 9px;
	}
}

.values-wrap{
	@include fdp;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin: 10px 0 0;
	width: 100%;

	.half-button{
		@extend .button;
		@include margin-padding(0, 8px 0);
		border: none;
		font-size: $fs-small;
		text-align: center;
		width: 50px;
	}
}

.pages-nav {
	@include border-box;
	width: 100%;
	float: left;
	margin: 20px 0 30px;
	position: relative;
}

.cart-button{
	@extend .fa;
	font-size: 14px;
	margin: 0 0 0 5px;

	&.edit{
		@extend .fa-pencil;
	}

	&.delete{
		@extend .fa-trash-o;
	}
}
