@font-face {
    font-family: "aracne_regularregular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/aracne_regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/aracne_regular-webfont.woff") format("woff"),
         url("fonts/aracne_regular-webfont.ttf") format("truetype"),
         url("fonts/aracne_regular-webfont.svg#aracne_regularregular") format("svg");
}

@font-face {
    font-family: "halis_grs_book";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ahmet_altun_-_halisgr-sbook-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/ahmet_altun_-_halisgr-sbook-webfont.woff") format("woff"),
         url("fonts/ahmet_altun_-_halisgr-sbook-webfont.ttf") format("truetype"),
         url("fonts/ahmet_altun_-_halisgr-sbook-webfont.svg#halis_grs_book") format("svg");
}

@font-face {
    font-family: "halis_grs_light";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/ahmet_altun_-_halisgr-slight-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/ahmet_altun_-_halisgr-slight-webfont.woff") format("woff"),
         url("fonts/ahmet_altun_-_halisgr-slight-webfont.ttf") format("truetype"),
         url("fonts/ahmet_altun_-_halisgr-slight-webfont.svg#halis_grs_light") format("svg");
}