html{
    height:100%;
}
body{
    font-size: 12px; 
    min-height:100%;
    background: #F5F3EF;
    color: #707070;
}
noscript div, #loading-receipt{
    display: block;
    height: 250px;
    left: 50%;
    margin: -250px 0 0 -250px;
    padding: 250px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 500px;
}
noscript p, #loading-receipt p{
    margin: 20px auto;
    line-height: 18px;
}
a{
    text-decoration: none;
    outline: 0;
}
div.field a:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
h2{
    color: #363636;
    font-family: "TradeGothicW01-BoldCn20 675334";
    font-size: 25px;
    font-weight: 400 !important;
    line-height: 28px;
    margin: 0 0 5px;
    text-transform: uppercase;
    float: left;
}
h3{
    background: none;
    height: 20px;
    margin: 0;
    padding: 0;
    color: #363636;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 15px;
}
header{
    display: none;
}
input, textarea, select, div#exp-widget{
    border: solid 1px #d9d8d8;
    background: #fff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
}
input, textarea, select{
    resize: none;
    float: left;
    outline: none;
    font-size: 16px; 
    padding: 4px 10px; 
    width: 280px; 
}
select.exp-left, select.exp-right{
    width: 100px !important;
    clear: none;
}
select.exp-right{
    margin-left: -1px;
}

input[type=checkbox]{ 
    width: 20px; 
}

input[type=text], textarea {
    border: 1px solid #B7B7B7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
    color: #333333;
    font: 13px Times,'Times New Roman',serif;
    padding: 4px;
    resize: none;
    width: 232px;
}
input[type=radio]{
    width: 20px;
}
textarea{
    height: 140px;
    width: 460px;
}

label{
    display: block;
    font-size: 16px;
    height: 18px; 
    padding: 0 10px 0 0;
    line-height: 15px;
}
label span{ 
    font-size: 12px; 
}
select{ 
    width: 300px; 
    padding: 3px 5px 3px 10px; 
}

div#preview-window-bg {
    background-color: rgba(0, 0, 0, 0.5);
    background: url("../images/obg.png");
    cursor: pointer;
    display: block;
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99999;
    display: none;
}
div#preview-window-bg div#preview-window{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 443px;
    width: 590px;
    left: 50%;
    position: fixed;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:  0px 0px 3px 1px #666;
    box-shadow:  0px 0px 3px 1px #999;
    padding: 10px;
    margin: 50px 0 0 -305px;
    top: 0;
}
div#preview-window-bg div#preview-window img#preview-image{	
    height: 443px;
    width: 590px;
    cursor: default;
}
div#preview-window-bg div#preview-window span#pw-message {
    color: #1F0B03;
    cursor: default;
    font-family: arial;
    font-size: 22px;
    height: auto;
    left: 12px;
    line-height: 22px;
    max-height: 140px;
    padding: 0 15px;
    position: absolute;
    top: 310px;
    width: 560px;
    word-wrap:break-word;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div#preview-window-bg div#preview-window span#pw-value {
    color: #1F0B03;
    cursor: default;
    font-family: arial;
    font-size: 30px;
    position: absolute;
    right: 60px;
    top: 40px;
    width: 80px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#buyatabContent{
	position: absolute;
	display: block;
	float: left;
	margin: 0;
	width: 100%;
}
#content{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	width: 100%;
}
#wrapper {
    margin: 30px auto;
    padding: 40px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: none repeat scroll 0 0 #F5F3EF;
    width: 938px;
    padding: 30px 0 20px; 
}
#pages-wrapper{
	width: 592px;
	overflow: hidden;
    float: left;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}
#wrapper.with-cart{
	width: 880px;
}
.ajax-loader{
    background: url("../images/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 20px;
    margin: 0;
    padding: 7px 0 0 30px;
}
table#veri-seal{
    margin: 15px 0 0;
    position: absolute;
}
.hide-me{
    visibility: hidden;
}
.clickable{
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
.inline{
    width: auto;
    clear: none !important;
    float: left !important;
    display: inline-block !important;
}
label.inline{
    color: #707070;
    font-size: 12px;
    padding: 5px;
}
.float-right{
    float: right !important;
    clear: none;
    margin: 5px 5px 0 0 !important;
}
.hide-fields, #card-selector {
    display: none !important;
}
.visible{
    visibility: visible !important;
}
.double-field{
    display: inline-block;
    float: left;
    margin: 20px 15px 0;
    position: relative;
    width: 370px;
    padding: 0 0 0 40px;
}
.double-field h3{
    margin: 0 0 20px 0;
}
.double-field div.field{
    width: 430px;
    padding: 5px 0;
}
.double-field .bp-custom-label-width {
    width: 160px;
}
.double-field .field-right{
    width: 200px;
    height: 40px;
}
.double-field input[type="text"]{
    width: 200px;
}
.double-field select{
    width: 210px;
}
.q-error{
    display: block;
    float: left;
    height: 15px;
    width: 200px;
}
.df-right{
    margin: 0 0 62px !important;
}