/*Header*/
#wrapper.receipt{
	width: 592px;
}

#watermark{
	// display: none;
	position: absolute;
}
.lang-en .receipt{
	background: url('../../images/watermark.png');
}
.lang-fr .receipt{
	background: url('../../images/watermark-fr.png');
}
.receipt{
	font-size: 14px;
	line-height: 16px;
	min-height: 600px;
}
.receipt .bold{
	font-weight: bold;
}
.receipt .ta-right{
	text-align: right;
}
/* Addition for order confirmation */
.receipt .name-address{
    padding: 2% 0 0 5%; 
}

.receipt .action{
    padding: 0 0 0 4%; 
}

/* end Addition for order confirmation */
.receipt header{
	border: none;
	display: block;
}
.receipt hgroup{
	float: left;
	display: block;
	position: relative;
	width: 100%;
}

.receipt hgroup h1, .receipt hgroup h2{
	width: 100%;
	float: left;
	display: block;
	position: relative;
	padding: 0;
	text-align: center;
}
.receipt hgroup h1{
	font-size: 20px;
}
.receipt div#sub-title{
	float: left;
	display: block;
	position: relative;
	width: 100%;
}
.receipt div#sub-title .sub-left, .receipt div#sub-title .sub-right{
	float: left;
	display: block;
	position: relative;
	width: 280px;
}
.receipt div#sub-title .sub-right{
	float: right;
	text-align: right;
}
.receipt div#sub-title .sub-left div span{
	display: block;
	float: left;
	position: relative;
	clear: both;
}

/*Items*/
.receipt div#items{
	float: left;
	display: block;
	position: relative;
	font-size: 12px;
}
.receipt ul#items-detail{
	float: left;
	display: block;
	position: relative;
	margin: 20px 0 0;
	width: 100%;
}
.receipt ul#items-detail > li{
	float: left;
	display: block;
	position: relative;
	margin: 0 0 20px;
	width: 100%;
	border-bottom: 1px solid #dedede;
}
.receipt ul#items-detail > li > div{
	float: left;
	display: block;
	position: relative;
	width: 150px;
}
.receipt ul#items-detail > li > div.second-column{
	width: 200px;
}
.receipt ul#items-detail div.card-img{
	float: left;
	margin: 0 20px 0 10px;
	width: 56px;
	padding: 4px 0 0;
}
.receipt ul#items-detail div.card-img img {
    cursor: pointer;
    height: auto;
    max-width: 60px;
	float: left;
	display: block;
	position: relative;
}
.receipt div#summary{
	float: left;
	display: block;
	position: relative;
	width: 100%;
}
.receipt div#summary > div{
	float: left;
	display: block;
	position: relative;
	width: 100%;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
}

.receipt div#summary > div > div {
	float: right;
	clear: both;
	/*text-align: left;*/
}
.receipt div#summary > div > div > span{
	width: 100px;
	float: left;
	display: block;
	position: relative;
}
.receipt div#summary > div > div > span.value{
	width: 100px;
	text-align: left;
	margin: 0 0 0 5px;
}
.receipt div#summary div#total-summary{
	color: #333;
	border-top: double 4px #dedede;
	margin: 20px 0 0;
	padding: 5px 0 0
}


/*Footer*/
.receipt footer{
	text-align: left;
	margin: 20px 0 0;
	width: 100%;
}
.receipt footer div#sub-footer, .receipt footer div.note{
	float: left;
	display: block;
	position: relative;
	width: 100%;
}
.receipt footer div#sub-footer > div{
	float: left;
	display: inline-block;
	position: relative;
	margin: 30px 0 10px;
	width: 290px
}
.receipt footer div#sub-footer > div.sub-right{
	float: right;
	width: 200px
}
.receipt div.customer-service{
	float: left;
	display: block;
	position: relative;
	width: 100%;
	font-size: 12px;
	margin: 20px 0 0;
	text-align: center;
}
.receipt div.customer-service > div{
	display: inline-block;
	position: relative;
	margin: 0 15px;
}
.receipt footer div.note{
	border: 1px solid #dedede;
	padding: 5px 0 ;
	margin: 10px 0;
	text-align: center;
}
.receipt h2{
	float: none;
	margin: 15px 0;
	padding: 0;
}

@media print{
    .pages-nav{
        display:none;
    }
    #watermark{
    	display: block;
    	position: absolute;
    }
}