
/*
*************************************************************************************
*************************************************************************************
*************************************************************************************
                                    Header
*************************************************************************************
*************************************************************************************
*************************************************************************************
*/

header {
  display: block;
  float: left;
  margin: 0;
  position: relative;
  padding: 0;
  width: 100%;
  ul#status-bar {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 13px 0 0;
    border-bottom: thick solid #f8f6ec;
    > li.status-page {
      display: inline;
      float: left;
      position: relative;
    }
    &.titles-3 > li {
      &.status-page {
        float: left;
        display: block;
        position: relative;
        width: 168px;
        text-align: center;
        height: 26px;
        padding: 6px 0 9px 15px;
        margin: 0 2px 0 0;
        font-size: 15px;
        font-weight: lighter;
      }
      &.active {
        background: #f8f6ec;
        color: #eb312e;
      }
      &.separator {
        display: inline;
        float: left;
        font-size: 1px;
        position: relative;
        width: 20px;
        height: 35px;
        margin: 0 20px 0 0;
        background-repeat: no-repeat;
        background-position: right -443px;
      }
    }
    > li {
      .theme-color-bg {
        float: left;
        display: inline-block;
        position: relative;
        margin: 7px 0 0;
        div {
          float: left;
          display: block;
          position: relative;
          line-height: 15px;
          height: 19px;
          margin: 0;
          padding: 4px 2px 0;
          width: 19px;
          color: #fff;
          /*font-weight: 100;*/
          background: #c5c5be;
        }
      }
      &.active .theme-color-bg div {
        font-size: 15px;
        background: #eb312e;
      }
    }
  }
  #notification-icon {
    font-size: 9px;
    margin: 0;
    padding: 2px 3px;
    width: 7px;
    position: absolute;
    right: -10px;
    top: -4px;
    background: none repeat scroll 0 0 #eb312e;
    color: #fff;
   }
}

.page-title {
  display: inline-block;
  float: left;
  position: relative;
  text-transform: uppercase;
  padding: 9px 18px;
  font-size: 16px;
}

.status-page.active {
  .page-title, .theme-color-bg {
    /*font-weight: bold;*/
  }
}