/***************************************************************************
			Helpers
****************************************************************************/

@font-face {
    font-family: "Gill Sans W02 Book";
    src: url("fonts/gill_sans_book.eot?iefix") format("eot");
}
@font-face {
    font-family: "Gill Sans W02 Book";
    font-weight: normal;
    src: url("fonts/gill_sans_book.woff") format("woff");
}

// Mixins
@mixin transition($time){
	      transition: all $time;
     -moz-transition: all $time;
  -webkit-transition: all $time;
       -o-transition: all $time;
}



