

/*
*************************************************************************************
*************************************************************************************
*************************************************************************************
                                    Preview
*************************************************************************************
*************************************************************************************
*************************************************************************************
*/

.previewstyle-0 {
  .choose-card.half-size, #photo-wrap.half-size {
    height: 86px;
    width: 115px;
    padding: 0;
    cursor: default;
    background-size: 100% 100% !important;
    margin: 0 auto;
  }
}

#confirmation-window-bg {
  #cw-content {
    padding: 20px;
    float: left;
    display: block;
    position: relative;
    color: #666;
    width: 550px;
  }
  h2 {
    float: left;
    display: block;
    position: relative;
    clear: both;
    width: 100%;
    padding: 0 0 5px;
  }
  .summary {
    display: block;
    float: left;
    margin: 10px 0 30px;
    position: relative;
    width: 50%;
  }
}

// .reload! #confirmation-window-bg .summary {}

#confirmation-window-bg .summary {
  &:nth-child(3), &.hundred-percent {
    width: 100%;
    margin: 10px 0 0;
  }
  > div {
    float: left;
    display: block;
    position: relative;
    clear: both;
    margin: 2px 0;
  }
}

// .reload! #confirmation-window-bg .summary > div {}

#confirmation-window-bg .summary {
  &:nth-child(3) > div, &.hundred-percent > div {
    clear: none;
    width: 270px;
    margin: 2px 5px 2px 0;
  }
  > div > div {
    float: left;
    display: block;
    position: relative;
    font-weight: bold;
    margin: 0 5px 0 0;
  }
}
