/*
*************************************************************************************
*************************************************************************************
*************************************************************************************
                                    Size
*************************************************************************************
*************************************************************************************
*************************************************************************************
*/

body {
  font-size: 13px;
}

input, textarea, select {
  font-size: 13px;
  padding: 6px 10px;
  width: 293px;
}

.ui-spinner-input {
  margin: 0;
}

.ui-spinner {
  float: left;
}

input {
  &[type=radio], &[type=checkbox] {
    width: 20px;
  }
}

label {
  font-size: 13px;
  height: 20px;
  font-weight: bold;
  padding: 10px 10px 0 0;
}

.terms-field label {
  font-size: 10px;
  padding: 0;
  height: 15px;
  line-height: 12px;
  margin: 0 0 5px;
  width: 600px;
  &:after {
    content: '';
  }
}

label span {
  text-transform: uppercase;
  font-size: 12px;
}

select {
  width: 315px;
  padding: 7px 5px 7px 10px;
}

textarea {
  height: 80px;
}

.half-field input {
  width: 65px;
  padding: 7px 10px;
}

label[for=card-message] {
  height: 77px;
}

#cart .button {
  min-width: 180px;
  > span {
    width: 100%;
  }
}

div.pages-nav .button {
  min-width: 190px;
  margin: 0 0 0 4px;
  > span {
    width: 100%;
  }
}

.udBox {
  width: 20px;
  position: absolute;
  margin: 0 0 0 -18px;
  a {
    height: 15px;
    width: 15px;
  }
}

.deliver-calendar {
  background-position: right -260px !important;
  background-size: 26px auto;
  height: 26px;
  width: 26px;
}

.previewstyle-0 figure#image-wrap.always-visible {
  height: 180px;
}

#confirmation-window {
  height: 420px;
}

/*
*************************************************************************************
*************************************************************************************
*************************************************************************************
                                    Themes
*************************************************************************************
*************************************************************************************
*************************************************************************************
*/

input, textarea, select, div#exp-widget {
  border: solid 1px #d9d8d8;
  background: #fff;
}

input {
  &[type=checkbox] {
    background: none;
    border: none;
    filter: none;
  }
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #5b5b5b;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #5b5b5b;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #5b5b5b;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #5b5b5b;
  }
}

textarea {
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #5b5b5b;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #5b5b5b;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #5b5b5b;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #5b5b5b;
  }
}

input[placeholder], [placeholder], *[placeholder] {
  /*color:#999;*/
}

/*.button > span, .half-button > span,*/

/*buttons*/
/*.button.checkout span,*/

.deliver-calendar {
  background-image: url('../images/icons.png');
}

#image-wrap {
  .next, .prev {
    background-image: url('../images/icons.png');
  }
}

div#exp-widget button.ew-arrow, .udBox a, div#cart-embed button.ew-arrow, .cart-button, #delivery-type > li > span {
  background-image: url('../images/icons.png');
}

a, .terms-field > label strong {
  color: #666633;
}

div#preview-window-bg span#pw-close {
  color: #000;
}

#card-selector .button {
  width: 189px;
}

#delivery-type > li, #custom-type > li, .button, .half-button {
  color: #fff;
  background: #c5c5be;
}

#delivery-type > li.dt-active, #custom-type > li.dt-active, #delivery-type > li:hover, .button:hover, .half-button:hover {
  // -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  // filter: alpha(opacity=80);
  // opacity: 0.8;
}

div {
  &#cart-embed.active {
    background: rgba(255, 255, 255, 0.5);
  }
  &#ulWrapper {
    background: transparent;
    height: 160px;
    left: 0;
    padding: 20px 70px;
    position: absolute;
    top: 0;
    width: 510px;
    z-index: 999;
    display: none;
  }
}