<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Four Seasons Gift Card</title>
	<link rel="stylesheet" type="text/css" href="css/custom.css" id='default-style'>
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie.css">
	<script>
		//create HTML5 elements for the **** ie 8-
		document.createElement('header');
		document.createElement('nav');
		document.createElement('section');
		document.createElement('article');
		document.createElement('aside');
		document.createElement('footer');
		document.createElement('hgroup');
		document.createElement('figure');
	</script>
	<![endif]-->
</head>
<body>
	<div id="buyatabContent" style='overflow: hidden;'>
		<noscript>
			<div id="noscript">
				<p>
					Please <a href="http://enable-javascript.com/">enable JavaScript</a> in your browser.<br>
					S'il vous pla&Icirc;t  <a href="http://enable-javascript.com/"> activer JavaScript</a> dans votre navigateur.
				</p>
				<p>
					Direct number: 1-604-678-3275    |    Customer support: 1-888-782-8980 <br>
					Num&eacute;ro direct: 1-604-678-3275 | Service client&egrave;le: 1-888-782-8980
				</p>
			</div>
		</noscript>

		<!-- Preview Window --> 
		<div id='preview-window-bg'>
			<div id='preview-window'>
				<img id='preview-image' src=''>
				<span id="pw-close">x</span>
				<span id="pw-message"></span>
				<span id="pw-value">$ 250</span>
			</div>			
		</div>
		<!-- Preview Window end --> 

		<div id="wrapper" class='with-cart'>
			<header>
				<ul class="minimized-header titles-2" id="status-bar">
					<li class="header-title status-page active">
						<div class="theme-color-bg">
							<div>Step 1</div>
						</div>
						<div class="page-title"> ORDER DETAILS </div>
					</li> 
					<li class="header-title status-page ">
						<div class="theme-color-bg">
							<div>Step 2</div>
						</div>
						<div class="page-title"> PAYMENT DETAILS </div>
					</li> 
					<li class="header-title status-page ">
						<div class="theme-color-bg">
							<div>Step 3</div>
						</div>
						<div class="page-title"> CHECKOUT </div>
					</li> 
				</ul>
			</header>

			<ul id="pages">

				<!-- Customize page -->
				<li id="customize" data-header='0'>
					<!-- image wrap -->

					<!-- <figure id="image-wrap" class="always-visible"></figure> -->
					<div class="container">
						<div class="wt-scroller">

							<div id="prevBtnSlider" class="prev-btn"> </div>
							<div class="slides">
								
								<ul></ul>
							</div>
							<div class="next-btn" id="nextBtnSlider"> </div>
						</div>
					</div>
					<!-- image wrap end -->
					
					<!-- content -->
					<div class="content">
						
						<!-- Left & right group of fields -->
						<div class="fields">
							<div class="left">
								<div>
									<h2>Recipient</h2>

									<!-- recipient first name -->
									<div class="field">
										<label for="email_recipient_first">First name</label>
										<input type="text" class='required name' autocomplete='on' name='email_recipient_first' id='email_recipient_first' />
										<span class="field-error"></span>
									</div>
									<!-- recipient name end -->

									<!-- recipient last name -->
									<div class="field">
										<label for="email_recipient_last">Last name</label>
										<input type="text" class='required name' name='email_recipient_last' id='email_recipient_last' />
										<span class="field-error"></span>
									</div>
									<!-- recipient last name end -->

									<!-- recipient email -->
									<div class="field">
										<label for="email_recipient_email">Email address</label>
										<input type="text" class='required email email1' name='email_recipient_email' id='email_recipient_email' />
										<span class="field-error"></span>
									</div>
									<!-- recipient email end -->

									<!-- recipient email -->
									<div class="field">
										<label for="email_recipient_email2">Email confirmation</label>
										<input type="text" class='required email confirmation' name='email_recipient_email2' id='email_recipient_email2' />
										<span class="field-error"></span>
									</div>
									<!-- recipient name end -->

								</div>
								<div>
									<h2>Sender</h2>

									<!-- email first name -->
									<div class="field">
										<label for="email_sender_first">First name</label>
										<input type="text" class='required name' name='email_sender_first' id='email_sender_first' />
										<span class="field-error"></span>
									</div>
									<!-- email name end -->

									<!-- email last name -->
									<div class="field">
										<label for="email_sender_last">Last name</label>
										<input type="text" class='required name' name='email_sender_last' id='email_sender_last' />
										<span class="field-error"></span>
									</div>
									<!-- email last name end -->
								</div>

							</div>
							<div class="right">

								<!-- selected card -->
								<div class="selected-card">
									<input type="hidden" id='card_design' name='card_design'/>
									<input type="hidden" id='card_src' name='card_src'/>
									<div class="choose-card half-size"></div>
									<a href="javascript:void(0)" class="preview-card">(preview)</a>
								</div>
								<!-- selected card end-->


								<!-- message -->
								<div class="field">
									<label for="email_message">Message</label>
									<textarea type="text" placeholder="Write your message here..." class='required message' name='email_message' id='email_message'></textarea>
									<div class="field-detail">
										<div id="chars">200</div>
										<div id="char-line"> characters left (</div>
										<div id="chars-lines">5</div> remaining lines )
									</div>
									<span class="field-error"></span>
								</div>
								<!-- message end-->

								<!-- triplo field	 -->
								<div class="triplo-div">
									
									<!-- amount -->
									<div class="mini-field">
										<label for="email_amount">Amount</label>
										<select name="email_amount"  id="email_amount" class='mini-select number'></select>
									</div>
									<!-- amount end -->

									<!-- quantity -->
									<div class="mini-field half-mini">
										<label for="email_quantity">Quantity</label>
										<select name="email_quantity" id="email_quantity" class='quantity mini-select '></select>
										<span class="field-error"></span>
									</div>
									<!-- quantity end -->

									<!-- delivery date -->
									<div class="mini-field mplus">
										<label for="email_delivery_date">Delivery date</label>
										<input type="text" class='required date' name='email_delivery_date' id='email_delivery_date' />
										
									</div>
									<!-- delivery date end -->

								</div>
								<!-- triplo field end -->
								<div class="total">
									<input type="text" class='required number amount' name="input_amount" id="input_amount"/>
									Total: <span>USD500</span>
								</div>


							</div>
						</div>
						<!-- Left & right group of fields end-->

						<!-- cart -->
						<div id="cart-embed" class="active">
							<div id="cart">
								<h2> Shopping cart </h2>

								<div id="cart-header">
									<div>Recipient</div>
									<div>Amount</div>
								</div>
								<button data-direction="up" class="ew-arrow ew-arrow-up" tabindex="-1"></button>

								<div id="cards-wrapper">								
									
									<ul id="cards"><div></div></ul>

								</div>

								<button data-direction="down" class="ew-arrow ew-arrow-down" tabindex="-1"></button>
								
								<div id="summary"></div>

							</div>
						</div>
						<!-- cart end -->

						<div class="nav">
							<a href="javascript:void(0)" class="button add-to-cart"><span>ADD TO CART</span></a>
							<a href="javascript:void(0)" class="button main-button checkout"><span>CONTINUE</span></a>
						</div>

					</div>
					<!-- content end -->

				</li>
				<!-- Customize page end-->

				<!-- info page -->
				<li id="info" data-header='0'>

					<!-- content -->
					<div class="content">
						<h2>Purchaser's Information</h2>
						<p>Please fill out your information below.</br>A receipt of your purchase and confirmation of order will be sent to your specified email address.</p>

						<!-- info fields -->
						<div class="info-fields">
							
							<div class="double-field">
								<!-- first name -->
								<div class="field">
									<label for="info_first">First name</label>
									<input type="text" class='required name' name='info_first' id='info_first' />
									<span class="field-error"></span>
								</div>
								<!-- first name end -->

								<!-- last name -->
								<div class="field">
									<label for="info_last">Last name</label>
									<input type="text" class='required name' name='info_last' id='info_last' />
									<span class="field-error"></span>
								</div>
								<!-- last name end -->

							</div>

							<div class="double-field">
								<!-- email -->
								<div class="field">
									<label for="info_email">Email</label>
									<input type="text" class='required email email1' name='info_email' id='info_email' />
									<span class="field-error"></span>
								</div>
								<!-- email end -->

								<!-- confirm email -->
								<div class="field">
									<label for="info_email2">Email confirmation</label>
									<input type="text" class='required email confirmation' name='info_email2' id='info_email2' />
									<span class="field-error"></span>
								</div>
								<!-- confirm email end -->							
							</div>
						</div>
						<!-- info fields end -->

						<!-- info nav -->
						<div class="nav">
							<a href="javascript:void(0)" class="button next"><span>Continue</span></a>
						</div>
						<!-- info nav end -->

					</div>
					<!-- content end-->

				</li>
				<!-- info page end-->

				<!-- checkout page -->
				<li id="checkout" data-header='1'>

					<!-- content -->
					<div class="content">
						<div class="c-field">
							
							<div class="checkout-field">
								<h2>Card information</h2>

								<!-- checkout credit card type -->
								<div class="field">
									<label for="checkout_cc_type">Card type</label>
									<select name="checkout_cc_type"  id="checkout_cc_type">
										<option value="Visa">Visa</option>
										<option value="MasterCard">MasterCard</option>
										<option value="American Express">American Express</option>
									</select>
									<span class="field-error"></span>
								</div>
								<!-- checkout credit card type end -->

								<!-- checkout card number -->
								<div class="field">
									<label for="checkout_cc_number">Card number</label>
									<input type="text" class='required number creditcard' name='checkout_cc_number' id='checkout_cc_number' />
									<span class="field-error"></span>
								</div>
								<!-- checkout card number end -->

								<!-- checkout name on card -->
								<div class="field">
									<label for="checkout_cc_name">Name on card</label>
									<input type="text" class='required' name='checkout_cc_name' id='checkout_cc_name' />
									<span class="field-error"></span>
								</div>
								<!-- checkout name on card end -->

								<!-- checkout name on card -->
								<div class="field">
									<label for="checkout_cc_month">Expiration Date</label>


									<!-- triplo field	 -->
									<div class="triplo-div">

										<!-- Checkout card month -->
										<div class="mini-field">
											<label for="checkout_cc_month">Month</label>
											<select name="checkout_cc_month"  id="checkout_cc_month" class='required mini-select expmonth'></select>
											<span class="field-error"></span>
										</div>
										<!-- Checkout card month end -->

										<!-- Checkout card year -->
										<div class="mini-field">
											<label for="checkout_cc_year">Year</label>
											<select name="checkout_cc_year"  id="checkout_cc_year" class='required mini-select expyear'></select>
										</div>
										<!-- Checkout card year end -->

										<!-- Checkout card cvd -->
										<div class="mini-field2">
											<label for="checkout_cc_cvd">CVD</label>
											<input type='text' name="checkout_cc_cvd"  id="checkout_cc_cvd" class='mini-select optional number' />
											<a href="javascript:void(0)" class='blue-link' onclick="javascript:window.open('https://www.buyatab.com/controls/cvd.htm', 'Terms', 'width=485,height=510, menubar=0, scrollbars=1, status=0, titlebar=0, toolbar=0'); return false;">WHAT IS CVD?</a>
										</div>
										<!-- Checkout card cvd end -->
										<img id='verisign' alt='Click to Verify - This site has chosen an SSL Certificate to improve Web site security' src='../../../template/default/images/getseal.gif'/>
									</div>
									<!-- triplo field end -->
								</div>
								<!-- checkout name on card end -->

							</div>
							<div class="checkout-field dashed">
								<h2>Card Billing Address</h2>

								<!-- checkout Address -->
								<div class="field">
									<label for="checkout_cc_address">Address</label>
									<input type="text" class='required' name='checkout_cc_address' id='checkout_cc_address' />
									<span class="field-error"></span>
								</div>
								<!-- checkout Address end -->

								<!-- checkout Address 2 -->
								<div class="field">
									<label for="checkout_cc_address2">Address 2</label>
									<input type="text" name='checkout_cc_address2' id='checkout_cc_address2' />
									<span class="field-error"></span>
								</div>
								<!-- checkout Address end -->

								<!-- checkout city -->
								<div class="field">
									<label for="checkout_cc_city">City</label>
									<input type="text" class='required' name='checkout_cc_city' id='checkout_cc_city' />
									<span class="field-error"></span>
								</div>
								<!-- checkout city end -->

								<!-- checkout country -->
								<div class="field">
									<label for="checkout_cc_country">Country</label>
									<select class='required' name='checkout_cc_country' id='checkout_cc_country'>
									</select>
									<span class="field-error"></span>
								</div>
								<!-- checkout country end -->

								<!-- checkout state -->
								<div class="field">
									<label for="checkout_cc_state">Province / State</label>
									<select class='required' name='checkout_cc_state' id='checkout_cc_state'>
									</select>
									<span class="field-error"></span>
								</div>
								<!-- checkout state end -->

								<!-- checkout zip -->
								<div class="field">
									<label for="checkout_cc_zip">Postal / Zip code</label>
									<input type="text" class='required zip' name='checkout_cc_zip' id='checkout_cc_zip' />
									<span class="field-error"></span>
								</div>
								<!-- checkout zip end -->

								<!-- checkout phone -->
								<div class="field">
									<label for="checkout_cc_phone">Phone</label>
									<input type="text" class='required phone' name='checkout_cc_phone' id='checkout_cc_phone' />
									<span class="field-error"></span>
								</div>
								<!-- checkout phone end -->

							</div>
						</div>

						<!-- info nav -->
						<div class="nav">
							<a href="javascript:void(0)" class="button next"><span>Continue</span></a>
						</div>
						<!-- info nav end -->
					</div>
					<!-- content end -->

				</li>
				<!-- checkout page end-->

				<!-- summary page -->
				<li id="summary" data-header='2'>

					<!-- content -->
					<div class="content">
						<div class="c-field">
							
							<div class="checkout-field">
								<h2>Order Summary</h2>

								<label>Order Total</label>
								<span class="summary-order">Text here</span>

								<label>Total</label>
								<span class="summary-total">Text here</span>

								<h2>Card information</h2>

								<label>Card Type</label>
								<span class="summary-type">Text here</span>
								
								<label>Card Number</label>
								<span class="summary-number">Text here</span>

								<label>Expiration Date</label>
								<span class="summary-expiration">Text here</span>

								<table id='veri-seal' width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
									<tr>
										<td width="135" align="center" valign="top">
											<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.buyatab.com&amp;size=S&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=en"></script>
										</td>
									</tr>
								</table>
							</div>

							<div class="checkout-field summary-page dashed">
								<h2>Card Billing Address</h2>
								
								<div class="summary-double">
									<div>
										
										<label>Email Adddress</label>
										<span class="summary-email">Text here</span>

										<label>Address</label>
										<span class="summary-address">Text here</span>

										<label>City</label>
										<span class="summary-city">Text here</span>

										<label>Zip / Postal code</label>
										<span class="summary-zip">Text here</span>

									</div>
									<div class='summary-right'>
										
										<label>Phone Number</label>
										<span class="summary-phone">Text here</span>

										<label>Province / State</label>
										<span class="summary-state">Text here</span>

										<label>Country</label>
										<span class="summary-country">Text here</span>

									</div>
								</div>
								<!-- terms -->
								<div class="terms">
									<a href="javascript:void(0)" onclick="javascript:window.open('http://www.buyatab.com/termsConditions.aspx', 'Terms', 'width=800,height=600, menubar=0, scrollbars=1, status=0, titlebar=0, toolbar=0'); return false;">View Terms and Condtions</a>
									<input type="checkbox" class='required' name='summary_check' id='summary_check' />
									<label for="summary_check" class='terms-label'>I have agreed with the Terms and Conditions</label>
									<span class="field-error"></span>
									<!-- terms end -->

									<!-- info nav -->
									<div class="nav">
										<div class='group-error'></div>
										<a href="javascript:void(0)" class="button preview edit-checkout"><span>Edit Information</span></a>
										<a href="javascript:void(0)" class="button main-button send-checkout purchase"><span>Continue</span></a>
									</div>
									<!-- info nav end -->

								</div>
							</div>
						</div>
					</div>
					<!-- content end -->

				</li>
				<!-- summary page end-->

			</ul>

			<footer>
				<span>Direct Number: 1-604-678-3275</span>
				<span>Customer Support: 1-888-782-8980</span>   
				<span>Buyatab Online Inc. All Rights Reserved</span>
			</footer>
		</div>

	</div>
	<script type="text/javascript" src="../../../js/json2.js"></script>
	<script type="text/javascript" src="../../../js/console.log.js"></script>
	<script type="text/javascript" src="../../../js/underscore.js"></script>
	<script type="text/javascript" src="../../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../../js/backbone.js"></script>
	<script type="text/javascript" src="../../../js/getseal.js"></script>
	<script type="text/javascript" src="../../../js/jquery.creditCardValidator.js"></script>
	<script type="text/javascript" src="../../../js/jquery-ui.js"></script>
	<script type="text/javascript" src="../../../js/handlebars-1.0.0.beta.6.js"></script>
	<script type="text/javascript" src="../../../js/jquery.ba-postmessage.min.js" ></script>
	<script type="text/javascript" src="js/functions.js" ></script>
	<script type="text/javascript" src="js/jquery-wt-sccroller.min.js"></script>
	<script type="text/javascript" src="js/fs-control.js"></script>
</body>
</html>