<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<title>Transaction Receipt</title>
	<link rel="stylesheet" type="text/css" href="css/custom.css" id='default-style'><!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="css/ie.css">
	<![endif]-->
</head>
<body>

	<noscript>
		<div id="noscript">
			<p>
				Please <a href="http://enable-javascript.com/">enable JavaScript</a> in your browser.<br>
				S'il vous pla&Icirc;t  <a href="http://enable-javascript.com/"> activer JavaScript</a> dans votre navigateur.
			</p>
			<p>
				Direct number: 1-604-678-3275   |    Customer support: 1-888-782-8980 <br>
				Num&eacute;ro direct: 1-604-678-3275 | Service client&egrave;le: 1-888-782-8980
			</p>
		</div>
	</noscript>
	
	<div id="buyatabContent">

		<div id="loading-receipt">
			<p>Loading receipt...</p>
		</div>

	</div>
	<script type="text/javascript" src="../../../js/json2.js"></script>
	<script type="text/javascript" src="../../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../../js/handlebars-1.0.0.beta.6.js"></script>
	<script type="text/javascript" src="js/receipt.js"></script>
	<script>
		var rbuyatab = $('#buyatabContent').bReceipt( {
												orderNumber: getParam( 'on' ),
												MerchantId: getParam( 'id' )
											} ); 
	</script>
</body>
</html>