/*  header{
  min-height: 45px;
}
.theme-color-bg{
	background: none !important;
}
.theme-color-bg > div{
	color: #666 !important;
}
div#cart-embed.active{
	border: 1px solid #ebebeb;
	padding: 12px 22px;
}
div#control a span{
	width: 101px;
} */
.field-detail{
	width: 300px;
}
.field-detail div{
	float: left;
	display: inline-block;
	position: relative;
	clear: none;
}
label{
	white-space: nowrap;
}