.terms-field label{ font-size: 11px; padding: 3px 0 0; height: 15px; line-height: 14px; margin: 0 0 5px; width: 530px; }
.page-title { font-size: 14px; }
.half-field input{ width: 65px; }
label[for=card-message]{ height: 77px; }
#delivery-type > li{ font-size: 16px; }
.dollar-sign{ font-size: 16px; top:6px; }
.button{ min-width: 185px; padding: 5px; font-size: 16px; }
.button span{ padding: 3px 15px 0 0; }
div.pages-nav .button{ min-width: 160px; padding: 5px; font-size: 16px; margin: 0 0 0 4px; }
div.pages-nav .button > span{ width: 145px; height: 20px; padding: 3px 15px 0 0; }
.half-button{ min-width: 35px; padding: 5px; font-size: 12px; }
.udBox{ width: 16px; position: absolute; margin: 0 0 0 -14px; }
.udBox a{ height: 12px; width: 12px; background-size: 30px auto;}
.udBox .qDown{ background-position: 11px -38px; }
.udBox .qUp{ background-position: 11px -10px; }
.udBox .qDown:active{ background-position: 11px -37px; }
.udBox .qUp:active{ background-position: 11px -11px; }
.ui-date-picker{ width: 208px; }
ul#delivery-content a.deliver-calendar{ height: 40px; width: 40px; }
div.s-total{ font-size: 16px; }
#card-selector{ padding: 5px 20px 10px; }
.half-button.delete > span{ background-position: right -135px; }
.half-button.edit > span{ background-position: right -175px; }
.half-button > span{ height: 13px; padding: 0 15px 0 0; }
div#cart-embed div.card-img { float: left;  margin: 5px 10px 0 0; }
div.card-nav .half-button { margin: 3px 8px; }
.group-error{margin: 0 0 5px; z-index: 9;}
footer{font-size: 11px;}
div#ulWrapper{height: 140px;}
ul.image-selector{height: 140px;}
table#veri-seal{margin: 15px 0 0 230px;}
div#exp-widget{top: -80px}
li#purchaser-info .group-error {margin: 0 0 20px;}
div#buyatabContent{min-height: 100%;}
div#ulWrapper {padding: 10px 40px;}
.previewstyle-0 figure#image-wrap.always-visible{height: 140px;}
.previewstyle-1 figure#image-wrap.always-visible{height: 140px;}