body{
	font-family: arial;
}
#pages{
	position:relative;
	float: left;
	display: block;
	width: 590px;
	margin: 0;
	padding: 0;
	transition: margin-left .4s;
	-moz-transition: margin-left .4s; 
	-webkit-transition: margin-left .4s; 
	-o-transition: margin-left .4s; 
}
#pages > li{
	float: left;
	display: inline;
	position: relative;
	width: 590px;
	margin: 0 2px 0 0;
	overflow: hidden;
	padding: 0;
}
.pages-nav{
	margin: 2px 0 10px;
	width: 100%;
	float: left;
	position: relative;
}
.half-field{
	clear: none;
    display: inline-block;
    float: left;
    margin: 10px 0 0;
    padding: 0 5px;
    position: relative;
    width: 90px;
}
.half-field label, .half-field input{
	width: 140px;
	display: block;
	float: left;
	clear: both;
}
.half-field input{
	width: 105px;
}
.udBox{ 
	width: 20px; 
	position: relative; 
	margin: 1px 0 0 -18px;


	display: block;
	float: left;
}
.udBox a{ 
	height: 14px;	
	width: 15px;
}
.udBox .qUp{
	height: 13px;
}
ul.fields{
	float: left;
	display: inline;
	position: relative;
	width: 590px;
	margin: 0;
	padding: 0;
	-webkit-transition: margin-left .5s;
	   -moz-transition: margin-left .5s;
	    -ms-transition: margin-left .5s;
	     -o-transition: margin-left .5s;
	        transition: margin-left .5s;
}
ul.fields > li{
	float: left;
	display: inline;
	position: relative;
	width: 220px;
	margin: 0;
	padding: 0;
}
ul.fields > li#customize_card{
	width: 310px;
}
.absolute-z{
	z-index: 9999 !important;
}
#delivery-info{
	overflow: hidden;
}
#card-selector, .field{
    display: block;
    float: left;
    margin: 0;
    padding: 5px;
    position: relative;
    z-index: 99;
    clear: both;
}
.field, .half-field {
    min-height: 65px;
}
li#customize_card .field{
	width: 310px;
	height: 170px;
}
#card-selector{
	border: none;
	margin: 0;
}
.choose-card{
	cursor: pointer;
    font-size: 14px;
    height: 225px;
    padding: 0;
    text-align: center;
    width: 300px;
}
.field-left, .field-right{
	float: left;
	display: inline;
	position: relative;
	clear: both;
	width: 200px;
}
#dc-email .field-right {
    height: 52px;
}
li#customize_card .field-left, li#customize_card .field-right{
	width: 300px;
	margin: 0;
}
li#checkout .field-left, li#checkout .field-right{
	width: 300px;
	margin: 0;
}
div.half-field .field-left, div.half-field .field-right{
	width: 150px;
}
.terms-field{
    display: block;
    float: left;
    margin: 0;
    min-height: 60px;
    padding: 2px 0;
    position: relative;
    width: 525px;
}
.terms-field + .terms-field{
	margin: -1px 0 0;
}
.field-detail, .field-error{
	float: left;
	display: inline;
	position: relative;
	clear: both;
	margin: 2px 0 0;
	padding: 0 0 0 2px;
}
.terms-field .field-detail, .terms-field .field-error{
	margin: 0 0 5px;
	width: 100%;
}
.terms-field .field-error{
	padding: 0 0 0 25px;
}
div#chars, div#chars-lines, div#char-line{
	/*float: left;*/
	display: inline-block;
	position: relative;
	margin: 0 2px 0 0;
}
#customize_card .field-detail {
    width: 100%;
}
div.values-wrap{
	float: left;
	display: block;
	position: relative;
	margin: 5px 0 0;
}
#delivery-type, li#dc-print, li#dc-facebook{
	display: none !important;
}
li#dc-email > p{
	display: none;
}
#delivery-type > li:hover{
	background-position: 0px -152px;
}
#delivery-type > li.dt-active{
	background-position: top left;
	background-repeat: repeat-x ;
}
#delivery-type > li.dt-active:hover{
	background-position: 0px -52px;
}
.dt-inactive{
	cursor: default;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
	content: '';
}
#delivery-type > li.dt-inactive:hover{	
	background-position: 0px -102px;
}
ul#delivery-content{
	float: left;
	display: block;
	position: relative;
	transition: margin-left .4s;
	-moz-transition: margin-left .4s; 
	-webkit-transition: margin-left .4s; 
	-o-transition: margin-left .4s; 
}
ul#delivery-content li{
	float: left;
	display: block;
	position: relative;
	width: 220px;
	margin: 0;
}
.fields p{
	float: left;
	display: block;
	position: relative;
	margin: 10px 0;
}
input#card_value{
	display: block;
    float: left;
    clear: both;
    padding: 4px 10px 4px 25px;
    position: relative;
    width: 110px;
}
.lang-fr input#card_value{
    padding: 4px 25px 4px 10px;

}
.dollar-sign {
    font-size: 12px;
    left: 10px;
    position: absolute;
    top: 7px;
}
.lang-fr .dollar-sign {
    left: 90px;
}
ul#cc-type-selector{
	margin: 50px auto 22px;
    overflow: hidden;
    width: 180px;
    display: none;
}
ul#cc-type-selector li{
	background-image: url("../images/cc_flags.png");
    background-position: 0 0;
    float: left;
    height: 32px;
    margin-right: 8px;
    transition: all 0.2s ease 0s;
    width: 51px;
}
ul#cc-type-selector li.visa{
    background-position: 255px 0;
}
ul#cc-type-selector li.mastercard{
    background-position: 204px 0;
}
ul#cc-type-selector li.amex{
    background-position: 0 0;
}
ul#cc-type-selector li.visa.off{
    background-position: 255px 32px;
}
ul#cc-type-selector li.mastercard.off{
    background-position: 204px 32px;
}
ul#cc-type-selector li.amex.off{
    background-position: 0 32px;
}
div.ui-dialog{
	z-index: 999999;
}
div.field-detail .tip {
    font-size: 12px;
    margin: 0 0 0 24px;
}
.terms-field > label strong{
	font-weight: bold;
}
footer {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 10px auto;
}

.hide-it{
	display: none !important;
}
.field-detail > #cvd-a {
    color: #333333;
    font-size: 10px;
    text-transform: capitalize;
}
li#checkout ul.fields > li {
    width: 270px;
}
li#checkout ul.fields > li#purchaser-info {
    width: 520px;
}

li#checkout ul.fields > li input[type=text]{
	width: 230px;
}

li#checkout ul.fields > li select{
	width: 250px;
}

li#checkout ul.fields .field{
	min-height: 70px;
}
li#purchaser-info {
    clear: both;
}