body, h2, label, input, textarea, select{
    color: #666;
}
body {  
    font-size: 12px; 
    font-family: arial;
}
h2 { 
    font-family: "league-gothic","league-gothic-2","Arial","Helvetica",sans-serif;
    font-size: 21px;
    margin: 0 0 10px;
    padding: 0 0 0 5px;
    text-transform: uppercase;
}
input, textarea, select { 
    font-size: 12px; 
    padding: 8px;
    width: 180px; 
    resize: none;
    float: left;
    border: solid 1px #C0C0C0;
    background: #fff;
}
input[type=checkbox]{
    width: 20px;
    background: none;
    border: none;
    filter: none;
}
select{
    padding: 7px 8px;
}
.half-field select { 
    width: 97px; 
}
textarea{
    height: 101px;
    margin: 3px 0 0;
    width: 284px;
}
label { 
    padding: 5px 10px 0 0; 
    color: #999999;
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "adobe-garamond-pro","adobe-garamond-pro-2","Times New Roman","Times",serif;
    letter-spacing: 1px;
    margin: 0 0 5px;
    padding: 3px 0 0;
}
label span{ 
    font-size: 8px; 
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #dedede;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dedede;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dedede;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #dedede;
}
textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #dedede;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #dedede;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #dedede;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}
noscript div{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    display: block;
    height: 250px;
    left: 50%;
    margin: -250px 0 0 -250px;
    padding: 250px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 500px;
}
a{
    text-decoration: none;
    outline: 0;
}
div.field a:hover{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


div#preview-window-bg {
    background-color: rgba(0, 0, 0, 0.5);
    background: url("/../../view/template/default/images/obg.png");
    cursor: pointer;
    display: block;
    float: left;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 99999;
    display: none;
}
div#preview-window-bg div#preview-window{
	background: none repeat scroll 0 0 #FFFFFF;
    height: 488px;
    width: 650px;
    left: 50%;
    position: fixed;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow:  0px 0px 3px 1px #999;
    box-shadow:  0px 0px 3px 1px #999;
    padding: 10px;
    margin: -244px 0 0 -325px;
    top: 50%;
}
div#preview-window-bg div#preview-window img#preview-image{	
    height: 488px;
    width: 650px;
    cursor: default;
}
div#preview-window-bg div#preview-window span#pw-message {
    color: #1F0B03;
    cursor: default;
    font-family: arial;
    font-size: 20px;
    height: auto;
    left: 12px;
    line-height: 24px;
    max-height: 140px;
    padding: 0 20px;
    position: absolute;
    top: 327px;
    width: 605px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div#preview-window-bg div#preview-window span#pw-value {
    color: #1F0B03;
    font-family: arial;
    font-size: 30px;
    position: absolute;
    right: 70px;
    top: 45px;
    width: 80px;
    cursor: default;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#buyatabContent{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	width: 100%;
}
#content{
	display: block;
    float: left;
    margin: 10px 0;
    padding: 0 10px;
    position: relative;
    width: 760px;
}
#wrapper{
	width: 592px;
	position: relative;
	padding: 0;
	margin: 0 auto;
	border: none;
    background: #f5f7f8;
	overflow: hidden;
}
#pages-wrapper{
	width: 592px;
	overflow: hidden;
    float: left;
    display: block;
    position: relative;
	margin: 0;
	padding: 0;
}
#wrapper.with-cart{
	width: 790px;
}
.ajax-loader{
    background: url("../images/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 20px;
    margin: 0;
    padding: 7px 0 0 30px;
}
