header{
	position: relative;
	float: left;
    display: block;
	margin: 0;
	border: none;
    background: #A9BCC7;
	width: 790px;
}
header ul#status-bar{
	position: relative;
	display: block;
	margin: 0;
	float: left;
    height: 45px;
    width: 100%;
    font-family: "league-gothic",Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
header ul#status-bar > li.status-page{
    display: inline;
    float: left;
    position: relative;
    width: 50%;
    height: 35px;
    padding: 10px 0;
}

header ul#status-bar.titles-2 > li.separator{
    display: inline;
    float: left;
    font-size: 1px;
    position: relative;
    width: 20px;
    height: 35px;
    margin: 0 20px 0 0;
    background-repeat: no-repeat;
    background-position: right -443px;
}
header ul#status-bar > li .theme-color-bg{
    display: inline;
    float: left;
    position: relative;
    width: 100%;
    text-align: center;
    color: #999;
}
header ul#status-bar > li.active .theme-color-bg{
    color: #000;
}
header ul#status-bar > li.status-page.active{
	background: #FFF;
    color: #000;
    height: 25px;
}
header ul#status-bar > li .theme-color-bg > div{
	display: inline;
    position: relative;
    width: 36px;
    height: 36px;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
}
.page-title {
    display: block;
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: center;
}