/*Mobile general style */
.ui-mobile{
	display: block;
	-webkit-text-size-adjust:none;
}
body{
	overflow-y: visible;
	/*-webkit-perspective: 800;*/
	/*-webkit-transform-style: preserve-3d;*/
}

/*100% width*/
.ui-mobile input[type=text], .ui-mobile input[type=tel], .ui-mobile input[type=month], .ui-mobile input[type=date], .ui-mobile input[type=email], .ui-mobile textarea
, .ui-mobile li#page-cart div#control a.button > span
, .ui-mobile ul#delivery-type.dnumber-1 > li
, .ui-mobile div.pages-nav .button > span
, .ui-mobile div.pages-nav .button
, .ui-mobile div#control .button
, .ui-mobile #delivery-type
, .ui-mobile #card-selector
, .ui-mobile .double-field
, .ui-mobile .input-holder
, .ui-mobile .field-right
, .ui-mobile .terms-field
, .ui-mobile .field-left
, .ui-mobile .pages-nav
, .ui-mobile .field
, .ui-mobile header
, .ui-mobile select
{
	width: 100% !important;
}

/*Box Sizing > Border box*/
.ui-mobile input[type=text], .ui-mobile input[type=tel], .ui-mobile input[type=month], .ui-mobile input[type=date], .ui-mobile input[type=email], .ui-mobile textarea, .ui-mobile select
, .ui-mobile li#page-cart div#control a.button > span
, .ui-mobile li#page-cart div#control a.button
, .ui-mobile div.pages-nav .button > span
, .ui-mobile li#page-cart div#control
, .ui-mobile ul#delivery-content li
, .ui-mobile div.pages-nav .button
, .ui-mobile ul#delivery-type > li
, .ui-mobile header ul#status-bar
, .ui-mobile div#control .button
, .ui-mobile ul#delivery-type
, .ui-mobile ul.fields > li
, .ui-mobile .double-field
, .ui-mobile .input-holder
, .ui-mobile .terms-field
, .ui-mobile .half-field
, div.pages-nav .button
, .ui-mobile .fields
, .ui-mobile .field
, .ui-mobile select
, .ui-mobile header
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.ui-mobile #pages, .ui-mobile .fields, .ui-mobile #delivery-content{
	/*transform: translate3d(0,0,0);*/
	/*-webkit-transform: translate3d(0,0,0);*/
	/*-webkit-backface-visibility: hidden;*/

	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	-ms-transition: all 0s;
	-o-transition: all 0s;
	transition: all 0s;
}
.ui-mobile #wrapper{
	padding: 5px 10px;
	width: auto;
}
.ui-mobile #card-selector{
	padding: 0;
}
.ui-mobile .field{
	border-radius: 0;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding: 20px 0 15px;
}
.ui-mobile .double-field{
	float: left;
	display: block;
	position: relative;

}
.ui-mobile .half-field{
	width: 50%;
}
.ui-mobile .half-field label{
	width: 100%;
}
.ui-mobile .half-field + .half-field{
	padding: 0 0 0 15px;
}
.ui-mobile .input-holder{
	float: left;
	display: block;
	position: relative;
}
.ui-mobile header ul#status-bar{
	float: none;
	margin: 10px auto;
	white-space: nowrap;
	width: 270px;
	height: 60px;
}
.ui-mobile header ul#status-bar > li .theme-color-bg{
	margin: 0 27px 5px;
}
.ui-mobile header ul#status-bar > li.status-page {
    display: inline-block;
	height: 60px;
	margin: 0;
	vertical-align: top;
	width: 90px;
}
.ui-mobile header #status-bar > li.status-page .page-title {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 90px;
    text-align: center;
}
.ui-mobile div.pages-nav .button
, .ui-mobile li#page-cart div#control a.button
{
	margin: 5px 0;
	padding: 9px 15px;
	float: left;
}
.ui-mobile div.pages-nav .button > span
, .ui-mobile li#page-cart div#control a.button > span
{
	padding: 0 0 0 5px;
	text-align: left;
}
.ui-mobile div.pages-nav .button.back-button > span{
	background-position: right -490px;
}
.ui-mobile.theme-1079 .button.back-button > span {
    background-position: right -530px !important;
}
.ui-mobile .deliver-calendar{
	display: none;
}
.ui-mobile ul#delivery-type.dnumber-2 > li {
	width: 50%;
	margin: 0;
}
.ui-mobile ul#delivery-type.dnumber-3 > li {
	width: 33%;
}
.ui-mobile ul#delivery-type.dnumber-4 > li {
	width: 25%;
}
.ui-mobile ul#delivery-type.dnumber-5 > li {
	width: 20%;
}
.ui-mobile li#page-cart div#control, .ui-mobile #delivery-content li{
	padding: 0 2px 0 0;
}
.ui-mobile #delivery-content li, .ui-mobile #pages > li{
	margin: 0;
}
.ui-mobile .pages-nav > img#verisign{
	display: block;
	float: none;
	left: inherit;
	margin: 150px auto 0;
	position: relative;
	top: inherit;
}
.ui-mobile .values-wrap{
	text-align: center;
}
.ui-mobile ul#delivery-content a.deliver-calendar{
	display: none;
}
.ui-mobile .terms-field label{
	height: auto;
	width: auto;
}
.ui-mobile #image-wrap {
	margin: 0 auto;
	width: 290px;
	padding: 0;
}
.ui-mobile .field-error {
	height: 15px;
}
.ui-mobile .cart-button{
	margin: 0 0 0 30px;
}

/***********************************
iPhone 5 in landscape
************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	/* STYLES GO HERE */
}

/***********************************
iPhone 5 in portrait
************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	/* STYLES GO HERE */ 
}

/***********************************
iPhone 2G-4S in landscape
************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
	.ui-mobile #image-wrap {
		width: 346px;
	}
	.flexslider {
		width: 346px;
		height: 260px;
	}
	.previewstyle-1 .flexslider {
		height: 215px;
	}
	div.ui-dialog{
		top:50px !important;
		left: 87px !important;
	}
	body > img#verisign1 {
		margin: 80px 50% 0 0;
	}
	.ui-mobile header ul#status-bar{
		width: 400px;
	}
	.ui-mobile header ul#status-bar > li.status-page{
		margin: 0 20px;
	}
}

/***********************************
iPhone 2G-4S in portrait
************************************/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	.ui-mobile #image-wrap {
		width: 290px;
	}
	.flexslider {
		width: 290px;
		height: 218px;
	}
	.previewstyle-1 .flexslider {
		height: 180px;
	}
	div.ui-dialog{
		top:100px !important;
		left: 7px !important;
	}
	body > img#verisign1 {
		margin: 80px 50% 0 0;
	}
	li#page-cart div.card-info {
		width: 180px;
	}
}
