.terms-field label{
	font-family: arial;
    font-weight: normal;
    height: 15px;
    letter-spacing: normal;
    line-height: 14px;
    margin: 0 0 5px;
    padding: 3px 0 0;
    text-transform: none;
}
.page-title { font-size: 16px; letter-spacing: 1px;}
.half-field input{ width: 70px; }
#delivery-type > li{ font-size: 20px; }
.half-button{ min-width: 35px; padding: 5px; font-size: 12px;}
.ui-date-picker{ width: 180px;}
ul#delivery-content a.deliver-calendar{display: none;}