.theme-1 .choose-card{
	color: #000;
	border: 1px solid #efefef;
	border-radius: 10px;
}
div#exp-widget{
	border: solid 1px #C0C0C0;
	background: #fff;
}

.half-button > span, 				
ul#delivery-content a.deliver-calendar, 					/*calendar*/
div#ulWrapper .next, div#ulWrapper .prev, 			/*img selector*/
div#exp-widget button.ew-arrow,								/*expiration date*/ 
/*#cart h2,													/*cart icon*/
.udBox a 													/*up-down*/
{ 
	background-image: url('../images/icons-3.png'); 
}
header ul#status-bar > li .theme-color-bg > div{ 
	font-family: "adobe-garamond-pro",adobe-garamond-pro-2,Times New Roman,Times,serif;
}
a, .button, .half-button, 
#delivery-type > li, div#preview-window-bg span#pw-close{
	color: #fff;
	font-family: "museo-sans","museo-sans-2","Arial","Helvetica",sans-serif;
	text-transform: uppercase;
    font-size: 12px;

}
.terms-field > label strong{
	color: #000;
}
a#terms-a{
	color: #333;
	text-transform: lowercase;
	text-decoration: underline;
}
div#preview-window-bg span#pw-close{
	color: #333;
}
#delivery-type > li, .button, .half-button, .main-button{
	background: none repeat scroll 0 0 #000;
}
#delivery-type > li.dt-active, .main-button{
	background: none repeat scroll 0 0 #F73F30;
}