/*Error*/
.validation-error{
/* 	background: #feebea;
background: -moz-linear-gradient(top,  #feebea 0%, #fed8d8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feebea), color-stop(100%,#fed8d8));
background: -webkit-linear-gradient(top,  #feebea 0%,#fed8d8 100%);
background: -o-linear-gradient(top,  #feebea 0%,#fed8d8 100%);
background: -ms-linear-gradient(top,  #feebea 0%,#fed8d8 100%);
background: linear-gradient(to bottom,  #feebea 0%,#fed8d8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feebea', endColorstr='#fed8d8',GradientType=0 );
border-color: #ebb6b6;
color: #ff3333;
z-index: 999; */
}
.group-error{
	color: #FF3333;
    display: block;
    float: left;
    margin: 15px 0 10px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 12px;
}
.field.validation-error label, .field-error, 
.half-field.validation-error label{
	color: #ff3333;
}
.warning{
    color: #666 !important;
    font-style: italic;
}
.field.validation-error .field-error, 
.half-field.validation-error .field-error, 
.field.validation-warning .field-error{
    height: 15px;
    padding: 0;
    float: left;
    display: block;
    position: relative;
}
.field.validation-error input, .half-field.validation-error input{
	border-color: #ebb6b6;
}

/*Warning*/
.field.validation-warning{
/* 	background: #fffff1;
background: -moz-linear-gradient(top,  #fffff1 0%, #ffffcc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffff1), color-stop(100%,#ffffcc));
background: -webkit-linear-gradient(top,  #fffff1 0%,#ffffcc 100%);
background: -o-linear-gradient(top,  #fffff1 0%,#ffffcc 100%);
background: -ms-linear-gradient(top,  #fffff1 0%,#ffffcc 100%);
background: linear-gradient(to bottom,  #fffff1 0%,#ffffcc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffff1', endColorstr='#ffffcc',GradientType=0 );
border-color: #ffe8c2; */
}
li#purchaser-info .group-error {
    text-align: right;
    margin: 5px 0 18px;
}