.am-greetings{
	color: $link-color;
	margin: 10px 0 35px 0;
	font-size: 14px;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size;
		line-height: 100%;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size;
		line-height: 100%;
	}
}

.how-use{
	@include border-box;
	@include fdp;
	padding: 20px;
	margin: 30px 0 20px;
	border: 1px dotted $bt-bg;
	border-left: none;
	border-right: none;

	h2{
		margin: 20px 0;
	}

	ul{
		@include fdp;		
	}

	li{
		@include fdp;
		height: 50px;
		width: 100%;
		margin: 0;
		padding: 10px 0;

		@media #{$iPhone-landscape}{
			height: auto;
			margin: 10px 0;
		}

		@media #{$iPhone-portrait}{
			height: auto;
			margin: 10px 0;
		}

		.title-descripton{
			@include fdp;
			width: 490px;
			padding: 5px 0 0;

			@media #{$iPhone-landscape}{
				// float: left;
				position: relative;
				clear: none;
				display: inline-block;
				padding: 0;
				width: 400px;
			}

			@media #{$iPhone-portrait}{
				// float: left;
				clear: none;
				display: inline-block;
				position: relative;
				width: 400px;
				padding: 0;
			}
		}

		.title-descripton span{

			@media #{$iPhone-landscape}{
				font-size: $mobile-font-size - 6;
				width: 420px;
				position: relative;
				display: block;
				line-height: $mobile-font-size - 6;
			}

			@media #{$iPhone-portrait}{
				width: 400px;
				font-size: $mobile-font-size - 6;
				position: relative;
				display: block;
				line-height: $mobile-font-size - 6;
			}

		}
		.number{
			@include border-box;
			@include circle;
			border: 1px solid $link-color;
			color: $link-color;
			float: left;
			font-size: 28px;
			font-weight: lighter;
			height: 40px;
			line-height: 20px;
			margin: 0 12px 0 0 ;
			padding: 8px 0;
			position: relative;
			text-align: center;
			width:  40px;

			@media #{$iPhone-landscape}{
				font-size: $mobile-font-size + 24;
				height: 70px;
				line-height: $mobile-font-size + 24;
				padding: 8px 0;
				width:  70px;
				margin: 0 22px 0 0;
			}

			@media #{$iPhone-portrait}{
				font-size: $mobile-font-size + 24;
				height: 70px;
				line-height: $mobile-font-size + 24;
				padding: 8px 0;
				width:  70px;
				margin: 0 22px 0 0;
			}
		}
	}
}

.actions{
	@include fdp;
	margin: 40px 0;
	width: 100%;
	text-align: right;

	@media #{$iPhone-landscape}{
		@include border-box;
	}

	@media #{$iPhone-portrait}{
		@include border-box;
	}
}

#note{
	@include fdp;
	width: 100%;
	font-size: 12px;

	p{
		line-height: 120%;
		text-align: justify;

		@media #{$iPhone-landscape}{
			font-size: $mobile-font-size;
		}

		@media #{$iPhone-portrait}{
			font-size: $mobile-font-size;
		}
	}
}

#card-numbers{
	@include fdp;
	width: 100%;
	margin: 0 0 20px;
	color: $link-color;
	text-align: center;

	&> div{
		@include fdp;
		width: 100%;
	}

	.card-number{
		font-size: 18px;
		margin: 0 0 5px;
	}

	span{
		color: $font-color;
		margin: 0;
	}

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size - 5;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size - 5;
	}
}

.support{
	@include fdp;
	width: 100%;
	font-size: 12px;
	color: $font-second-color;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size - 8;
		line-height: 100%;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size - 8;
		line-height: 100%;
	}

	p{
		width: 100%;
		margin: 0;
	}

	a{
		color: $link-second-color;
	}
}

.logos{
	@include fdp;
	width: 100%;
	margin: 10px auto;
	height: 50px;
}

.logo{
	display: inline-block;
	float: right;
	height: 45px;
	position: relative;
	width: 100px;

	&.buyatab{
		background: url('../images/logo-small.png') center no-repeat;
	}
}

.logo + .logo{
	margin: 0 0 0 20px;
}

.card-options{
	@include fdp;
	margin: 20px 0;
	padding: 20px 0;
	text-align: center;
	width: 100%;

	ul{
		display: inline-block;

		li{
			clear: none;
			display: inline;
		}
	}

	a{
		@include fdp;
		margin: 20px 14px;
		width:  120px;

		@media #{$iPhone-landscape}{
			width: 80px;
			margin: 10px 25px;
		}

		@media #{$iPhone-portrait}{
			width: 200px;
			margin: 10px 34px;
		}

		> .fa-stack{
			@include fdp;
			height: auto;
			margin: auto;
			width:  100%;

			i{
				@include border-box;
				@include circle;
				@include fdp;
				border: 1px solid $bt-bg;
				text-align: center;
				clear: both;
				font-size: 30px;
				margin: 10px 34px 5px;
				padding: 10px 0 0;
				height: 50px;
				width: 50px;

				@media #{$iPhone-landscape}{
					font-size: 40px;
					height: 70px;
					margin: 20px 5px 0;
					padding: 15px 0 0;
					width:  70px;
				}

				@media #{$iPhone-portrait}{
					font-size: 70px;
					height: 120px;
					margin: 20px 40px 0;
					padding: 22px 0 0;
					width:  120px;
				}
			}

			span{
				@include fdp;
				width: 100%;
				text-align: center;
				line-height: 100%;

				@media #{$iPhone-landscape}{
					text-transform: lowercase;
					font-size: $mobile-font-size - 5;

				}

				@media #{$iPhone-portrait}{
					// height: 20px;
					text-transform: lowercase;
				}
			}
		}
		&:hover{
			i{
				@extend .fa-inverse;
				@include transition(all 0.4s ease 0s);
				background:$bt-bg;
			}
		}
	}
}


.replay{
	@include border-box;
	@include fdp;
	width: 100%;
	margin: 10px 0;
}



