header{
	@include border-box;
	display: block;
	float: left;
	margin: 0;
	position: relative;
	width: 100%;
	background-color: $header-color;

	#status-bar{
		@include fdp;
		@include border-box;
		padding: 15px 35px 0;
	}

	.titles-2 > .status-page{
		min-width: 75px;
    	padding: 9px;
   	 	height: 16px;
	}
	.titles-3 > .status-page{
		height: 34px;
		width:  33%;
	}

	.status-page{
		@include fdp;
		position: relative;
		
		font-size: 11px;
		background: none repeat scroll 0 0 #e9e8dd;
    	border: 1px solid #d3d2c7;
	    font-weight: 600;
	    height: 16px;
	    margin: 0 2px 0 0;
	    min-width: 75px;
	    padding: 9px;
	    text-align: center;

		&.active {
			background-color: #ffffff;
			border-bottom: medium none;
    		margin: 1px 2px 0 0;
		}
	}

	.theme-color-bg{
		border: 1px solid $header-color;
		display: inline-block;
		float: left;
		height: 17px;
		position: relative;
		width: 17px;
		margin: 0 5px 0 0;

		// &:after{
		// 	@include circle(40px);
		// 	content: "";
		// 	display: block;
		// 	float: left;
		// 	height: 35px;
		// 	position: absolute;
		// 	width: 35px;
		// 	z-index: $z-1;
		// }

		& > div{
			@include border-box;
			background: none repeat scroll 0 0 $header-color;
			color: #000000;
			display: block;
			float: left;
			line-height: 100%;
			height: 100%;
			padding: 2px 2px 0;
			position: relative;
			text-align: center;
			width: 100%;
			font-weight: 600;
			font-family: $main-font;
		}
	}

	// .active > .theme-color-bg{
	// 	background: $header-color;

	// 	& > div{
	// 		color: #fff;
	// 	}
	// }

	.page-title{
		@include fdp;
		color: $header-text-color;
		font-family: $header-font;
		font-size: $fs-micro - 1;
		padding: 3px 5px 5px;
		text-transform: capitalize;
		font-weight: 600;
	}

	#notification-icon {
		@include shadow;
		@include circle;
		background: #FF0000;
		border: 2px solid #FFFFFF;
		color: #fff;
		cursor: pointer;
		display: block;
		float: left;
		font-weight: bold;
		// height: 13px;
		line-height: 100%;
		padding: 2px 5px 3px;
		position: absolute;
		right: -8px;
		text-align: center;
		top: -8px;
		width: auto;
	}
}
