#{$gcp-content}{

	&.lang-en .receipt{
		background: url('../img/watermark.png');
	}

	&.lang-fr .receipt{
		background: url('../img/watermark-fr.png');
	}
	.receipt{

		font-size: 14px;
		line-height: 16px;
		min-height: 600px;

		p {
			margin: 0 0 10px;
		}

		#watermark{
			display: none;
			position: absolute;
		}

		.bold{
			font-weight: bold;
		}


		.ta-right{
			text-align: right;
		}

		/* Addition for order confirmation */
		.name-address{
			padding: 1% 0 0 5%;
			margin: 1% 0; 
		}

		.action{
			padding: 0 0 0 4%;
			margin: 3% 0; 
		}

		/* end Addition for order confirmation */
		header{
			@include border-box;
			border: none;
			height: auto;
			padding: 0 40px 30px;
		}

		hgroup{
			float: left;
			display: block;
			position: relative;
			width: 100%;
		}

		h2{
			margin: 10px 0;
			padding: 0;
		}

		hgroup h1,  hgroup h2{
			width: 100%;
			float: left;
			display: block;
			position: relative;
			padding: 0;
			text-align: center;
		}

		hgroup h1{
			font-size: 20px;
		}

		#sub-title{
			float: left;
			display: block;
			position: relative;
			width: 100%;

			.sub-left,  .sub-right{
				float: left;
				display: block;
				position: relative;
				width: 280px;
			}

			.sub-right{
				float: right;
				text-align: right;
			}

			.sub-left div span{
				display: block;
				float: left;
				position: relative;
				clear: both;
			}
		}

		/*Items*/
		#items{
			float: left;
			display: block;
			position: relative;
			font-size: 12px;
			width: 100%;
		}

		ul#items-detail{
			float: left;
			display: block;
			position: relative;
			margin: 20px 0 0;
			width: 100%;

			span{
				margin: 0 5px 0 0;
			}
		}

		ul#items-detail > li{
			float: left;
			display: block;
			position: relative;
			margin: 0 0 20px;
			padding: 0 0 25px;
			width: 100%;
			border-bottom: 1px solid #dedede;
		}

		ul#items-detail > li > div{
			float: left;
			display: block;
			position: relative;
			width: 150px;
		}

		ul#items-detail > li > div.second-column{
			width: 200px;
		}

		ul#items-detail div.card-img{
			float: left;
			margin: 0 20px 0 0;
			min-width: 56px;
			min-height: 50px;
			width: auto;
			padding: 4px 0 0;
		}

		ul#items-detail div.card-img img {
			/*box-shadow: 0 0 3px 0;*/
			cursor: pointer;
			/*height: 42px;*/
			width: auto;
			max-height: 60px;
			float: left;
			display: block;
			position: relative;
		}

		#summary{
			float: left;
			display: block;
			position: relative;
			width: 100%;
		}

		#summary > div{
			float: left;
			display: block;
			position: relative;
			width: 100%;
			text-align: right;
			font-size: 18px;
			line-height: 22px;
		}

		#summary > div > div {
			float: right;
			clear: both;
		}

		#summary > div > div > span{
			width: 100px;
			float: left;
			display: block;
			position: relative;
		}

		#summary > div > div > span.value{
			border-bottom: 1px dotted #cecece;
			width: 100px;
			text-align: right;
			margin: 0 0 0 5px;
		}

		#summary > div > div > span.value span{
			float: left;
		}

		#summary > div > div > span.value span.fr-currency{
			float: right;
		}

		#summary #total-summary{
			color: #333;
			border-top: double 4px #dedede;
			margin: 20px 0 0;
			padding: 5px 0 0
		}

		/*Footer*/
		footer{
			@include fdp;
			text-align: left;
			margin: 20px 0 0
		}

		footer #sub-footer,  footer div.note{
			float: left;
			display: block;
			position: relative;
			width: 100%;
		}

		footer #sub-footer > div{
			float: left;
			display: inline-block;
			position: relative;
			margin: 30px 0 10px;
			width: 290px
		}

		footer #sub-footer > div.sub-right{
			float: right;
			width: 200px
		}

		div.customer-service{
			float: left;
			display: block;
			position: relative;
			width: 100%;
			font-size: 12px;
			margin: 20px 0 0;
			text-align: center;
		}

		div.customer-service > div{
			display: inline-block;
			position: relative;
			margin: 0 15px;
		}

		footer div.note{
			@include border-box;
			border: 1px solid #dedede;
			padding: 5px 0 ;
			margin: 10px 0;
			text-align: center;
		}

		h2{
			float: none;
		}
	}
}