.previewstyle-1 .choose-card {
    background-repeat: no-repeat !important;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 0 3px 0 #666666;
    box-shadow: 0 0 3px 0 #666666;
    cursor: pointer;
    font-size: 14px;
    height: 39px;
    padding: 84px 0 0;
    text-align: center;
    width: 197px;
}
.previewstyle-1 .choose-card.half-size {
    height: 86px;
    width: 138px;
    padding: 0;
    cursor: default;
    background-size: 100% 100% !important;
    margin: 0 auto;
}
.previewstyle-0 .choose-card.half-size {
    height: 86px;
    width: 115px;
    padding: 0;
    cursor: default;
    background-size: 100% 100% !important;
    margin: 0 auto;
}
.previewstyle-1 .choose-card > span {
    background-color: rgba(225, 225, 225, 0.7);
    float: left;
    padding: 3px 0;
    margin: 0 6px;
    width: 185px;
}
.previewstyle-1 div#preview-window-bg div#preview-window img#preview-image {
    cursor: default;
    height: 360px;
    width: 571px;
}

.previewstyle-1 div#preview-window-bg div#preview-window {
    height: 500px;
    width: 570px;
}

.previewstyle-1 div#preview-window-bg div#preview-window span#pw-value {
    border: 1px solid #999999;
    border-radius: 5px;
    clear: both;
    color: #333333;
    display: block;
    float: left;
    margin: 10px;
    padding: 5px 10px;
    position: relative;
    right: auto;
    text-align: center;
    top: auto;
}
.previewstyle-1 div#preview-window-bg div#preview-window span#pw-message {
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    font-size: 12px;
    line-height: 14px;
    display: block;
    clear: both;
}
/* 
.previewstyle-1 div#ulWrapper{
    height: 123px;
    padding: 20px;
}

.previewstyle-1 ul.image-selector {
    height: 123px;
    left: 40px;
    width: 480px;
}
.previewstyle-1 ul.image-selector li {
    height: 123px;
    width: 197px;
} */