ul#cc-type-selector {
    display: block;
    float: right;
    overflow: hidden;
    width: 187px;
}

.notch {
    background: url("../../images/box-notch-left.gif") repeat scroll 0 0 transparent;
    height: 26px;
    left: 272px;
    position: absolute;
    top: 80px;
    width: 13px;
    float: left;
    z-index: 1;
}
#pages {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
#pages > li {
    display: inline;
    float: left;
    margin: 0 2px 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
} 
ul.fields > li {
    margin: 0 2px 0;
    display: inline;
    padding: 0 10px;
    float: left;
    position: relative;
}
.bd-custom-field-wrap{
    background: none repeat scroll 0 0 #F9F7F5;
    border: 1px solid #D7D7D7;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    padding: 32px 32px 20px;
    width: 523px;
    height: auto;
    min-height: 380px;
    overflow:hidden;
}
.no-border{
    background: none;
    border: none;
    padding-top: 12px;
    padding-bottom: 26px;
    overflow: hidden;
}
/*.pages-nav {*/
/*    float: left;*/
/*    margin: 20px 0 30px;*/
/*    position: relative;*/
    /*width: 500px;*/
/*}*/
footer {
    display: block;
    float: right;
    line-height: 16px;
    position: relative;
    text-align: center;
    width: 744px;
    margin-top:20px;
}

#cc-info h2,
#billing-info h2,
#purchaser-info h2{
    color: #363636;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 15px;
}
#pages-wrapper {
    display: block;
    float: left;
    margin: 0;
    overflow: hidden;
    position: relative;
    /*width: 876px;*/
    width: 938px;
    padding: 0px;
}
.bp-custom-label-width {
    width: 230px;
}
ul#delivery-type.dnumber-2 > li {
    width: 228px;
}

div#exp-widget {
    background: none repeat scroll 0 0 #F9F7F5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    color: #666666;
    display: block;
    font-size: 18px;
    padding: 10px 0;
    position: absolute;
    top: 35px;
    width: 140px;
    z-index: 9999;
}
ul.fields {
    display: inline;
    float: left;
    padding: 0;
    position: relative;
    transition: margin-left 0.5s ease 0s;
    height: auto !important;
}
#delivery-info {
    margin: 0 0 20px;
    width: 592px;
}
#delivery-type > li, .button, .half-button, .main-button {
    background-image: url("../../images/btn-sprite.gif");
    background-position: 0 -6px;
}
.button:hover, .half-button:hover {
    background-position: 0 -26px;
}
.button > span, .half-button > span, #image-wrap .next, #image-wrap .prev, div#exp-widget button.ew-arrow, #cart h2, .udBox a, div#cart-embed button.ew-arrow, .cart-button {
    background-image: none;
}
div#exp-widget button.ew-arrow{
    background-image: url("../../images/icons-2.png");
}
ul#delivery-content a.deliver-calendar, .cart-button{
    background-image: url("../../images/icons-2.png");
}
ul#delivery-content a.deliver-calendar{
    background-image: url("../../images/calendar-icon.png");
    background-repeat: no-repeat;
    background-position:  6px 10px;
    height: 29px !important;
}
.preview_bt, .back-button, .new-card2{
    background-position: 0 -54px;
}
.preview_bt:hover, .back-button:hover , .new-card:hover, .new-card2:hover{
    background-position: 0 -76px;
}
.preview_bt span, .back-button span , .new-card span, .new-card2 span{
    background-image: none;
    color: #707070;
}
li#page-cart div#control {
    display: block;
    float: left;
    margin: 20px 32px;
    position: relative;
    width: 526px;
}
.sidebarV2 {
    z-index: 50;
}
.sidebarV2 {
    clear: both;
    overflow: hidden;
    width: 265px;
}
.sidebarV2 .sidebar-top{
    background: url("../../images/sidebar-top.png") no-repeat scroll 0 0 transparent;
    height: 5px;
    width: 265px;
}
.sidebarV2 .sidebar-bottom {
    background: url("../../images/sidebar-bottom.png") no-repeat scroll 0 0 transparent;
    height: 9px;
    width: 265px;
}
#delivery-type {
    clear: both;
    display: block;
    float: left;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
    float:none;
    width: 265px;
    background: url("../../images/sidebar-bg.png") repeat-y scroll 0 0 transparent;
}
#delivery-type > li {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    margin:0 0 0 10px;
    width: 212px;
}
ul#delivery-type.dnumber-2 div.largearrow li{
    text-align:left;
    text-transform: capitalize;
    font-weight: bold;
    color: #555555;
    font-size:13px;
}
ul#delivery-type.dnumber-2 > div.largearrow li:hover{
    text-decoration: underline;
    color: black;
}
#delivery-type div.largearrow li{
    height: 13px;
    padding: 9px 0 10px 20px;
    cursor: pointer;
    width: 245px;
}
.dt-active{
    background: url("../../images/sidebar-arrow.png") no-repeat scroll 0 0 transparent;
    color: white !important;
    height: 13px;
    padding: 9px 0 10px 20px;
    font-size: 13px;
}
#billing-info {
    margin: 0 1px;
    width: 592px;
}
#purchaser-info{
    width: 591px;
}
#purchaser-info .bd-custom-field-wrap {
    margin-left: -1px;
}
a, .button, .half-button, #delivery-type > li, div#preview-window-bg span#pw-close, .terms-field > label strong {
    color:white;
}
a{ color:#363636}
.terms-field > label strong{color:#CD0D32;}
.checkout span, .purchase span{
    color:white;
}
#purchaser-info .bd-custom-field-wrap{
 width:522px; 
}

.group-error {
    margin: 0;
    text-align: left;
    z-index: 9;
    height: 55px;
}
.button, div.pages-nav .button, li#page-cart div#control a.main-button{
    font-family: arial;
    font-size: 12.4px;
    font-weight: bold;
    height: 20px;
    padding: 7px 10px 1px;
    width: auto;
    margin:0px;
    min-width: 0px;
}
.half-button{
    font-family: arial;
    font-size: 12.4px;
    font-weight: bold;
}
div.pages-nav .button > span, .button span {
    height: auto;
    padding: 0;
    width: auto;
    margin: 1px 0 0;
}
.button.continue-button > span {
    background-position: right -451px;
}
div.pages-nav .button.back-button > span {
    background-position: -16px -491px;
}
.button.add-to-cart > span {
    background-position: right -332px;
}
.checkout > span, .purchase > span {
    background-position: right -251px;
}
.tab-group h5 {
    font-size: 15px;
    margin: 0 20px 0.4em;
}
.tab-group h5, .tab-group h6 {
    color: #363636;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
}
#customize_card .bp-cst-frst-page {
    padding-left: 0;
    width: 590px;
    margin: 0 0 40px 0;
}
.bp-cst-frst-page .preview_bt,
#control .button{
    margin-left: 2px !important;
}
.btn-back {
    background: url("../../images/btn-back-en.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 26px;
    width: 59px;
}
.back-btn-bground .back-button,
.back-btn-bground .button{
    border-radius:0px;
    padding-left:2px !important;
    background: url("../../images/btn-back-en.png") 0 0 no-repeat;
    border: none;
    box-shadow: none;
    width: 72px !important;
}
#check-out-info{
    margin: 0 auto;
}
.back-btn-bground .button span{
   margin-top: -1px !important;
}
/* NEW WIDTH RULES */
#pages > li#customize {
    width: 938px;
}
#pages > li#customize ul.fields li#customize_card{
    width: 654px;
    padding-left:284px;
    margin: 0 0 60px 0;
}
#pages > li#customize ul.fields li#delivery-info{
    width: 654px;
    padding-left:284px;
}
#selected_image, #delivery-opts-nav, .left-info-block {
    background: url("../../images/20.png") repeat scroll 0 0 transparent;
    display: block;
    height: auto;
    left:0px;
    top:10px;
    position: absolute;
    width: 284px;
    /*font-family: 'arial', sans-serif;*/
}

.choose-card {
    background-repeat: no-repeat !important;
    border-radius: 0px;
    box-shadow: none;
    font-size: 14px;
    height: 445px;
    padding:0px;
    text-align: center;
    text-shadow:none;
    position: absolute;
    left:0px;
    top:10px;
    width: 284px;
    font-family: 'arial', sans-serif;
    display: block;
}

#delivery-opts-nav, .left-info-block {
    background: none repeat scroll 0 0 transparent;
    left: 30px;
}
.left-info-block{
    left:0px;
    padding: 10px 0 0 5px;
}
.left-info-block p, .left-info-block h5{
    width: 284px;
    margin-left: 6px;
    padding-left: 2px;
}
#delivery-opts-nav h2{
    margin-left: 9px;
}

#pages > li#page-cart{
    width: 654px;
    padding-left:284px;
}
#pages > li.bp-custom-page-cart {
    padding: 0 20px !important;
    width: 898px !important;
}
ul.fields > li.bp-custom-cart-width{
    width: 898px !important;
    display: block;
}
#pages > li.bp-custom-page-cart div#summary {
    clear: both;
    float: right;
    margin: 10px 150px 0 0;
    width: 106px;
}
li#page-cart div#control {
    display: block;
    position: relative;
    float: right;
    margin: 20px;
    width: auto;
}
#pages > li#checkout{
    width: 938px;
}
div#cards-wrapper ul#cards div li:nth-child(odd),
div#cards-wrapper ul#cards div li:nth-child(even){
    height: 80px;
    padding: 10px 0px;
}
div#cards-wrapper ul#cards div li:nth-child(odd){
    background-color: #F9F8F5;
}
#pages > li#checkout ul.fields li#cc-info,
#pages > li#checkout ul.fields li#purchaser-info{
    width: 928px;
    padding: 0 20px;
}
#pages > li#checkout ul.fields li#billing-info{
    width: 654px;
    padding-left:284px;
}
ul#delivery-content li p{
    float: none;
}
.validation-error, .validation-warning {
    background: none !important;
    border-color: transparent;
    color:#666666;
    z-index: 999;
}
#email_delivery_date{
    width: 189px;
}
div.bp-custom-cart-width a:link, div.bp-custom-cart-width a:visited {
    color: #741125;
}
div.bp-custom-cart-width a:link:hover{
    text-decoration: underline;
}
li#page-cart div.card-nav {
    float: right;
    margin: 40px 28px 0 0;
}
.cart-button {
    background-image: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font-family: 'Trade Gothic W01 Bold',arial,sans-serif;
    font-size: 12px;
    font-weight: 800 !important;
    height: 19px;
    margin: -7px 36px 0 0;
    outline: medium none;
    padding: 8px 12px 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
li#page-cart div.card-info {
    height: 43px;
    margin-top: 40px;
    width: auto;
}
li#page-cart div.card-info > div.quan-deltype-align{
    width: auto;
}
li#page-cart div.card-info > div.quan-deltype-align:nth-child(1){
    width: 515px;
}
li#page-cart div.card-info > div.quan-deltype-align:nth-child(2){
    width: auto;
}
li#page-cart div.card-info > div.quan-deltype-align:nth-child(3){
    width: auto;
}
.quan-deltype-align div{
    margin-bottom: 6px;
}
.cart-page-headings {
    display: block;
    float: left;
    margin: 0;
    width: 178px;
    padding-right: 10px;
}
.cart-page-headings{
    width: 120px;
}

.cart-page-headings.ph2{
    width: 510px;
}
.cart-page-headings.ph4{
    width: 100px;
}
div#cards-wrapper ul#cards div li:nth-child(2n+1), div#cards-wrapper ul#cards div li:nth-child(2n) {
    height: 123px;
    padding: 20px 0;
}
li#page-cart #cards > div > li {
    margin: 0;
}
li#page-cart div.card-img {
    float: left;
    margin: 0 45px 0 0;
    display: block;
}
li#page-cart div.card-img img {
    box-shadow: none;
    cursor: pointer;
    display: block;
    float: left;
    position: relative;
    /*height: 125px;*/
    height: auto;
    width: 92px;
}
#check-out-info {
    margin: 10px auto;
    text-align: center;
}
.cus-nav-border {
    border-bottom: 1px solid #D7D7D7;
    display: block;
    height: 0;
    margin: 0 0 0 9px;
    width: 244px;
}
#control .button {
    margin-left: 20px !important;
}
label {
    line-height: 15px;
}
/*.group-error */
.lang-fr .error-in:before, .lang-en  .error-in:before{
    background-image: url("../../images/error.png");
    background-repeat: no-repeat;
    background-position: left; 
    display: block;
    height: 22px;
    width: 60px;
    content: "Désolé,";
    clear: both;
    overflow:hidden;
    padding:12px 0 6px 24px;
    font-weight: bold;
    font-size: 16px;
    font-family: arial, sans-serif;
} 
.lang-en  .error-in:before{
    content: "Sorry!,";
    width: 46px;
}
li#cc-info div.pages-nav img, li#billing-info div.pages-nav img{
    display: none;
}