body{
	background: #F2F2F2;
	color: #333;
	font: $fs-micro $main-font;
	height: auto;
	line-height: 100%;
	position: relative;
}

a{
	outline: 0;
	color: $link-color;
}

b{
	font-weight: 700;
}

details{
	display: inline-block;
}

footer{
	@include border-box;
	@include fdp;
	background: #1E272F;
	color: #fff;
	font-size: 12px;
	margin: 0;
	text-align: center;
	width: 100%;
	padding: 20px 0;
}

header{
	background: #fff;
	// color: #fff;
	display: block;
	height: 100px;
	margin: 30px 0 0;
	position: relative;
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #D9D9D9;

	// .wrap{
	// 	background: #000;
	// 	border-bottom: 6px solid #A6A685;
	// 	height: 100%;
	// }
}

iframe{
	width: 100%;
}

p{
	@include fdp;
	@include border-box;
	width: 100%;
}


