header{
	@include border-box;
	display: block;
	float: left;
	margin: 0 0 15px;
	position: relative;
	width: 100%;

	#status-bar{
		@include fdp;
		@include border-box;
		margin: 12px 22px;
		width: 100%
	}

	.titles-2 > .status-page{
		height: 34px;
		// width:  310px;
		width:  50%;
	}
	.titles-3 > .status-page{
		height: 34px;
		width:  33%;
	}

	.status-page{
		display: inline;
		float: left;
		position: relative;
	}

	.theme-color-bg{
		@include circle(40px);
		border: 7px solid $header-color;
		display: inline;
		float: left;
		height: 35px;
		position: relative;
		width: 35px;

		// &:after{
		// 	@include circle(40px);
		// 	content: "";
		// 	display: block;
		// 	float: left;
		// 	height: 35px;
		// 	position: absolute;
		// 	width: 35px;
		// 	z-index: $z-1;
		// }

		& > div{
			@include border-box;
			@include circle(40px);
			color: $header-color;
			display: inline;
			float: left;
			font-family: "GothamBold";
			font-size: $fs-medium + 2;
			font-weight: 400;
			height: 100%;
			line-height: 100%;
			padding: 8px 0 0;
			position: relative;
			text-align: center;
			width: 100%;
		}
	}

	.active > .theme-color-bg{
		background: #c5e5e0;

		& > div{
			
		}
	}

	.page-title{
		@include fdp;
		color: $theme-color2;
		font-family: "GothamBold";
		font-size: $fs-small;
		font-weight: 400;
		padding: 15px 0 0 10px;
		text-transform: uppercase;
	}

	#notification-icon {
		@include shadow;
		@include circle;
		background: #FF0000;
		border: 2px solid #FFFFFF;
		color: #fff;
		cursor: pointer;
		display: block;
		float: left;
		font-weight: bold;
		height: 14px;
		padding: 0 5px 5px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -12px;
		width: auto;
	}
}
