@font-face {
    font-family: 'BaskervilleItalic';
    src: url('fonts/baskerville-italic.eot');
    src: url('fonts/baskerville-italic.eot') format('embedded-opentype'), url('fonts/baskerville-italic.woff2') format('woff2'), url('fonts/baskerville-italic.woff') format('woff'), url('fonts/baskerville-italic.ttf') format('truetype'), url('fonts/baskerville-italic.svg#BaskervilleItalic') format('svg');
}

@font-face {
    font-family: 'BaskervilleSemiBold';
    src: url('fonts/baskerville-semibold.eot');
    src: url('fonts/baskerville-semibold.eot') format('embedded-opentype'), url('fonts/baskerville-semibold.woff2') format('woff2'), url('fonts/baskerville-semibold.woff') format('woff'), url('fonts/baskerville-semibold.ttf') format('truetype'), url('fonts/baskerville-semibold.svg#BaskervilleSemiBold') format('svg');
}

@font-face {
    font-family: 'GothamBold';
    src: url('fonts/gotham-bold.eot');
    src: url('fonts/gotham-bold.eot') format('embedded-opentype'), url('fonts/gotham-bold.woff2') format('woff2'), url('fonts/gotham-bold.woff') format('woff'), url('fonts/gotham-bold.ttf') format('truetype'), url('fonts/gotham-bold.svg#GothamBold') format('svg');
}
