.content{
	padding: 0;
}

.wrap{
	width: 980px;
	margin: auto;

	&:empty{
		visibility: none;
	}
}

.wrap-bg{
	margin: auto;
	padding: 0;
	@include rounded(0 0 10px 10px);
}

#logo {
	background: url("img/3ds-logo.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	float: left;
	height: 100px;
	width: 140px;
}

.current-tab{
	@include fdp;
	background: url("img/3ds-link.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 46px;
	width: 162px;
}

.mod-banner{
	height: 184px;
	background: #000 url(img/3ds-hero.jpg) center top no-repeat;

	.left {
		float: left;
		padding: 100px 0 5px;
	}

	.title {
		color: #ffffff;
		font-size: 10px;
		font-family: times;
		font-weight: 700;
		line-height: 40px;
		text-transform: uppercase;
	}

	.header {
		font-size: 38px;
		color: #ffffff;
		font-weight: 700;
		text-transform: uppercase;
	}
}