
// // Colors
$theme-color 				: #47a2d9 !default;
// $bg-color 					: #fff    !default;
// $font-color 				: #404040 !default;

// $bg-transparent 			: rgba(0,0,0,0.5);
// $border-color 				: #e0e2e4 !default;

// $bt-bg 						: #E5E5E5 !default;
// $bt-main-bg 				: #4e97d6 !default;
// $bt-text-color				: $font-color !default;
// $bt-main-text-color			: #fff !default;

// $header-color 				: $theme-color  !default;
// $header-text-color 			: $font-color   !default;
// $input-color 				: $font-color   !default;
// $label-color 				: $font-color   !default;
$link-color 				: $theme-color  !default;
// $title-color				: $font-color   !default;


// //Fonts
$main-font					: 'HelveticaNeueLight', Helvetica, Arial !default;
// $header-font 				: $main-font !default;
// $input-font 				: $main-font !default;
// $label-font 				: $main-font !default;
// $title-font 				: $main-font !default;


// // Font sizes
$fs-micro 					: 12px !default;
$fs-small 					: 14px !default;
$fs-medium 					: 18px !default;
$fs-big 					: 28px !default;


// // General
// $border 					: 1px solid $border-color;
// $bt-float 					: right !default;
// $bt-padding 				: 12px;
// $field-padding				: 20px 20px 15px !default;
// $gcp-content 				: '#buyatabContent';
// $images-path				: 'img/';
$rounded 					: 3px !default;


// Z-index
$z-1 						: -1;
$z1 						: 1;
$z2 						: 10;
$z3 						: 100;
$z4 						: 1000;
$z5 						: 10000;
$z6 						: 100000;