/*
Error: Invalid CSS after "...>eGift: Card #{": expected expression (e.g. 1px, bold), was "{{card.barcode}..."
        on line 196 of /Volumes/C/Development/BuyatabDotCom/gcp/view/template/131/template/ecard.js

191: 				'{{/if}}',
192: 			'</ul>',
193: 		'</div>'
194: 	].join('\n'),
195: 
196: 	_barcode:['<div id="bar-wrap"><div class="center tab">eGift: Card #{{{card.barcode}}}</div></div>'].join('\n'),
197: 	// _barcode:['<div id="bar-wrap"><canvas id="barcode" width=1 height=1 style="border:1px solid #fff;visibility:hidden"></canvas><div class="barcode-number">{{{card.barcode}}}</div><div id="barcode_instructions">{{{card.barcode_zoom}}}</div></div>'].join('\n'),
198: 
199: 	_numbers:[
200: 		'<div id="card-numbers">',
201: 			'{{#unless merchant.barcode}}',

Backtrace:
/Volumes/C/Development/BuyatabDotCom/gcp/view/template/131/template/ecard.js:196
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/scss/parser.rb:1163:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/script/lexer.rb:220:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/script/parser.rb:572:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/script/parser.rb:46:in `parse_interpolated'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:1176:in `block in parse_interp'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/shared.rb:18:in `handle_interpolation'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:1166:in `parse_interp'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:1145:in `parse_interp'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:691:in `parse_property_or_rule'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:647:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:525:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:544:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:543:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:543:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:534:in `block in build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:527:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:527:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:544:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:543:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:543:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:396:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:396:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.5/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...>eGift: Card #{\": expected expression (e.g. 1px, bold), was \"{{card.barcode}...\"\A         on line 196 of /Volumes/C/Development/BuyatabDotCom/gcp/view/template/131/template/ecard.js\A \A 191: 				'{{/if}}',\A 192: 			'</ul>',\A 193: 		'</div>'\A 194: 	].join('\n'),\A 195: \A 196: 	_barcode:['<div id=\"bar-wrap\"><div class=\"center tab\">eGift: Card #{{{card.barcode}}}</div></div>'].join('\n'),\A 197: 	// _barcode:['<div id=\"bar-wrap\"><canvas id=\"barcode\" width=1 height=1 style=\"border:1px solid #fff;visibility:hidden\"></canvas><div class=\"barcode-number\">{{{card.barcode}}}</div><div id=\"barcode_instructions\">{{{card.barcode_zoom}}}</div></div>'].join('\n'),\A 198: \A 199: 	_numbers:[\A 200: 		'<div id=\"card-numbers\">',\A 201: 			'{{#unless merchant.barcode}}',"; }
