#bar-wrap{
	@include fdp;
	margin: 20px 0 20px;
	text-align: center;
	width: 100%;

	@media #{$iPhone-landscape}{
		margin: 70px 0 20px
	}

	@media #{$iPhone-portrait}{
		margin: 70px 0 20px
	}
	
	#barcode{
		margin: 0 auto 10px;

		div:last-child{
			@include txt-shadow;
			background-color: none !important;
			color: #404040 !important;
			font-size: 18px !important;
			left: 0 !important;
			margin-top: 0 !important;
			position: absolute !important;
			text-align: center !important;
			top: 35px !important;
			width: 100% !important;

			@media #{$iPhone-landscape}{
				top: -30px !important;
				font-size: $mobile-font-size !important;
			}

			@media #{$iPhone-portrait}{
				top: -30px !important;
				font-size: $mobile-font-size !important;
			}
		}
	}

	#barcode_instructions{
		font-size: $mobile-font-size - 8;
	}

	&.full-view{
		text-align: center;

		#barcode_instructions{
			display: none;
		}

		@media #{$iPhone-landscape}{
			background: #fff;
			height: 100%;
			left: 0;
			margin: 0;
			position: fixed;
			top: 0;
			width:  100%;
			z-index: 99999;
		}

		@media #{$iPhone-portrait}{
			background: #fff;
			height: 100%;
			left: 0;
			margin: 0;
			position: fixed;
			top: 0;
			width:  100%;
			z-index: 99999;
		}

		#barcode{

			@media #{$iPhone-landscape}{
				// left: 0;
				margin: 15% auto 0;
				// position: absolute;
				// top: 50%;
				width: 90%;

			}

			@media #{$iPhone-portrait}{
				// left: 0;
				margin: 50% auto 0;
				// position: absolute;
				// top: 50%;
				width: 90%;
			}
		}
	}

	.barcode-number{
		visibility: hidden;
	}
}