.card-image{
	display: block;
	height: 280px;
	margin: 0 auto;
	width:  460px;

	@media #{$iPhone-landscape}{
		width: 400px;
		height: auto;
	}

	@media #{$iPhone-portrait}{
		width: 500px;
		height: auto;
	}
}
.animation{
	.amount{
		background: none;
		font-size: 30px;
		margin: 0;
	}
}

.amount{
	@include border-box;
	background: url("../image/value-bg.png") no-repeat scroll center center;
	color: $link-color;
	float: left;
	font-family: $font;
	font-size: 36px;
	font-weight: 100;
	line-height: 100%;
	margin: 30px 0 20px;
	position: relative;
	width: 100%;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size + 25;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size + 25;
	}
}

.message{
	@include border-box;
	float: left;
	font-size: 14px;
	font-weight: 100;
	line-height: 100%;
	margin: 10px 0;
	padding: 0 20px;
	position: relative;
	// text-align: justify;
	width: 100%;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size - 3;
		line-height: 100%;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size;
		line-height: 100%;
	}
}

.am-greetings{
	color: $link-color;
	margin: 10px 0 35px 0;
	font-size: 14px;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size;
		line-height: 100%;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size;
		line-height: 100%;
	}
}

.how-use{
	@include border-box;
	@include fdp;
	padding: 20px;
	margin: 0;
	border-top: 1px solid $link-color; 

	h2{
		margin: 15px 0;
		text-align: left;
	}

	ul{
		@include fdp;		
	}

	li{
		@include fdp;
		height: 50px;
		width: 100%;
		margin: 0;
		padding: 10px 0 10px 25px;

		@media #{$iPhone-landscape}{
			height: auto;
			margin: 10px 0;
		}

		@media #{$iPhone-portrait}{
			height: auto;
			margin: 10px 0;
		}

		.title-descripton{
			@include fdp;
			width: 350px;
			padding: 2px 0 0 16px;

			@media #{$iPhone-landscape}{
				position: relative;
				clear: none;
				display: inline-block;
				padding: 10px 0 0 4px;
				width: 350px;
			}

			@media #{$iPhone-portrait}{
				clear: none;
				display: inline-block;
				position: relative;
				width: 350px;
				padding: 28px 0 0 25px;
			}

			span{
				color: $font-color; 

				@media #{$iPhone-landscape}{
					font-size: $mobile-font-size - 3;
					width: 100%;
					position: relative;
					display: block;
					line-height: $mobile-font-size;
				}

				@media #{$iPhone-portrait}{
					width: 100%;
					font-size: $mobile-font-size - 3;
					position: relative;
					display: block;
					line-height: $mobile-font-size;
				}
			}
		}
	}

	a{
		@include fdp;
		margin: 0;
		width:  100%;

		@media #{$iPhone-landscape}{
			width: 100%;
			margin: 10px 0px;
		}

		@media #{$iPhone-portrait}{
			width: 100%;
			margin: 10px;
		}

		> .fa-stack{
			@include fdp;
			height: auto;
			margin: auto;
			width:  40px;

			@media #{$iPhone-landscape}{
				width: 80px;
				margin: 10px 25px;
			}

			@media #{$iPhone-portrait}{
				width: 118px;
			}

			i{
				@include border-box;
				@include circle;
				@include fdp;
				border: 1px solid $bt-bg;
				text-align: center;
				clear: both;
				font-size: 20px;
				margin: 0;
				padding: 10px 0 0;
				height: 40px;
				width: 40px;

				@media #{$iPhone-landscape}{
					font-size: 40px;
					height: 70px;
					margin: 0;
					padding: 15px 0 0;
					width:  70px;
				}

				@media #{$iPhone-portrait}{
					font-size: 70px;
					height: 120px;
					margin: 0;
					padding: 22px 0 0;
					width:  120px;
				}
			}

			span{
				@include fdp;
				width: 100%;
				text-align: center;
				line-height: 100%;

				@media #{$iPhone-landscape}{
					text-transform: lowercase;
					font-size: $mobile-font-size - 2;

				}

				@media #{$iPhone-portrait}{
					// height: 20px;
					font-size: $mobile-font-size - 2;
					text-transform: lowercase;
				}
			}
		}
		&:hover{
			i{
				@extend .fa-inverse;
				@include transition(all 0.4s ease 0s);
				background:$bt-bg;
			}
		}
	}
}

.actions{
	@include fdp;
	margin: 20px 0;
	width: 100%;
	text-align: right;

	@media #{$iPhone-landscape}{
		@include border-box;
		// padding: 0 5%;
	}

	@media #{$iPhone-portrait}{
		@include border-box;
		// padding: 0 5%;
	}
}

#bar-wrap{
	@include fdp;
	margin: 50px 0 20px;
	text-align: center;
	width: 100%;

	@media #{$iPhone-landscape}{
		margin: 70px 0 20px
	}

	@media #{$iPhone-portrait}{
		margin: 70px 0 20px
	}
	
	#barcode{
		margin: 0 auto;

		div:last-child{
			@include txt-shadow;
			background-color: none !important;
			color: #404040 !important;
			font-size: 12px !important;
			left: 0 !important;
			margin-top: 0 !important;
			position: absolute !important;
			text-align: center !important;
			top: -18px !important;
			width: 100% !important;

			@media #{$iPhone-landscape}{
				top: -30px !important;
				font-size: $mobile-font-size - 5 !important;
			}

			@media #{$iPhone-portrait}{
				top: -30px !important;
				font-size: $mobile-font-size - 5 !important;
			}
		}
	}
}

#card-numbers{
	@include fdp;
	width: 100%;
	margin: 0 0 35px;
	// color: $link-color;
	text-align: center;
	font-size: 18px;

	div{
		margin: 5px 0;
	}

	span{
		color: $font-color;
		margin: 0 5px 0 0;
	}

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size - 5;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size - 5;
	}
}

.support{
	@include fdp;
	width: 100%;
	font-size: 12px;

	@media #{$iPhone-landscape}{
		font-size: $mobile-font-size - 8;
		line-height: 100%;
	}

	@media #{$iPhone-portrait}{
		font-size: $mobile-font-size - 8;
		line-height: 100%;
	}

	p{
		width: 100%;
		margin: 0;
	}
}

.logos{
	@include fdp;
	width: 100%;
	margin: 10px auto;
	height: 50px;
}

.logo{
	display: inline-block;
	float: right;
	height: 45px;
	position: relative;
	width: 100px;

	&.top-logo{
		float: left;
		height: 64px;
		width:  124px;
	}

	&.buyatab{
		background: url('../../215/images/logo.png') center no-repeat;
	}

	&.tim{
		background: url('../images/logo-us.png') center no-repeat;
	}
}

.logo + .logo{
	margin: 0 0 0 20px;
}

.card-options{
	@include fdp;
	margin: 20px 0;
	padding: 20px 0;
	text-align: center;
	width: 100%;

	ul{
		display: inline-block;

		li{
			clear: none;
			display: inline;
		}
	}

	a{
		@include fdp;
		margin: 20px 14px;
		width:  110px;

		@media #{$iPhone-landscape}{
			width: 80px;
			margin: 10px 25px;
		}

		@media #{$iPhone-portrait}{
			width: 200px;
			margin: 10px 34px;
		}

		> .fa-stack{
			@include fdp;
			height: auto;
			margin: auto;
			width:  100%;

			i{
				@include border-box;
				@include circle;
				@include fdp;
				border: 1px solid $bt-bg;
				text-align: center;
				clear: both;
				font-size: 30px;
				margin: 10px 34px 0;
				padding: 10px 0 0;
				height: 50px;
				width: 50px;

				@media #{$iPhone-landscape}{
					font-size: 40px;
					height: 70px;
					margin: 20px 5px 0;
					padding: 15px 0 0;
					width:  70px;
				}

				@media #{$iPhone-portrait}{
					font-size: 70px;
					height: 120px;
					margin: 20px 40px 0;
					padding: 22px 0 0;
					width:  120px;
				}
			}

			span{
				@include fdp;
				width: 100%;
				text-align: center;
				line-height: 100%;

				@media #{$iPhone-landscape}{
					text-transform: lowercase;
					font-size: $mobile-font-size - 5;

				}

				@media #{$iPhone-portrait}{
					// height: 20px;
					text-transform: lowercase;
				}
			}
		}
		&:hover{
			i{
				@extend .fa-inverse;
				@include transition(all 0.4s ease 0s);
				background:$bt-bg;
			}
		}
	}
}
.banner{
	text-align: center;

	img{
		width: 600px;
		height: auto;
		text-align: center;

		@media #{$iPhone-landscape}{
			width: 535px;
		}

		@media #{$iPhone-portrait}{
			width: 535px;
		}
	}
}

.replay{
	@include border-box;
	@include fdp;
	width: 100%;
	margin: 10px 0;
}



