#wrapper {
    min-width: 100%;
    position: relative;
}

.container{
	@include backface-visibility(hidden);
	width: $fixed-width;
	margin: auto;

	@media #{$iPhone-landscape}{
		@include border-box;
		overflow: hidden;
		padding: 0 5%;
		width: 100%;
	}

	@media #{$iPhone-portrait}{
		@include border-box;
		overflow: hidden;
		padding: 0 5%;
		width: 100%;
	}
}


#content{
	@include backface-visibility(hidden);
	@include fdp;
	margin: 0 auto;
	padding: 0;
}

#ecard-wrap{
	@include backface-visibility(hidden);
	@include fdp;
	margin: 0 auto;
	padding: 20px 40px 0;
	background: #fff;

	&:empty{
		visibility: hidden;
	}

	@media #{$iPhone-landscape}{
		padding: 20px 10px 0;
	}

	@media #{$iPhone-portrait}{
		padding: 20px 10px 0;
	}
}

#card{
	@include fdp;
	width: 100%;

}

#text{
	@include fdp;
}

.instructions{
	@include fdp;
	& > div{
		@include fdp;
		width: 100%;
	}
}
.previewstyle-0{
	
}

.previewstyle-1{

	.card-image{
		height: 280px;
		width:  460px;

		@media #{$iPhone-landscape}{
			width: 400px;
			height: auto;
		}

		@media #{$iPhone-portrait}{
			width: 500px;
			height: auto;
		}
	}

	.amount{
		// margin: 30px 0 20px;
		// position: relative;
		// width: 100%;
	}

	.message{
	}
}